{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h1 class="nhsuk-heading-xl">Accessibility statement for NHS Volunteering[PENDING REPORT]</h1>
<p>This accessibility statement applies to <a href="volunteering.england.nhs.uk" class=“volunteering.england.nhs.uk”>https://volunteering.england.nhs.uk</a>.</p>
  <p>This website is run by NHS Business Services Authority on behalf of NHS England and will be referred to as ‘we’ from now on.</p>
  <p>We want as many people as possible to be able to use this website.</p>
  <p>For example, that means you should be able to:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>use your web browser to change colours, contrast levels and fonts</li>
  <li>zoom in up to 400% without the text spilling off the screen</li>
  <li>navigate most of the website using a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  <li>access the website using a mobile or tablet</li>
</ul>
<p>We’ve also made the website text as simple as possible to understand.</p>
<p><a href="https://mcmw.abilitynet.org.uk" class=“https://mcmw.abilitynet.org.uk”>AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>


  <h2 class="nhsuk-heading-l">How accessible this website is</h2>
  <p>We know some parts of this website are not fully accessible:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>the text will not reflow in a single column when you change the size of the browser window</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>you cannot change the line height or spacing of text</li>
  <li>some of our online forms are difficult to navigate using just a keyboard</li>
  <li>you cannot skip to the main content when using a screen reader</li>
</ul>

  <h2 class="nhsuk-heading-l">Feedback and contact information</h2>
  <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille email the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class=“Your NHS Volunteering query”>nhsvolunteering@nhsbsa.nhs.uk</a>.</p>
  <p>We’ll consider your request and get back to you as soon as possible.</p>
  

  <h2 class="nhsuk-heading-l">Reporting accessibility problems with this website</h2>
  <p>We’re always looking to improve the accessibility of this website.</p>
  <p>You can email NHS Business Services Authority at <a href="mailto:nhsbsa.accessibility@nhs.net" class=“Your NHS Volunteering query”>nhsbsa.accessibility@nhs.net</a> about any problems that are not listed on this page or if you think we’re not meeting accessibility requirements.</p>
  <p>This inbox is only for accessibility queries. This inbox is not for technical queries or IT problems. If you have a query that is not about accessibility, go to the 'Contact us' section of this page.</p>


  <h2 class="nhsuk-heading-l">Enforcement procedure</h2>
  <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
  <p>If you’re not happy with how we respond to your complaint, contact <a href="https://www.equalityadvisoryservice.com/app/ask" class="nhsuk-link">the Equality Advisory and Support Service (EASS)</a>.</p>


  <h2 class="nhsuk-heading-l">Contact us</h2>
  <p>For queries not related to accessibility, you can email the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class=“Your NHS Volunteering query”>nhsvolunteering@nhsbsa.nhs.uk</a>.</p>

  <h2 class="nhsuk-heading-l">Technical information about this website’s accessibility</h2>
  <p>NHS Business Services Authority is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>


  <h2 class="nhsuk-heading-l">Compliance status</h2>
  <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21" class=“https://www.w3.org/TR/WCAG21”>Web Content Accessibility Guidelines version 2.1</a>AA standard, due to the non-compliances and exemptions listed below.</p>

  <h3 class="nhsuk-heading-m">Non-accessible content</h3>
  <p>We know some parts of this website are not fully accessible:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>pending accessibility report [INSERT]</li>
  <li>pending accessibility report [INSERT]</li>
  <li>pending accessibility report [INSERT]</li>
</ul>
  <h3 class="nhsuk-heading-m">Non-compliance with the accessibility regulations</h3>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>pending accessibility report [INSERT]</li>
  <li>pending accessibility report [INSERT]</li>
  <li>pending accessibility report [INSERT]</li>
</ul>

  <h2 class="nhsuk-heading-l">Disproportionate burden</h2>
  <h3 class="nhsuk-heading-m">Navigation and accessing information</h3>
  <p>There’s no way to skip the repeated content in the page header (for example, a 'skip to main content' option).</p>
  <p>It’s not always possible to change the device orientation from horizontal to vertical without making it more difficult to view the content.</p>
  <p>It’s not possible for users to change text size without some of the content overlapping.</p>

  <h3 class="nhsuk-heading-m">Interactive tools and transactions</h3>
  <p>Some of our interactive forms are difficult to navigate using a keyboard. For example, because some form controls are missing a 'label' tag.</p>
  <p>Our forms are built and hosted through third party software and 'skinned' to look like our website.</p>
  <p>We’ve assessed the cost of fixing the issues with navigation and accessing information, and with interactive tools and transactions. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made" class="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden</a> within the meaning of the accessibility regulations.</p>
  <p>We will make another assessment when the supplier contract is up for renewal, likely to be in the next twelve months [REQUIRES CONFIRMATION].</p>

  <h2 class="nhsuk-heading-l">What we are doing to improve accessibility</h2>
  <p>We’re committed to making sure this website is compliant to WCAG 2.1 'AA' standard. </p>
  <p>Our accessibility compliance statement will be reviewed every 6 months. Every new released website will be designed, built and tested to meet 'AA' standards by default.</p>

  <h2 class="nhsuk-heading-l">Preparation of this accessibility statement</h2>
  <p>This statement was prepared on 10 October 2023. It was last reviewed on 13 December 2023.</p>
  <p>This website was last accessibility tested on [ADD DATE] by KAINOS Ltd.</p>
  <p>We tested all of the website screens to meet WCAG 2.1 AA standards, using manual and automated tests.</p>
  <p>We run each webpage through automated Wave, Lighthouse and Axe accessibility tools and then manually test with screen readers (VoiceOver) and standards checklists.</p>
  <p>The checklists contain standards that have been compiled using WCAG, NHS service manual and Government Digital Service (GDS) guidance.</p>














  
</div>
</div>




















{% endblock %}

