{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h1 class="nhsuk-heading-xl">Help and support</h1>
<h2 class="nhsuk-heading-l">If you need help with using the NHS Volunteering service</h2>
<p>Email the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class="Your NHS Volunteering query">nhsvolunteering@nhsbsa.nhs.uk</a>.</p>

  <h2 class="nhsuk-heading-l">If you have a query about an opportunity or the progress of your registration</h2>
<p>Contact the volunteering service team at your chosen organisation.</p>
  <p>You can find the contact details on the opportunity page. If you have already registered, you can use the details in the confirmation email.</p>

</div>
</div>




















{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
