{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <button class="nhsuk-back-link__link" onclick="history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</button>
  </div>

<h1 class="nhsuk-heading-xl">Privacy policy</h1>
<p>This website is run by NHS Business Services Authority on behalf of NHS England and will be referred to as 'we' from now on. </p>
<p>As data processor, we are responsible for how we use, keep and share your information.</p>

<h2 class="nhsuk-heading-l">What information we collect</h2>
<p>The personal data we collect from you includes: </p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>your name and email address when you register for an opportunity</li>
  <li>your postcode and address if you use the postcode or address lookup function on this service</li>
  <li>questions, queries or feedback you leave, including your email address if you contact NHS Volunteering</li>
  <li>your equality information, including your age range if you complete the optional questions when registering through NHS Volunteering</li>
<li>your Internet Protocol (IP) address, and details of which version of web browser you used</li>
<li>information on how you use the site, <a href="cookies">using cookies</a> and page tagging techniques
</ul>


<h2 class="nhsuk-heading-l">Why we need your data</h2>
<p>The law requires us to process your information so that the potential organisation you volunteer with can:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>check you're eligible to volunteer</li>
  <li>monitor the diversity of volunteers to ensure we comply with the Equality Act 2010</li>
</ul>
<p>We collect your personal data so that we can:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>personalise your visits to NHS Volunteering and improve the services we provide</li>
  <li>provide customer service and support</li>
<li>communicate with you on a personal level</li>
<li>measure the performance of our service</li>
</ul>


  <h2 class="nhsuk-heading-l">What we do with your data</h2>
<p>We may share your information with:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>the NHS organisations you apply to volunteer with. They will hold copies of your application locally in their own systems as part of their registration process</li>
  <li>NHS England for summary monitoring purposes</li>
  <li>any other organisation who has a legal right to it</li>
</ul>
<p>We will not:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>pass on your details to any third party or other government department for marketing purposes</li>
  <li>NHS England for summary monitoring purposes</li>
  <li>transfer your personal data outside of the UK or the <a href="https://www.gov.uk/eu-eea" class="European Union (EU)" target="_blank" rel="noopener noreferrer">European Union (EU) (opens in a new tab)</a></li>
</ul>

 <h2 class="nhsuk-heading-l">How long we keep your data</h2>
<p>We will only retain your personal data for as long as it is needed for the purposes set out in this document or for as long as the law requires us to.</p>
  <p>We will:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>keep your personal information for 730 days from the day you submit your registration</li>
  <li>delete access log data which contain your IP address after 120 days</li>
</ul>

  <h2 class="nhsuk-heading-l">Children’s privacy protection</h2>
<p>Our services are not designed for, or intentionally targeted at, children 16 years of age or younger.</p>

    <h2 class="nhsuk-heading-l">How we protect your data and keep it secure</h2>
<p>We have a legal duty to protect any information we collect from you. We use leading technologies and encryption software to safeguard your data and keep strict security standards to prevent any unauthorised access to it.</p>

  <h2 class="nhsuk-heading-l">Your rights</h2>
  <p>We manage the information you provide as required by Data Protection law. You have the right to:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>receive a copy of the information we hold about you</li>
  <li>request to change any information about you that is incorrect</li>
  <li>request to delete your information if you believe we are processing it for longer than is necessary</li>
</ul>
  

  <h2 class="nhsuk-heading-l">Links to other websites</h2>
  <p>NHS Volunteering contains links to other websites.</p>
  <p>This privacy statement only covers the NHS Volunteering website. It does not cover other services and websites that it links to, so you should always be aware when you are moving to another site and read the privacy statement on that site.</p>


  <h3 class="nhsuk-heading-m">Following a link to another website</h3>
  <p>If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>

<h3 class="nhsuk-heading-m">Following a link to NHS Volunteering from another website</h3>
<p>If you come to NHS Volunteering from another website, we may receive personal information from the other website. You should read the privacy policy of the website you came from to find out more about this.</p>

  <h2 class="nhsuk-heading-l">Contact us</h2>
  <p>If you have any questions about the information in this document or the practices of this website, please email the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class="Your NHS Volunteering query">nhsvolunteering@nhsbsa.nhs.uk</a>.</p>

  <h2 class="nhsuk-heading-l">Changes to our policy</h2>
  <p>If our privacy policy changes in any way, we will place an updated version on this page.</p>

<p class="nhsuk-body-s">Last updated 13 December 2023 </p>










</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
