{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <button class="nhsuk-back-link__link" onclick="history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</button>
  </div>

<h1 class="nhsuk-heading-xl">Terms and conditions for recruiting organisations</h1>
<p>This page and any pages it links to explains NHS Volunteering's terms of use.</p>
<p>You must agree to these to use NHS Volunteering.</p>

<h2 class="nhsuk-heading-l">Who we are</h2>
<p>NHS Volunteering is run by NHS Business Services Authority on behalf of NHS England and will be referred to as 'we' from now on.</p>
   


 <h2 class="nhsuk-heading-l">Definitions</h2>
  <p>We have defined terms and expressions used in this document to provide clarity.</p>
<details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
       Table of definitions
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Terms and definitions</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Term
            </th>
            <th role="columnheader" class="" scope="col">
              Definition
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Data controller</td>
            <td class="nhsuk-table__cell ">as defined in Data Protection Legislation and Article 26 of the General Data Protection Regulation (GDPR)</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Data processer</td>
            <td class="nhsuk-table__cell ">as defined in Data Protection Legislation. The definitions of 'processed' and 'processing' will apply accordingly</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS Volunteering team</td>
            <td class="nhsuk-table__cell ">NHS Business Services Authority and NHS England who manage and deliver NHS Volunteering</td>
            </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Offline</td>
            <td class="nhsuk-table__cell ">an activity completed outside of NHS Volunteering. This includes your own or a third-party applicant tracking system (for example, a spreadsheet or another manual process)</td>
                </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Online</td>
            <td class="nhsuk-table__cell ">an activity recorded in an online solution such as internal or third-party applicant tracking system</td>
                </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Organisation</td>
            <td class="nhsuk-table__cell ">an organised group of people with a particular purpose, such as a business or government department</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Recruiting organisation</td>
            <td class="nhsuk-table__cell ">the organisation that is looking to fill a volunteering opportunity</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Service</td>
            <td class="nhsuk-table__cell ">the NHS Volunteering recruitment platform and helpdesk services</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Super user</td>
            <td class="nhsuk-table__cell ">a user with administration rights for the recruiting organisation and who resolves first line queries</td>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Third party</td>
            <td class="nhsuk-table__cell ">a person, an organisation or an entity like a supplier involved in a process besides the two main parties</td>
          </tr>
              </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">User</td>
            <td class="nhsuk-table__cell ">a person with access and editing rights to use NHS Volunteering</td>
      </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Volunteer</td>
            <td class="nhsuk-table__cell ">an individual searching and applying for a volunteering opportunity</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">You and your</td>
            <td class="nhsuk-table__cell ">refers to your organisation as a user of the NHS Volunteering service</td>
          </tr>
      </table>
    </div>
  </details>


<h2 class="nhsuk-heading-l">Intellectual property and permitted use</h2>  
<p>NHS Business Services Authority is the owner or licensee of all intellectual property rights in NHS Volunteering and the material published on it. Those works are protected by copyright laws and treaties worldwide. All such rights are reserved.</p>
<p>You may print and download extracts from NHS Volunteering for personal non-commercial use, as long as you do not:</p>
   <ul class="nhsuk-list nhsuk-list--bullet">
       <li>change any documents or related graphics in any way</li>
       <li>separate any graphics from accompanying text</li>
     <li>remove any copyright and trade mark notices</li>
     </ul>
  <h3 class="nhsuk-heading-m">Linking to NHS Volunteering</h3>
  <p>External organisations may link to live opportunities from NHS Volunteering. They may advertise them on their own recruitment platforms.</p>
  <p>We do not give permission to suggest that other websites are associated with, or endorsed by, NHS Business Services Authority.</p>
  <p>We reserve the right to move or change our website URLs at any time.</p>
  
  <h2 class="nhsuk-heading-l">Use of NHS Volunteering</h2>
  <p>NHS Volunteering is a service centrally funded by NHS England. The following organisations based in England can use NHS Volunteering without charge:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>NHS organisations, including NHS trusts, ambulance trusts, GP practices </li>
       <li>Voluntary, community or social enterprise (VCSE) partner organisations</li>
     </ul>
  <p>The NHS Volunteering team may consider other requests to use the NHS Volunteering service. They may grant access where appropriate.</p>
  <p>When reviewing requests, the NHS Volunteering team will consider some of these points:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
       <li>the impact to NHS health and social care services</li>
       <li>the volunteering and recruiting organisation experience</li>
    <li>the cost to the public</li>
    <li>removing any potential for financial gain</li>
    <li>the potential loss of data or reporting capability</li>
     </ul>
<p>This list is not exhaustive.</p>
  <p>You agree to use NHS Volunteering to advertise volunteering opportunities that:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
       <li>relate to live volunteering roles that support the provision of healthcare in England</li>
       <li>are commissioned or funded by NHS England, Department of Health and Social Care, or any other body forming part of the NHS in England</li>
    <li>have not been filled prior to advertisement</li>
     </ul>
  <p>You agree not to use NHS Volunteering in any way that is unlawful, illegal or detrimental to the NHS Volunteering service, the organisations using NHS Volunteering, the volunteers, NHS Business Services Authority or NHS England.</p>
  <p>And you agree not to:</p>
   <ul class="nhsuk-list nhsuk-list--bullet">
       <li>use NHS Volunteering for commercial purposes without obtaining our prior written agreement</li>
       <li>copy, reproduce, distribute, republish, download, display, post or transmit in any form or by any means any of the content on NHS Volunteering except as permitted above</li>
     </ul>
  <p>You are responsible for the accuracy of any information you present on NHS Volunteering. You must not publish any material that:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>is in violation of any law or regulation that is enforceable in the United Kingdom</li>
    <li>is illegal, inappropriate or offensive - this includes material for internal use as well as for external publication</li>
    <li>contains viruses or other malicious software or any tools designed to compromise the security of users, websites and/or systems</li>
  </ul>
  <p>You must ensure that your use of the service promotes fair, open competition and equal opportunities for all volunteers.</p>
  <p>You must not sell access to NHS Volunteers to any other organisation or user.</p>

  <h3 class="nhsuk-heading-m">Linking from NHS Volunteering</h3>
  <p>You have the option to receive applications through an external link to:</p>
   <ul class="nhsuk-list nhsuk-list--bullet">
       <li>your third party recruitment system</li>
       <li>your organisation’s website</li>
     <li>a digital form</li>
     <li>a digital document </li>
     </ul>
<p>When using an external link, you are responsible for ensuring the accuracy of the link. You are also responsible for ensuring that it is not detrimental to NHS Volunteering service.</p>
  <p>We’re not responsible for:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
       <li>the content or reliability of the websites you link to</li>
       <li>the protection of any information you receive</li>
     <li>any loss or damage that may come from the use of these websites, or any other websites they link to</li>
     </ul>

   <h2 class="nhsuk-heading-l">Management of user access</h2>
  <p>You must designate a minimum of one super user for your organisation and other super users to replace the main super user when unavailable.</p>
  <p>The super users in your organisation are responsible for:</p>
   <ul class="nhsuk-list nhsuk-list--bullet">
       <li>managing and maintaining user access within your organisation, including setting up user accounts and access rights</li>
       <li>ensuring that approved users are employees of your organisation or of a shared service that manages volunteering recruitment on your behalf</li>
     <li>ensuring that user accounts are set up using your organisation’s email domain address or the domain address of a shared service that manages recruitment on your behalf - for security reasons personal email addresses are not permitted</li>
     <li>ensuring that the user accounts are reviewed and, where necessary, deleted on an annual basis</li>
     <li>ensuring that users within your organisations are adequately trained</li>
     <li>offering support to users within your organisation and escalate to the NHS Volunteering team when needed</li>
     <li>organising and co-ordinating super user and housekeeping activities within your organisation</li>
     <li>cascading any messages sent by the NHS Volunteering team</li>
     </ul>
  <p>The NHS Volunteering team will support all users with queries.</p>
  <p>You must ensure that users know how to contact your organisation’s super users for support.</p>

<h2 class="nhsuk-heading-l">Enforcement of the policy</h2>
  <p>Failure to adhere to this policy will be deemed a breach of service and may lead to your NHS Volunteering access being suspended or permanently withdrawn.</p>
  <p>The NHS Volunteering team reserves the right to investigate any suspected violation of this policy. You are obliged to assist in any investigation undertaken.</p>
  <p>The NHS Volunteering team may decide to take action, with or without notice if it finds, at its sole discretion, that you or any third-party organisation have failed to adhere to this policy. This includes, but is not restricted to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>contacting you to request compliance with this policy</li>
       <li>removal of any material, including but not limited to open volunteer adverts</li>
     <li>restriction or suspension of your access to parts of the service suspension or termination of your account</li>
     </ul>
  <p>If you gain access to the service by providing false data during the sign-up process your account will immediately be suspended.</p>
  <p>The NHS Volunteering team does not check or approve advertisements placed on the service but reserves the right to remove, without notice, any advertisement which breaches legislative requirements, generates complaints from volunteers, appears misleading or inappropriate or in breach of the terms of this policy.</p>

  <h2 class="nhsuk-heading-l">How long we keep data</h2>
<p>We will keep:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>data on NHS Volunteering for 24 months from the date the applicant submits their application</li>
       <li>an audit log for 24 months to allow NHS Volunteering processes to be independently checked</li>
     </ul>
  <p>This will allow you to revisit volunteering opportunities and volunteer application data.</p>
  <p>It is your responsibility to ensure that any data required after 24 months is held locally, off the service, and you make volunteers aware of your data retention policy in your privacy policy.</p>
  <p>You must make volunteers aware that pseudonymised information associated with their application will be shared with NHSBSA for the purpose of volunteering insight and reporting which will be shared with relevant parties such as NHS England and the Department of Health and Social Care.</p>

  <h2 class="nhsuk-heading-l">Data protection</h2>
  <p>Data Protection Legislation is defined as the Data Protection Act 2018 (DPA), the General Data Protection Regulation (Regulation (EU) 2016/679 of the European Parliament and of the Council (GDPR), the Regulation of Investigatory Powers Act 2000, the Telecommunications (Lawful Business Practice) (Interception of Communications) Regulations 2000 (SI 2000/2699), the Electronic Communications Data Protection Directive 2002/58/EC, the Privacy and Electronic Communications (EC Directive) Regulations 2003 and all applicable laws and regulations relating to processing of personal data and privacy, including where applicable the guidance and codes of practice issued by the Information Commissioner.</p>
  <p>You must display your organisation's privacy notice on your volunteering adverts.</p>
  <p>The parties agree that they have the following roles when providing and receiving the services. Data Protection legislation defines these roles.</p>
 <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Roles</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Party
      </th>
      <th role="columnheader" class="" scope="col">
        Role
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NHS England</td>
      <td class="nhsuk-table__cell ">data controller</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NHS Business Services Authority</td>
      <td class="nhsuk-table__cell ">data processor of any information entered into NHS Volunteering prior to an application being submitted to the recruiting organisation</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Recruiting organisations </td>
      <td class="nhsuk-table__cell ">controller of the applicant data once you start to process it whether in NHS Volunteering or another system of your choosing. You are responsible for informing applicants of how you are processing their data</td>
    </tr>
  </tbody>
</table>
  <h3 class="nhsuk-heading-m">Responsibilities</h3>
  <p>The parties have the responsibilities detailed in the table below.</p>
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Regulations and responsibilities
      </span>
    </summary>
    <div class="nhsuk-details__text">
       <table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Responsibilities across parties</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
      Regulation
      </th>
      <th role="columnheader" class="" scope="col">
        NHS Business Services Authority
      </th>
      <th role="columnheader" class="" scope="col">
        Recruiting organisations
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span><p>Determine the legal basis of processing (GDPR Article 6)</p>
        <p>GDPR Article 6(1)(b) necessary for compliance with <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/lawful-basis-processing#jumplink8" class=“”>legal obligations</a> and Data Protection Act (DPA) 2018 section 10 and the Applied GDPR Article 9(2)(g) as inserted by DPA 2018 Schedule 6 paragraph 12(c) 'processing is necessary for reasons of substantial public interest and is authorised by domestic law.'</p>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>is acting under instructions from NHS England to process NHS Volunteering management information
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span><p>has the following legal basis:</p> 
        <ul class="nhsuk-list nhsuk-list--bullet">
  <li>GDPR Article 6(1)(a) necessary in order to take steps at the request of the data subject prior to entering into a contract</li>
  <li>GDPR Article 9(2)(a) and DPA 2018 Section 10(1)(a) necessary for UK employment and social security and social protection law</li>
</ul> 
      </td>
    </tr>
   <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Document the subject matter of the processing (GDPR Article 30 (b))
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>will manage the contract and service delivery of NHS Volunteering
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will maintain recruitment records relating to their own recruitment drives and successful applicants
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Document the duration of the processing (GDPR Article 30 (f))
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>will process aggregated data as detailed in the NHS Volunteering privacy policy
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will determine their own duration and retention in line with their own policies and procedures
      </td>
    </tr>
        <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span><p>Responding to data subject rights requests:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>right of access (GDPR Article 15)</li>
          <li>right to rectification (GDPR Article 16)</li>
          <li>right to erasure (GDPR Article 17)</li>
        </ul>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span><p>will action these requests based on the personal data it holds for recruiting organisations that:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
  <li>no longer exist</li>
  <li>have no organisation with responsibility for them</li>
</ul>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will action these requests as controller of the personal data within NHS Voluntering or their systems  
      </td>
    </tr>
        <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Providing privacy notices to data subjects (GDPR Articles 13 - 14)
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>provides a <a href="privacy-policy">privacy notice</a> which is also accessible through the NHS Volunteering website
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will make their applicants aware of the processing they undertake
      </td>
    </tr>
        <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Handling personal data breaches (GDPR Articles 33 - 34) 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>will advise the recruiting organisation if it becomes aware of a breach in NHS Volunteering
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will handle personal data breaches relating to the relevant applicant data they hold
      </td>
    </tr>
        <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Data subjects right to compensation and liability (GDPR Article 82) 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>None
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>will be liable for any compensation claims unless the cause is a result of the acts or omissions of the NHS Business Services Authority
      </td>
    </tr>
         <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Document the type of personal data (GDPR Article 30 (c)) 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>None
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>DBS check result where applicable
      </td>
    </tr>
      <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Regulation</span>Document the categories of data subjects (GDPR Article 30 (c)) 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">NHS Business Services Authority</span>None
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Recruiting organisation</span>
         <ul class="nhsuk-list nhsuk-list--bullet">
  <li>Next of kin of volunteer</li>
  <li>Connected persons</li>
  <li>Referees</li>
  <li>Medical practitioner details</li>
</ul>
      </td>
    </tr>
  </tbody>
</table>

<table class="nhsuk-table nhsuk-u-margin-top-4">
  <caption class="nhsuk-table__caption">Shared responsibilities</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Regulation
      </th>
      <th role="columnheader" class="" scope="col">
        All parties
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Document the nature and purpose of the processing (GDPR Article 30 (b))</td>
      <td class="nhsuk-table__cell ">The parties will administer and maintain vacancy and applicant records for managing recruitment, reporting, volunteering insight and volunteering planning purposes.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Document the type of personal data (GDPR Article 30 (c))</td>
      <td class="nhsuk-table__cell ">
        <ul>
          <li>Family, lifestyle and social circumstances  
          </li>
          <li>Employment and education details  
          </li>
          <li>Equality and diversity declarations 
          </li>
          <li>Physical or mental health details
            </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
    </div>
  </details>

  
  <h2 class="nhsuk-heading-l">Freedom of Information (FOI)</h2>
  <p>The NHS Volunteering team is responsible for answering FOI requests about specific volunteering vacancy information and aggregated recruitment outcomes that do not identify a specific organisation unless a commercial agreement states otherwise.</p>
  <p>You are responsible for all requests related to your recruitment process, application progression and outcomes for your organisation. Where this information is held on NHS Volunteering, it is held by NHS Business Services Authority, on your behalf, for the purposes of freedom of information legislation.</p>

  <h2 class="nhsuk-heading-l">Disclaimer</h2>
  <p>We are not liable for any loss or damage that may come from using NHS Volunteering. This includes:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
       <li>any direct, indirect or consequential losses</li>
       <li>any use of, or inability to use, NHS Volunteering</li>
      <li>any loss of profits, business, contracts of revenues or loss of anticipated savings</li>
     </ul>
<p>We are not responsible for any claims, liability, costs, loss, expenses, or other proceedings that may come from any published advertisements or other acts. This includes, but is not limited to, any breach of these terms and conditions by you or on your behalf.</p>
<p>We may still be liable for:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
       <li>death or personal injury arising from our negligence</li>
       <li>fraudulent misrepresentation</li>
    <li>any other liability which cannot be excluded or limited under applicable law</li>
     </ul>

   <h2 class="nhsuk-heading-l">Governing law</h2>
  <p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
  <p>Any dispute you have which relates to these terms and conditions, or your use of NHS Volunteering, will be subject to the exclusive jurisdiction of the courts in England and Wales.</p>

  <h2 class="nhsuk-heading-l">Changes to these terms and conditions</h2>
  <p>We may change this policy to include changes in the law or in the acceptable use of NHS Volunteering. We reserve the right to make such changes without notice and whenever required.</p>


  <p class="nhsuk-body-s">Last updated 13 December 2023 </p>
  
</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
