{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">


<h1 class="nhsuk-heading-xl">Terms and Conditions for recruiting organisations</h1>
<h2>Terms and conditions</h2>
<p>You need to read the terms and conditions on this page as well as our:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li><a href="privacy-policy">privacy policy</a></li>
  <li><a href="cookies">cookies policy</a></li>
</ul>

<p>NHS Volunteering is run by the NHS Business Services Authority (NHSBSA) on behalf of NHS England and will be referred to as ‘we’ and 'us' from now on.</p>

<h2 class="nhsuk-heading-l">Definitions</h2>
  <p>We have defined terms and expressions used in this document to provide clarity.</p>
<details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
       Table of definitions
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Terms and definitions</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Term
            </th>
            <th role="columnheader" class="" scope="col">
              Definition
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Application Data</td>
            <td class="nhsuk-table__cell ">Personal Data of Volunteers who apply via NHS Volunteering.</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Controller, Data Subject, Personal Data, Personal Data Breach:</td>
            <td class="nhsuk-table__cell ">have the meanings as set out in the Data Protection Legislation in force at the time;</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Data Protection Legislation </td>
            <td class="nhsuk-table__cell ">means (i) the UK GDPR, (ii) the Data Protection Act 2018, and (iii) any other laws and regulations relating to the processing of personal data and privacy which apply to a party and, if applicable, the guidance and codes of practice issued by the UK Information Commissioner, and any other relevant data protection or supervisory authority;</td>
            </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Law</td>
            <td class="nhsuk-table__cell ">means any law, subordinate legislation within the meaning of Section 21(1) of the Interpretation Act 1978, byelaw, enforceable right within the meaning of, regulation, order, regulatory policy, mandatory guidance or code of practice, judgment of a relevant court of law, or directives or requirements in force in England and Wales with which the Parties are bound to comply;</td>
                </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Processer</td>
            <td class="nhsuk-table__cell ">as defined in Data Protection Legislation. The definitions of 'processed' and 'processing' will apply accordingly</td>
                </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS Volunteering team</td>
            <td class="nhsuk-table__cell ">NHSBSA and NHS England who manage and deliver NHS Volunteering</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Offline</td>
            <td class="nhsuk-table__cell ">an activity completed outside of NHS Volunteering. This includes your own or a third-party applicant tracking system (for example, a spreadsheet or another manual process)</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Online</td>
            <td class="nhsuk-table__cell ">an activity recorded in an online solution such as internal or third-party applicant tracking system</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Organisation</td>
            <td class="nhsuk-table__cell ">an organised group of people with a particular purpose, such as a business or government department</td>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Recruiting organisation</td>
            <td class="nhsuk-table__cell ">the organisation that is looking to fill a volunteering opportunity</td>
          </tr>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Service</td>
            <td class="nhsuk-table__cell ">the NHS Volunteering recruitment platform and helpdesk services</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Super user</td>
            <td class="nhsuk-table__cell ">a user with administration rights for the recruiting organisation and who resolves first line queries</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Third party</td>
            <td class="nhsuk-table__cell ">a person, an organisation or an entity like a supplier involved in a process besides the two main parties</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">User</td>
            <td class="nhsuk-table__cell ">a person with access and editing rights to use NHS Volunteering</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Volunteer</td>
            <td class="nhsuk-table__cell ">an individual searching and applying for a volunteering opportunity</td>
          </tr>
      </table>
    </div>
  </details>

<h2 class="nhsuk-heading-l">Agreeing to use NHS Volunteering as a recruiting organisation</h2>
<p>The NHS Volunteering service provides people with information on volunteering opportunities in the health and social care sector.</p>
<p>These terms apply to anyone who uses this service to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>promote opportunities</li>
  <li>receive applications for opportunities</li>
</ul>
<p>By continuing to use the NHS volunteering service you are bound by these terms of use as well as the privacy and cookies policies. You ensure that anyone acting for or on behalf of your organisation also complies with them.</p>

<h2 class="nhsuk-heading-l">Intellectual property and permitted use</h2>  
<p>NHSBSA are the owners or licensees of all intellectual property rights in NHS Volunteering and the material published on it.</p>
<p>Most of the content on NHS Volunteering is published under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL) for public sector information</a>. This means you may use and re-use the information featured on this website free of charge in any format or medium as long as you follow the licence’s conditions.</p>
<p>If you do use our content you must reference where you copied it from using links to this website.</p>

<h3 class="nhsuk-heading-m">Third party content</h3>
<p>Some content on NHS Volunteering belongs to third parties.</p>
<p>Images, videos, personal data or content belonging to a third party and provided on different licence terms are exempt from the OGL. There is a <a href="www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm">list of exemptions</a> which provides guidance on how you re-use content.</p>
<p>You should <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">contact us</a> if:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>you want to reproduce any content that is exempt from the OGL</li>
  <li>you are not sure which content is covered by the OGL</li>
</ul>
  
<h2 class="nhsuk-heading-l">Use of NHS Volunteering</h2>
<p>NHS Volunteering is a service centrally funded by NHS England.</p> 
<p>The following organisations based in England can use NHS Volunteering without charge:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>NHS organisations including NHS trusts, Integrated Care Boards and GP practices</li>
  <li>voluntary, community or social enterprise (VCSE) partner organisations to the health and social care sector </li>
</ul>
<p>When reviewing requests, the NHS Volunteering team will consider some of these points:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>the impact to NHS health and social care services</li>
  <li>the volunteering and Recruiting Organisation experience</li>
  <li>the cost to the public</li>
  <li>removing any potential for financial gain</li>
  <li>the potential loss of data or reporting capability</li>
</ul>
<p>This list is not exhaustive.</p>

<h3 class="nhsuk-heading-m">Listing and managing volunteering opportunities</h3>
<p>You agree to use NHS Volunteering to advertise volunteering opportunities that:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>relate to live volunteering roles that support the provision of health and social care in England</li>
  <li>are unpaid or do not involve honoraria (not including expenses)</li>
  <li>are commissioned or funded by NHS England, Department of Health and Social Care (DHSC), or any other body forming part of the NHS in England</li>
  <li>have not been filled prior to advertisement</li>
</ul>

<p>You will close any opportunities that become unavailable.</p>
<p>You agree to respond to all applications submitted by prospective volunteers for your roles and to progress them via your organisation’s volunteer recruitment channels in a fair and equitable manner.</p>
<p>You agree not to use NHS Volunteering in any way that is unlawful, illegal or detrimental to the NHS Volunteering service, the organisations using NHS Volunteering, the volunteers, NHSBSA or NHS England.</p>

<h3 class="nhsuk-heading-m">Publishing appropriate content</h3>
<p>You are responsible for the accuracy of any information you publish on NHS Volunteering. You must not publish any material that:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>is in violation of any law or regulation that is enforceable in the United Kingdom</li>
  <li>is illegal, inappropriate or offensive - this includes material for internal use as well as for external publication</li>
  <li>contains viruses or other malicious software or any tools designed to compromise the security of users, websites and/or systems</li>
</ul>
<p>You must ensure that your use of the service promotes fair, open competition and equal opportunities for all volunteers.</p>
<p>You must not sell access to NHS Volunteers to any other organisation or user.</p>

<h2 class="nhsuk-heading-l">Linking to NHS Volunteering</h2>
<p>You may link to our website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not make a link in such a way as to suggest any form of association, approval or endorsement on our part. We reserve the right to withdraw linking permission without notice.</p>
<p>External organisations may link to live opportunities on NHS Volunteering. They may advertise them on their own recruitment platforms.</p>
<p>We reserve the right to move or change our website URLs at any time.</p>

<h2 class="nhsuk-heading-l">Linking from NHS Volunteering</h2>
<p>You have the option to receive applications:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>your third-party recruitment system</li>
  <li>your organisation’s website</li>
  <li>a digital form</li>
  <li>a digital document </li>
</ul>
<p>When using an external link you are responsible for ensuring the accuracy of the link. You are also responsible for ensuring that it is not detrimental to NHS Volunteering service.</p>
<p>We are not responsible for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>the content or reliability of the websites you link to</li>
  <li>the protection of any information you receive</li>
  <li>any loss or damage that may come from the use of these websites, or any other websites they link to</li>
</ul>
<p>You are responsible for making paper applications available for volunteers who are unable to submit an online application.</p>
  
<h2 class="nhsuk-heading-l">Management of user access</h2>
<p>You must designate a minimum of one super user for your organisation and other super users to replace the main super user when unavailable.</p>
<p>You are responsible for ensuring that the super users in your organisation:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>manage and maintain user access within your organisation, including setting up user accounts and access rights</li>
  <li>check that approved users are employees of your organisation or of a shared service that manages volunteering recruitment on your behalf and promptly delete accounts for any users that leave</li>
  <li>ensure that user accounts are set up using your organisation’s email domain address or the domain address of a shared service that manages recruitment on your behalf - for security reasons personal email addresses are not permitted</li>
  <li>review and where necessary delete user accounts on an annual basis</li>
  <li>adequately train users within your organisation</li>
  <li>offer support to users within your organisation and escalate to the NHS Volunteering team when needed</li>
  <li>organise and co-ordinate super user and housekeeping activities within your organisation</li>
  <li>cascade any messages sent by the NHS Volunteering team</li>
</ul>

<h3 class="nhsuk-heading-m">Using the service responsibly</h3>
<p>You are responsible for ensuring that all users in your organisation:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>are aware of and comply with these terms of use</li>
  <li>know how to contact your organisation’s super users for support</li>
  <li>Do not share or disclose user identification codes or passwords</li>
  <li>promptly reset any user identification codes or passwords that have or may have been shared or disclosed </li>
</ul>

<h2 class="nhsuk-heading-l">Enforcement of the policy</h2>
<p>Failure to adhere to this policy may lead to your NHS Volunteering access being suspended or permanently withdrawn.</p>
<p>We reserve the right to investigate any suspected violation of these terms of use. You are obliged to assist in any investigation undertaken.</p>
<p>We may decide to take action, with or without notice if we find, at our sole discretion, that you or any third-party organisation have failed to adhere to these terms of use. This includes, but is not restricted to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>contacting you to request compliance with these terms of use</li>
  <li>removal of any material, including, but not limited to, open volunteer opportunity adverts</li>
  <li>restriction or suspension of your access to parts of the service</li>
  <li>suspension or termination of your or any individual user’s account</li>
</ul>
<p>If you gain access to the service by providing false data during the sign-up process your account will immediately be suspended.</p>
<p>We do not check or approve advertisements placed on the website but reserve the right to remove, without notice, any advertisement which breaches legislative requirements, generates complaints from volunteers, appears misleading or inappropriate or is in breach of these terms of use.</p>

<h2 class="nhsuk-heading-l">Data protection</h2>
<p>As part NHS Volunteering personal data is shared between NHS England and the Recruiting Organisation. This supports the recruitment of new Volunteers into the NHS and partner Recruiting Organisations.</p>
<p>We share personal data with users of this service to help make informed decisions when:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>progressing prospective volunteer applicants</li>
  <li>communicating with volunteer applicants</li>
  <li>considering the needs and preferences of volunteer applicants</li>
</ul>
<p>This data sharing will support a high-quality volunteer recruitment experience. The personal data shared should form the basis of a volunteer record held locally in line with your own records retention schedule.</p>

<h3 class="nhsuk-heading-m">Data compliance and responsibilities</h3>
<p>When providing and using NHS Volunteering, NHS England and Recruiting Organisations are each responsible for their own compliance with the applicable Data Protection Legislation.</p>
<p>Data sharing only takes place when Recruiting Organisations opt to receive Applicant Data from NHS England which is submitted via NHS Volunteering.</p>
<p>This does not apply to Recruiting Organisations who use the NHS Volunteering website solely to direct applicants to their own volunteer vacancies’ page or application process, or those who use third party application systems.</p>

<h3 class="nhsuk-heading-m">Roles and responsibilities of the parties</h3>
<p>NHS England and the Recruiting Organisation are independent Data Controllers in relation to Personal Data shared via the NHS Volunteering website. Both parties agree to comply with their obligations as a Controller under the Data Protection Legislation and agree not to do anything which will cause the other to breach their Data Protection Legislation obligations. </p>
<p>NHSBSA is a data Processor of NHS England in respect of Personal Data submitted by a Volunteer prior to their application being submitted to the Recruiting Organisation and is not party to the data sharing obligations set out in this section. Reference to “parties” within this section therefore relate to NHS England and the Recruiting Organisation.</p>
<p>Details of the Personal Data shared between the parties and the Agreed Purpose of the data sharing is set out the table entitled “Data Sharing Activities” below.  Both parties agree that Personal Data is only to be shared where it is necessary to perform obligations contained in these Terms and Conditions, where it is required in compliance with the Data Protection Legislation, or where it is necessary for the Agreed Purpose. Both parties agree that they will Process the shared Personal Data only in relation to the Agreed Purpose and in accordance with these Terms and Conditions.</p>
<p>Where one party has provided Personal Data to the other party, the recipient of the Personal Data will provide copies of all relevant documents and information relating to its data protection policies and procedures as the other Party may reasonably require. Links to NHS England’s relevant documents are provided above. </p>

<h3 class="nhsuk-heading-m">Compliance with GDPR when sharing data</h3>
<p>The parties are responsible for their own compliance with Articles 13 and 14 of UK GDPR (Transparency) in respect of their Processing activities. You must include a link to your organisation's privacy policy on your volunteering opportunity listings. This must make Volunteers aware of your Processing of their Personal Data and your data retention policy. Please see our <a href="privacy-policy"privacy policy></a> for details of how we process both Volunteers’ and Recruiting Organisation staff data.</p>
<p>When Processing shared Personal Data, each party agrees to:</p>
<p>(a) implement and maintain appropriate technical and organisational measures to ensure a level of security appropriate to that risk, including, as appropriate, the measures referred to in Article 32(1)(a), (b), (c) and (d) of the UK GDPR;</p>
<p>(b) ensure that employees who have access to the shared Personal Data have undergone training in the Data Protection Legislation and in the care and handling of Personal Data; </p>
<p>(c) not disclose Personal Data to any third party in any circumstances except as required or permitted by these Terms and Conditions; and </p>
<p>(d) notify the other party promptly of any known breach of technical and organisational security measures where the breach has affected or could have affected Personal Data transferred. </p>
<p>Each party will promptly notify the other party if it becomes aware of any Personal Data Breach relating to Personal Data shared for the Agreed Purposes and shall:</p>
<p>(a) do anything which is reasonably necessary to assist the other party in mitigating the effects of the Personal Data Breach;</p>
<p>(b) implement any measures necessary to restore the security of any compromised Personal Data;</p>
<p>(c) work with the other party to make any required notifications to the Information Commissioner’s Office and affected Data Subjects in accordance with the Data Protection Legislation (including the relevant timeframes); and</p>
<p>(d) not do anything which may damage the reputation of the other party or that party's relationship with the relevant Data Subjects, save as required by Law.</p>

<h3 class="nhsuk-heading-m">Maintaining processing activities</h3>
<p>Each party shall maintain a record of its Processing activities in accordance with Article 30 UK GDPR.</p>
<p>Where a party receives a request by a Data Subject to exercise any of their rights under the Data Protection Legislation (including access to information), the other party shall provide information and/or assistance as reasonably requested by the receiving party to help it respond to the request. Or, where a request is directed to the other party and/or relates to the other party's Processing of the Personal Data, the receiving party will promptly inform the other party that it has received the request and shall forward it to the other party, and provide any information and/or assistance as reasonably requested by the other Party to help it respond to the request in the timeframes specified by Data Protection Legislation.</p>
<p>Any material breach of the Data Protection Legislation or the terms set out in these Terms and Conditions shall permit NHS England to terminate the Recruiting Organisation’s involvement with NHS Volunteering and access to the service.</p>
<p>The parties acknowledge that the use of the NHS Volunteering Website is subject to the terms of these Terms and Conditions, as amended from time to time. These may be updated to reflect changes in the Processing activities and/or the obligations on the parties. The parties shall ensure they keep up to date with any such changes, which will be communicated in the form of revised Terms and Conditions.</p>

<h3 class="nhsuk-heading-m">Data Sharing Activities</h3>
 <table class="nhsuk-table">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Description
      </th>
      <th role="columnheader" class="" scope="col">
        Details
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Agreed Purpose</td>
      <td class="nhsuk-table__cell ">The parties will share and maintain vacancy and applicant records for the purposes of managing volunteer recruitment, reporting, volunteering insight and volunteer planning.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Legal Basis</td>
      <td class="nhsuk-table__cell ">
        <p>The parties agree that all Processing of Personal Data will take place in accordance with an appropriate legal basis, as set out in the Data Protection Legislation, has been established.</p> 
        <p>The legal basis for obtaining and sharing Volunteer Personal Data by NHS England is Article 6(1)(a) and Article 9(2)(a). Consent is put in place through the Volunteer’s agreement to the <a href="terms-conditions">Terms and Conditions for Volunteers</a>. The individual rights of Volunteer applicants, the processes in place for data governance and contact details for NHS England’s Data Protection Officer are set out in our Volunteer <a href="privacy-policy">Privacy Policy</a>.</p> 
        <p>The legal basis for the provision and operation of the volunteer recruitment portal by NHS England is 6(1) (e) – Public Task</p>
        <p>[The legal basis for processing staff Personal Data by NHS England is 6(1)(e) - Public task.]</p></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Duration of the Processing and retention.</td>
      <td class="nhsuk-table__cell ">
        <p>Processing of the Personal Data by NHS England will take place from the date in which a Recruiting Organisation agrees to these Terms and Conditions, until the Recruiting Organisation advises they no longer wish to use the NHS Volunteering service and/or access is otherwise terminated by NHS England in accordance with these Terms and Conditions.</p>
        <p>Application Data and Recruiting Organisations staff data is held within NHS Volunteering for a period of 24 months from the date of application submission. It is your responsibility to ensure that any data required from applications is held locally, off the service after 24 months has elapsed. </p>
        <p>Personal Data should not be retained or processed for longer than is necessary to perform the obligations set out in these Terms and Conditions.</p></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Nature of the Processing</td>
      <td class="nhsuk-table__cell ">NHS England collects, records and discloses Personal data of Volunteer applicants and staff to achieve the Agreed Purpose set out above.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Type of Personal Data</td>
      <td class="nhsuk-table__cell ">
        <p>When you advertise an opportunity, the following Personal Data will be shared with you about every applicant that has applied via NHS Volunteering for that role:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Name</li>
          <li>Address</li>
          <li>Email address</li>
          <li>Telephone number</li>
          <li>Age range</li>
          <li>Free text responses related to the nature of an individual’s interest in volunteering and how you can best support them with the recruitment process. This may include special category data, including equality and diversity declarations or physical or mental health details, should an applicant choose to disclose such information.</li>
        </ul>
        <p>Staff Personal Data:</p>
        <p>When a member of staff from a Recruiting Organisation is set up as a user, the following data will be collected. Users can optionally select for it to be shared with prospective applicants via the role advert and the application confirmation emails. This is optional as for every role it can be replaced with generic contact information. </p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Name</li>
          <li>Employment role</li>
          <li>Employment email address</li>
          <li>Employment telephone number</li>
        </ul>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Categories of Data Subject</td>
      <td class="nhsuk-table__cell ">
        <p>Members of the public who submit applications for NHS volunteer opportunities.</p>
        <p>Details of members of staff who may have access to NHS Volunteering to post opportunities and access Applicant Data.</p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Security</td>
      <td class="nhsuk-table__cell ">Data is shared via secure login access to the NHS Volunteering website as granted to your approved users via your designated superuser.</td>
    </tr>
  </tbody>
</table>

<h2 class="nhsuk-heading-l">Freedom of Information</h2>
<p>As a public body, NHS England is subject to the Freedom of Information Act 2000 (FOIA).  As such, NHS England may be statutorily required to disclose information (including commercially sensitive information) about the NHS Volunteering service or these Terms and Conditions, in response to a request under FOIA. In such instances, a Recruiting Organisation shall provide NHS England with all reasonable assistance and co-operation to enable NHS England to comply with its obligations under FOIA.</p>
<p>NHS England will take reasonable steps to notify a Recruiting Organization of a request for information under FOI to the extent that it is permissible and reasonably practical for it to do so, and may, where appropriate, consult with a Recruiting Organisation regarding commercial or other confidentiality issues in relation to the NHS Volunteering service, however the final decision about disclosure of information or application of exemptions shall rest solely with NHS England. </p>
<p>Where a Recruiting Organisation is a public authority subject to FOIA, the above requirements to provide assistance and co-operation will mutually apply to NHS England.</p>

<h2 class="nhsuk-heading-l">Conditions of Use</h2>
<p>We make every effort to keep NHS Volunteering up to date. We do not provide any guarantees, conditions or warranties that the information will be:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>current</li>
  <li>secure</li>
  <li>accurate</li>
  <li>complete</li>
  <li>always available</li>
  <li>secure or free from bugs or viruses</li>
</ul>
<p>We do not publish advice within NHS Volunteering. You should get professional advice before doing anything on the basis of the content.</p>

<h2 class="nhsuk-heading-l">Virus protection</h2>
<p>We make every effort to check and test NHS Volunteering for viruses at all stages of production. You must make sure that the way you use NHS Volunteering does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
<p>We are not responsible for any loss, disruption or damage to your data or your computer system that may happen when you use NHS Volunteering.</p>  

<h2 class="nhsuk-heading-l">Viruses, hacking and other offences</h2>
<p>When using NHS Volunteering, you must not misuse this website by knowingly introduce viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful.</p>
<p>You must not try to gain unauthorised access to NHS Volunteering, the server on which it is stored, or any server, computer or database connected to it.</p>
<p>You must not attack NHS Volunteering in any way. This includes denial-of-service attacks or distributed denial-of-service attacks. By doing so, you would commit a criminal offence under the Computer Misuse Act 1990.</p>
<p>We will report any attacks or attempts to gain unauthorised access to NHS Volunteering to the relevant law enforcement authorities and share information about you with them. In the event of such a breach, your right to use this website will end immediately.</p>

<h2 class="nhsuk-heading-l">Liability</h2>
<p>We are not liable for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>any action or inaction you may take as a result of relying on any information/materials on this website</li>
  <li>any dealings you have with volunteers or</li>
  <li>any loss or damage that may come from using NHS Volunteering and /or appointing any volunteers. This includes:</li>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>any direct, indirect or consequential losses</li>
    <li>any use of, or inability to use, NHS Volunteering</li>
    <li>any loss of profits, business, contracts of revenues or loss of anticipated savings</li>
  </ul>
</ul>
<p>If we are subject to any claims, liability, costs, loss, expenses, or other proceedings that arise as a result of any of your published advertisements or other acts you will reimburse us for all such costs, losses, expenses or damages. This includes, but is not limited to, any breach of these terms and conditions by you or on your behalf.</p>
<p>We may still be liable for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>death or personal injury arising from our negligence</li>
  <li>fraudulent misrepresentation</li>
  <li>any other liability which cannot be excluded or limited under applicable law</li>
</ul>

<h2 class="nhsuk-heading-l">Governing law</h2>
<p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
<p>Any dispute you have which relates to these terms and conditions, or your use of NHS Volunteering, will be subject to the exclusive jurisdiction of the courts in England and Wales.</p>

<h2 class="nhsuk-heading-l">Changes to these terms and conditions</h2>
<p>We may change these terms of use at any time. Your continued use of this website indicates acceptance of these terms and any changes to them.</p>
<p>Last updated 24 January 2024</p>

</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
