{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h1 class="nhsuk-heading-xl">Terms and conditions for volunteers</h1>

<h2 class="nhsuk-heading-l">Terms and conditions</h2>
<p>You need to read the terms and conditions on this page as well as our:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li><a href="privacy-policy">privacy policy</a></li>
  <li><a href="cookies">cookies policy</a></li>
</ul>
<p>NHS Volunteering is run by the NHS Business Services Authority (NHSBSA) on behalf of NHS England and will be referred to as ‘we’ and 'us' from now on.</p>

<h2 class="nhsuk-heading-l">Agreeing to use NHS Volunteering as a volunteer</h2>
<p>The NHS Volunteering service provides people with information on volunteering opportunities in the health and social care sector.</p>
<p>Our terms apply to anyone who uses this service to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>register their details for potential opportunities</li>
  <li>find and apply for specific volunteering opportunities</li>
</ul>
<p>By continuing to use the NHS volunteering service you are bound by these terms of use as well as the <a href="privacy-policy">privacy</a> and <a href="cookies">cookies policies</a>.</p>
<p>If you are acting for or on behalf of a recruiting organisation then you need to read the <a href="recruiters-terms-conditions">terms and conditions for recruiting organisations</a>.</p>

<h2 class="nhsuk-heading-l">Agreeing to use NHS Volunteering as a volunteer</h2>
<p>NHSBSA are the owners or licensees of all intellectual property rights in NHS Volunteering and the material published on it.</p>
<p>Most of the content on NHS Volunteering is published under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL) for public sector information</a>. This means you may use and re-use the information featured on this website free of charge in any format or medium as long as you follow the licence’s conditions.</p>
<p>If you do use our content you must reference where you copied it from using links to this website.</p>

<h3 class="nhsuk-heading-m">Third party content</h3>
<p>Some content on NHS Volunteering belongs to third parties.</p>
<p>Images, videos, personal data or content belonging to a third party and provided on different licence terms are exempt from the OGL. There is a <a href="www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm">list of exemptions</a> which provides guidance on how you re-use content.</p>
<p>You should <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">contact us</a> if:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>you want to reproduce any content that is exempt from the OGL</li>
  <li>you are not sure which content is covered by the OGL</li>
</ul>

<h2 class="nhsuk-heading-l">Communication</h2>
<p>When using the NHS volunteering service you must provide a valid personal email address each time you:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>register your details for potential opportunities</li>
  <li>apply for specific volunteering opportunities</li>
</ul>
<p>If you supply an incorrect email address you will not receive messages related to your applications.</p>
<p>If you provide a telephone number then recruiting organisations may contact you by phone about your application.</p>
<p>We do not guarantee reliability of email communications. You should contact the recruiting organisation if you have any concerns.</p>

<h2 class="nhsuk-heading-l">Applications to volunteer using this service</h2>
<p>If a recruiting organisation chooses to receive applications through this service, then you will need to complete a form through NHS Volunteering in order to apply. Our <a href="privacy-policy">privacy policy</a> explains how we collect, use and store your data on NHS Volunteering.</p>
<p>We will collect the information you provide in this form and share it with the relevant recruiting organisation.</p>
<p>The information you provide in your application form must be truthful, complete and accurate.</p>
<p>The information must not be:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>false</li>
  <li>misleading</li>
  <li>offensive</li>
  <li>discriminatory</li>
  <li>threatening</li>
  <li>abusive</li>
</ul>
<p>The information in your application must not cause anxiety or distress. It must not encourage violence, hatred, or blasphemy. It must not be pornographic or breach confidence or privacy. It must not be unlawful, harassing, libellous, harmful, vulgar, obscene, or objectionable.</p>
<p>The declaration you agree to on submission of the form is valid and binding.</p>

<h3 class="nhsuk-heading-m">Submitting your details outside of this service</h3>
<p>Recruiting organisations will assess all applications and will be responsible for all decisions relating to the volunteering opportunities. </p>
<p>A recruiting organisation may ask you to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>provide additional information about yourself</li>
  <li>complete further screening processes for the role you have applied for </li>
</ul>
<p>Instead of asking you to complete an application using this service, some recruiting organisations will provide a link to a third party website which you need to follow to apply. This will take you outside of NHS Volunteering.</p>
<p>When a recruiting organisation asks you for additional information or provides a link to a third party website to apply, any information you provide will not be subject to these terms and conditions, our privacy notice or cookies policy. Please refer to information provided by the recruiting organisation to understand how they will handle your data. </p>
<p>If you have questions about a volunteering opportunity or your application, you should contact the recruiting organisation.</p>

<h2 class="nhsuk-heading-l">Linking to NHS Volunteering</h2>
<p>You may link to our website provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not make a link in such a way as to suggest any form of association, approval or endorsement on our part. We reserve the right to withdraw linking permission without notice.</p>
<p>Other websites might link to NHS Volunteering. We are not responsible for the content of any third party website and a link from another site does not mean we endorse their site or content.</p>
<p>We reserve the right to move or change our website URLs at any time.</p>

<h2 class="nhsuk-heading-l">Linking from NHS Volunteering</h2>
<p>NHS Volunteering links to websites that are managed by recruiting organisations.</p>
<p>We are not responsible for the content of any third party website and a link to another site does not mean we endorse their site or content.</p>
<p>You should read all terms and conditions, privacy policies and end-user licences that relate to these sites before you use them.</p>
<p>We aim to replace broken links to other sites. We have no control over other sites and we cannot guarantee that the links will always work.</p>

<h2 class="nhsuk-heading-l">Conditions of Use</h2>
<p>We make every effort to keep NHS Volunteering up to date. We do not provide any guarantees, conditions or warranties that the information will be:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>current</li>
  <li>secure</li>
  <li>accurate</li>
  <li>complete</li>
  <li>always available</li>
  <li>secure or free from bugs or viruses</li>
</ul>
<p>We do not publish advice on NHS Volunteering. You should get professional advice before doing anything on the basis of the content.</p>

<h2 class="nhsuk-heading-l">Viruses, hacking and other offences</h2>
<p>When using NHS Volunteering, you must not misuse this website by knowingly introducing material that is malicious or technologically harmful such as:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>viruses</li>
  <li>trojans</li>
  <li>worms</li>
  <li>logic bombs</li>
</ul>
<p>You must not try to gain unauthorised access to NHS Volunteering, the server on which it is stored or any server, computer or database connected to it</p>
<p>You must not attack NHS Volunteering in any way. This includes denial-of-service attacks or distributed denial-of-service attacks. By doing so, you would commit a criminal offence under the Computer Misuse Act 1990.</p>
<p>We will report any attacks or attempts to gain unauthorised access to NHS Volunteering to the relevant law enforcement authorities and share information about you with them. In the event of such a breach, your right to use this website will end immediately.</p>

<h3 class="nhsuk-heading-m">Virus protection</h3>
<p>We make every effort to check and test NHS Volunteering for viruses at all stages of production. You must make sure that the way you use NHS Volunteering does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
<p>We are not responsible for any loss, disruption or damage to your data or your computer system that may happen when you use NHS Volunteering.</p>

<h2 class="nhsuk-heading-l">Liability</h2>
<p>We are nore liable for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>any action or inaction you may take as a result of relying on any information or materials on this website</li>
  <li>any dealings you have with recruiting organisations</li>
  <li>worms</li>
  <li>any loss or damage that may come from using NHS Volunteering. This includes
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>any direct, indirect or consequential losses nor</li>
      <li>any use, or inability to use, NHS Volunteering and any third parties that are linked to or from it.</li>
    </ul>
  </li>
</ul>
<p>We are not responsible if you experience difficulty accessing NHS Volunteering because of any event outside our control. This includes the performance of your or our internet service provider, your browser or the internet.</p>
<p>We may still be liable for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>death or personal injury arising from our negligence</li>
  <li>fraudulent misrepresentation</li>
  <li>any other liability which cannot be excluded or limited under applicable law</li>
</ul>

<h2 class="nhsuk-heading-l">Governing law</h2>
<p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
<p>Any dispute you have which relates to these terms and conditions, or your use of NHS Volunteering, will be subject to the exclusive jurisdiction of the courts in England and Wales.</p>

<h2 class="nhsuk-heading-l">Changes to these terms and conditions</h2>
<p>Check these terms and conditions regularly. We can update them at any time without notice.</p>
<p>You will agree to any changes if you continue to use NHS Volunteering after the terms and conditions have been updated.</p>

<h2 class="nhsuk-heading-l">Contact us</h2>
<p>To ask us questions about this service or to report any issues please email <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">nhsvolunteering@nhsbsa.nhs.uk</a></p>
<p>Last updated 24 January 2024</p>

</div>
</div>




















{% endblock %}

