{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h1 class="nhsuk-heading-xl">Terms and conditions for volunteers</h1>
<p>This page and any pages it links to explains NHS Volunteering's terms of use.</p>
<p>You must agree to these to use NHS Volunteering.</p>

<h2 class="nhsuk-heading-l">Who we are</h2>
<p>NHS Volunteering is run by NHS Business Services Authority on behalf of NHS England and will be referred to as ‘we’ from now on.</p>

<h2 class="nhsuk-heading-l">Intellectual property and permitted use</h2>
<p>The names, images and logos identifying NHS Volunteering are proprietary marks. You must <a href="../../v4/contact-us" class="nhsuk-link">contact us</a> for permission if you want to copy or use the NHS Volunteering logo.</p>
<p>You agree to use NHS Volunteering only for lawful purposes. And you agree not to use it: </p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>for commercial purposes without obtaining our prior written agreement</li>
       <li>in a way that infringes the rights of, or restricts or inhibits the use of, this site by anyone else</li>
     </ul>
<p>You may print and download extracts from NHS Volunteering for personal non-commercial use, as long as you do not:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>change any documents or related graphics in any way</li>
       <li>separate any graphics from accompanying text </li>
  <li>remove any copyright and trademark notices</li>
     </ul>

  <h2 class="nhsuk-heading-l">Communication</h2>
<p>You must provide a valid personal email address when you register with NHS Volunteering and for each registration you submit. </p>
<p>If you supply an incorrect email address you will not receive messages related to your account or your registration.</p>
  <p>If you provide a telephone number, recruiting organisations may contact you via phone about your registration.</p>
<p>We do not guarantee reliability of email communications. You should contact the recruiting organisation if you have any concerns.</p>

 <h2 class="nhsuk-heading-l">Passwords</h2>
<p>You must not share any passwords to access NHS Volunteering with anyone.</p>
  <p>If you think there has been a breach of security, report it via <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class="Your NHS Volunteering query">email to the NHS Volunteering team</a>.</p>

<h2 class="nhsuk-heading-l">Registrations</h2>
<p>You might need to complete a form to register for a volunteering opportunity through NHS Volunteering.</p>
<p>The information you provide in your registration form and any other material you enter into NHS Volunteering must be truthful, complete and accurate. The information must not be false, misleading, offensive, or discriminatory. It must not threaten, abuse, or cause anxiety or distress. It must not encourage violence, hatred, or blasphemy. It must not be pornographic or breach confidence or privacy. It must not be unlawful, harassing, libellous, harmful, vulgar, obscene, or objectionable.</p>
<p>The declaration you agree to on submission of the form is valid and binding.</p>
  <p>The recruiting organisation will assess registrations and any accompanying attachments. They will take all decisions relating to the opportunities and not us. If you have queries relating to an advert or your registration you should contact the recruiting organisation.</p>
  <p>If you register through NHS Volunteering, the organisation which advertises the opportunity will have access to your information and any other supporting material. They will not have access to any data collected for monitoring purposes.</p>
<p>Our <a href="../../v4/privacy-policy">privacy policy</a> explains how we collect, use and store your data on NHS Volunteering.</p>

  <h2 class="nhsuk-heading-l">Linking to NHS Volunteering</h2>
<p>Other websites might link to NHS Volunteering.</p>
  <p>We do not give permission to suggest that other websites are associated with, or endorsed by, NHS Business Services Authority.</p>
<p>We reserve the right to move or change our website URLs at any time.</p>

 <h2 class="nhsuk-heading-l">Linking from NHS Volunteering</h2>
<p>NHS Volunteering links to websites that are managed by other recruiting organisations.</p>
  <p>This means you may need to register via a third-party system they choose to use.</p>
<p>We’re not responsible for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>the content or reliability of the websites we link to</li>
       <li>the protection of any information you give to any third party</li>
  <li>any loss or damage that may come from your use of these websites, or any other websites they link to </li>
     </ul>
  <p>You agree to release us from any claims or disputes that may come from using these sites.</p>
<p>You should read all terms and conditions, privacy policies and end-user licences that relate to these sites before you use them.</p>
  <p>We aim to replace broken links to other sites. We have no control over other sites and we cannot guarantee that the links will always work.</p>

<h2 class="nhsuk-heading-l">Disclaimer</h2>
<p>We make every effort to keep NHS Volunteering up to date. We do not provide any guarantees, conditions or warranties that the information will be:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>current</li>
       <li>secure</li>
  <li>accurate</li>
  <li>complete</li>
  <li>always available</li>
  <li>free from bugs or viruses</li>
     </ul>
  <p>We do not publish advice on NHS Volunteering. You should get professional advice before doing anything on the basis of the content.</p>
  <p>We are not liable for any loss or damage that may come from using NHS Volunteering. This includes:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>any direct, indirect or consequential losses</li>
       <li>any use, or inability to use, NHS Volunteering and any third parties that are linked to or from it</li>
     </ul>
<p>This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.</p>
  <p>We are not responsible if you experience difficulty accessing NHS Volunteering because of any event outside our control. This includes the performance of your or our internet service provider, your browser or the internet.</p>
  <p>We may still be liable for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
       <li>death or personal injury arising from our negligence</li>
       <li>fraudulent misrepresentation</li>
  <li>any other liability which cannot be excluded or limited under applicable law</li>
     </ul>

  <h2 class="nhsuk-heading-l">Information about you and your visits to NHS Volunteering</h2>
<p>We collect information about you in accordance with our <a href="../../v5/privacy-policy">privacy policy</a> and our <a href="../../v5/cookies">cookies policy</a>. By using NHS Volunteering, you agree to us collecting this information and confirm that any data you provide is accurate.</p>

  <h2 class="nhsuk-heading-l">Virus protection</h2>
<p>We make every effort to check and test NHS Volunteering for viruses at all stages of production. You must make sure that the way you use NHS Volunteering does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
<p>We are not responsible for any loss, disruption or damage to your data or your computer system that may happen when you use NHS Volunteering.</p>

  <h2 class="nhsuk-heading-l">Viruses, hacking and other offences</h2>
  <p>When using NHS Volunteering, you must not introduce viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful.</p>
  <p>You must not try to gain unauthorised access to NHS Volunteering, the server on which it is stored or any server, computer or database connected to it.</p>
  <p>You must not attack NHS Volunteering in any way. This includes denial-of-service attacks or distributed denial-of-service attacks. By doing so, you would commit a criminal offence under the Computer Misuse Act 1990.</p>
  <p>We will report any attacks or attempts to gain unauthorised access to NHS Volunteering to the relevant law enforcement authorities and share information about you with them.</p>

  <h2 class="nhsuk-heading-l">Governing law</h2>
  <p>These terms and conditions are governed by and construed in accordance with the laws of the United Kingdom.</p>
  <p>Any dispute you have which relates to these terms and conditions, or your use of NHS Volunteering, will be subject to the exclusive jurisdiction of the English courts.</p>

  <h2 class="nhsuk-heading-l">Changes to these terms and conditions</h2>
  <p>Check these terms and conditions regularly. We can update them at any time without notice.</p>
  <p>You will agree to any changes if you continue to use NHS Volunteering after the terms and conditions have been updated.</p>

  <p class="nhsuk-body-s">Last updated 13 December 2023 </p>


  
</div>
</div>




















{% endblock %}

