{% extends "layout.html" %}

{% block pageTitle %}Update Requested{% endblock %}

{% block content %}
  <a href="/design-spike/application-tracker" class="nhsuk-back-link">Back to Application Tracker</a>

  <h1 class="nhsuk-heading-xl">Update Requested</h1>

  <p>Your request has been sent to the recruitment team. You’ll receive an email when they respond.</p>

  <p><strong>Note:</strong> You can only request another update after 48 hours.</p>

  <a href="/design-spike/application-tracker" class="nhsuk-button">Return to Application Tracker</a>

{% endblock %}
