{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
NHS Volunteering - Homepage
{% endblock %}
{% extends "layout.html" %}


{% block main %}
<div class="nhsuk-width-container app-width-container--full">
  <main class="nhsuk-main-wrapper app-main-wrapper--no-padding app-homepage top nhsuk-u-margin-bottom-0"
    id="maincontent" role="main">

    <!-- Homepage content -->
    {% block content %}
    <section class="nhsuk-hero">
      <div class="nhsuk-width-container nhsuk-hero--border">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-hero__wrapper">
            <div class="nhsuk-grid-column-full">


              <div class="govuk-width-container">
                <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
                      <p class="govuk-body">
                        You will be able to use the service from 9am on Monday 24&nbsp;November&nbsp;2025.
                      </p>
                    </div>
                  </div>
                </main>
              </div>

            </div> <!-- /.nhsuk-grid-column-full -->
          </div> <!-- /.nhsuk-hero__wrapper -->
        </div> <!-- /.nhsuk-grid-row -->
      </div> <!-- /.nhsuk-width-container -->
    </section>
    {% endblock %} {# closes content #}

  </main>
</div>
{% endblock %} {# closes main #}












<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}