{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="#">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

<h1 class="nhsuk-heading-xl">Accessibility statement for NHS Volunteering</h1>
<p>This accessibility statement applies to <a href="volunteering.england.nhs.uk" class=“volunteering.england.nhs.uk”>https://volunteering.england.nhs.uk</a>.</p>
  <p>This website is run by NHS Business Services Authority on behalf of NHS England and will be referred to as ‘we’ from now on.</p>
  <p>We want as many people as possible to be able to use this website.</p>
  <p>For example, that means you should be able to:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>use your web browser to change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate most of the website using a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  <li>access the website using a mobile or tablet</li>
</ul>
<p>We’ve also made the website text as simple as possible to understand.</p>
<p><a href="https://mcmw.abilitynet.org.uk" class=“https://mcmw.abilitynet.org.uk”>AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>


  <h2 class="nhsuk-heading-l">How accessible this website is</h2>
  <p>We know some parts of this website are not fully accessible:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>the text will not reflow in a single column when you change the size of the browser window</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>you cannot change the line height or spacing of text</li>
  <li>some of our online forms are difficult to navigate using just a keyboard</li>
  <li>you cannot skip to the main content when using a screen reader</li>
</ul>

  <h2 class="nhsuk-heading-l">Feedback and contact information</h2>
  <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille email the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class=“Your NHS Volunteering query”>nhsvolunteering@nhsbsa.nhs.uk</a></p>



















  
</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
