{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="role-categories/view-types">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>


    <h1 class="nhsuk-heading-xl">Other ways you can support the NHS</h1>

    <p>Volunteering benefits everyone; those you help and you as a volunteer. If you can’t currently find anything that
      suits
      you, check back regularly as new health-related roles are added daily to NHS Volunteering.</p>

    <p>Volunteering is just one way to help the NHS. Here are other ways you can make a difference in your community.
    </p>


    <h2 class="nhsuk-heading-l">Volunteer outside of healthcare</h2>
    <p> <a href="https://www.navca.org.uk/find-a-navca-member">The National Association for Voluntary and Community
        Action</a> can help you find local roles with
      vacancies. Use the map on
      their website to find the centre nearest you.</p>

    <p> <a href="https://reachvolunteering.org.uk/">Reach Volunteering</a> connects people to skills-based and trustee
      roles.</p>

    <p> <a href="https://govo.org/">GoVo</a> offers flexible and diverse volunteering opportunities.</p>


    <h2 class="nhsuk-heading-l">Take part in research</h2>
    <p>Health and care research helps professionals answer important questions and improve treatments for all of us.</p>
    <p> <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research</a> is a free service that helps you to
      find and join studies
      across the UK. Register your details, choose conditions you’re
      interested in and you’ll be sent information on studies you may want to join.</p>
    <p> If participating isn’t for you, there are lots of <a
        href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/">other
        ways to support
        research.</a></p>


    <h2 class="nhsuk-heading-l">Have your say</h2>
    <p>NHS organisations involve the public in planning services and in decision-making.</p>
    <p>Opportunities range from online forums and surveys to joining groups that shape services. </p>
    <p>Visit the <a href="https://www.england.nhs.uk/get-involved/get-involved/opportunities/">NHS England</a>
      website to view opportunities to get involved, or search ‘patient and public voice’ on your
      local NHS organisation’s website.</p>

    <h2 class="nhsuk-heading-l">Give blood</h2>
    <p>Giving blood saves lives. The blood you give is a lifeline in an emergency and for people who need long-term
      treatments.
      We need 4,300 blood donations every day to meet demand.</p>
    <p>For more information about giving blood, visit <a href="https://www.blood.co.uk/">blood.co.uk</a></p>


    <h2 class="nhsuk-heading-l">Join the NHS Organ Donor Register</h2>
    <p>Organ donation can save or transform lives. Most donations come from people who have died, but living donation is
      also
      possible.</p>
    <p>To find out more and to register as a donor, visit <a
        href="https://www.organdonation.nhs.uk/">www.organdonation.nhs.uk</a></p>

    <h2 class="nhsuk-heading-l">Support NHS charities</h2>
    <p>Over 230 NHS charities provide extra support for NHS staff, patients, and volunteers. They help the NHS to go
      above and
      beyond by funding research, improving hospital environments, investing in state-of-the-art technologies and much
      more.</p>
    <p>Visit <a href="https://nhscharitiestogether.co.uk/">NHS Charities Together</a> to donate or find your local NHS
      charity.</p>

    <h2 class="nhsuk-heading-l">Work for the NHS</h2>
    <p>There are over 350 careers in the NHS, including patient care and behind-the-scenes roles.</p>
    <p>Visit the <a href="https://www.healthcareers.nhs.uk/">Healthcare Careers</a> website to learn about careers in
      the NHS, social care and public health. You can <a href="https://www.healthcareers.nhs.uk/FindYourCareer">take
        a short quiz</a>
      to find the NHS
      career that best suit you.</p>
    <p>Visit <a href="https://www.jobs.nhs.uk/candidate">NHS Jobs</a> website includes information about current
      vacancies. You can register to receive regular email updates about jobs that
      interest you.</p>


  </div>
</div>




















{% endblock %}