{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Do you want to add any pre-application questions? - NHS Volunteering
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "overview-process",
"text": "Go back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r20-pre-application-questions-answer" method="post" class="form">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity advert</span>
              Do you want to add any pre-application questions?
            </h1>
          </legend>

          <p class="nhsuk-body">You can use pre-application questions to make sure all applicants meet the essential
            requirements of the opportunity.</p>

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r20-pre-application-1" name="r20-pre-application" type="radio"
                value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="r20-pre-application-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r20-pre-application-2" name="r20-pre-application" type="radio"
                value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="r20-pre-application-2">
                No
              </label>
            </div>

          </div>

        </fieldset>

      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <p class="nhsuk-body">
        <a href="../task-list?r20-task-pre-application-in-progress=true" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}
