{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "select-pre-application-questions",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity advert</span>
      Enter a maximum distance from the opportunity
    </h1>

    <p class="nhsuk-body-s">Reference no: E6789-26-0001</p>

    <p class="nhsuk-body">Enter the maximum distance the volunteer can live or work from the opportunity, such as 20
      miles. Consider how easily the volunteer might be able to get to the location.</p>

    <form action="/r20-pre-application-distance-answer" method="post" class="form">

      <div class="nhsuk-form-group">
        <div class="nhsuk-date-input">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label" for="r20-pre-application-distance-miles">Do you live or work within</label>
          </div>
          <div class="nhsuk-date-input__item">
            <input class="nhsuk-input nhsuk-input--width-2" id="r20-pre-application-distance-miles"
              name="r20-pre-application-distance-miles" type="text" inputmode="numeric">
          </div>
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label" for="r20-pre-application-distance-location">miles of</label>
          </div>
          <div class="nhsuk-date-input__item">
            <input class="nhsuk-input nhsuk-input--width-10" id="r20-pre-application-distance-location"
              name="r20-pre-application-distance-location" type="text">
          </div>
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label" for="r20-pre-application-distance-location">?</label>
          </div>
        </div>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <p class="nhsuk-body">
        <a href="../task-list-in-progress" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}
