{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  

  <h1>BSA Administrator service</h1>

  <p>This is a service for BSA administrators who help to manage NHS Volunteering.</p>
  
  <p>You can use this service to:</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>search for an NHS organisation</li>
    <li>register a new NHS organisation</li>
    <li>edit the details of an existing NHS organisation</li>
  </ul>

<a class="nhsuk-button nhsuk-u-margin-top-3" href="search-or-register">Start</a>



</div>
</div>




















{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
