{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "organisation-result",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Monkwearmouth Hospital</span>
            Name of child organisation
        </h1>

        <form action="organisation-name-check" method="post" class="form">

        <div class="nhsuk-form-group">

          <div class="nhsuk-hint" id="a1-organisation-contact-name-with-hint-text-hint">
            This will show on the trust summary under <strong>'Name of child organisation'</strong>.
          </div>

          <div class="nhsuk-form-group">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
              <div class="nhsuk-form-group ">
                <label class="nhsuk-label" for="a1-organisation-contact-name">
                  Enter a name of a child organisation
                </label>
                <input class="nhsuk-input nhsuk-js-character-count" id="a1-organisation-contact-name" name="a1-organisation-contact-name" type="text">
              </div>
            </div>
          </div>

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    

        

      </form>

    </div>
  </div>

{% endblock %}
