{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "trust-result",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

        

          <form action="" method="post" class="form">

            <div class="nhsuk-form-group">
    
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-heading-l">
                      <span class="nhsuk-caption-l nhsuk-caption--top">Cumbria Northumberland Tyne and Wear NHS Foundation Trust</span>
                      Has this organisation been onboarded?
                  </h1>
          
                  <form action="organisation-result" method="post" class="form">
          
                  <div class="nhsuk-form-group">
                  </legend>
    
                  <div class="nhsuk-hint" id="a1-trust-onboarding-status-with-hint-text-hint">
                    This will show on the parent organisation summary under <strong>'Has this organisation been onboarded?'</strong>.
                  </div>
              
                  <div class="nhsuk-radios">
    
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                      Select one option
                    </legend>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="a1-trust-onboarding-status-1" name="a1-trust-onboarding-status" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="a1-trust-onboarding-status">
                        Yes
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="a1-trust-onboarding-status-2" name="r4-remote" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="a1-trust-onboarding-status-2">
                        No
                      </label>
                    </div>
              
                  </div>
                </fieldset>
              
              </div>
    
    
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Save and continue
            </button>
    
          </form>

          
        </div>
      
      </form>

    </div>
  </div>

{% endblock %}
