{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "trust-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Submit changes to trust address</span>
        Check your answers before submitting
      </h1>

      <h2 class="nhsuk-heading nhsuk-heading-m">Trust address</h2>

      {{ summaryList({
        rows: [
        {
          key: {
            text: "Address"
          },
          value: {
            html: "Jubilee Rd<br>
            Newcastle upon Tyne<br>
            NE3 3XT<br>
            "
          },
          actions: {
            items: [
              {
                href: "trust-address",
                text: "Change",
                visuallyHiddenText: "Location 1"
              }
            ]
          }
        }
        ]
      }) }}

      <form action="trust-result">
        <button class="nhsuk-button nhsuk-u-margin-right-4" data-module="nhsuk-button" type="submit">
          Submit
        </button>
      </form> 

    </div>
  </div>
{% endblock %}
