{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "organisation-result",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Cumbria Northumberland Tyne and Wear NHS Foundation Trust</span>
            Privacy policy
        </h1>

        <form action="" method="post" class="form">

        <div class="nhsuk-form-group">

          <div class="nhsuk-hint" id="a1-organisation-about-with-hint-text-hint">
            This will show on the parent organisation summary under <strong>Privacy policy</strong>.
          </div>

          

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="a1-organisation-result">
              Enter the 'Privacy policy' information
            </label>
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
              <div class="nhsuk-form-group ">
                <!-- to enable rich text, add class of text-editor-2 to textarea element -->
                <textarea rows="8" class="nhsuk-textarea nhsuk-textarea-character-count nhsuk-textarea-character-count-max-1000">
Lots of text showing a privacy policy
                </textarea>
                <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining" >
                    You have <span class="nhsuk-character-count-remaining"></span> characters remaining
                </p>
                <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany govuk-error-message" >
                  You have <span class="nhsuk-character-count-toomany"></span> characters too many
              </p>
              </div>
            </div>
          </div>

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Save and continue
        </button>
    

        

      </form>

    </div>
  </div>

{% endblock %}
