{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "availability",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <form action="/r13/confirm-arjun-details" method="post" class="form">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Select application settings</span>
            Is this the correct email address?
          </h1>

          <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
            This will be used to notify them of new applications for this listing.
          </div>

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <p class="nhsuk-card__description"><strong>Email address: </strong>northerncarealliance.recruitment@nhs.uk
              </p>
            </div>
          </div>


          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r13-email-details-1" name="r13-email-2-check" type="radio"
                value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="r13-email-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r13-email-details-2" name="r13-email-2-check" type="radio"
                value="No, I want to choose someone else">
              <label class="nhsuk-label nhsuk-radios__label" for="r13-email-details-2">
                No, I want to choose a different email address
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>

    </form>

    <p class="nhsuk-body">
      <a href="/r13/task-list-in-progress" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back
        later</a>
    </p>


  </div>
</div>

{% endblock %}