{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "../task-list-fixed",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r14/questions/choose-search-filters-journey-2" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
              Add opportunity tags
            </h1>
          </legend>

          <div class="nhsuk-do-dont-list">
            <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
            <p class="nhsuk-body">Adding tags to your opportunity listing will help volunteers in seeing highlighted
              information that's important for your opportunity.</p>
            <p class="nhsuk-body">For example, if you need a volunteer to see that no experience is required for your
              opportunity, you can select 'No exeperience needed'.</p>
            <p class="nhsuk-body">You can select up to 3 tags for your opportunity.</p>
            <p class="nhsuk-body">Here's an example of what your opportunity tags look like to a volunteer.</p>

            <div class="nhsuk-details__text">
              <p class="nhsuk-body nhsuk-body-s nhsuk-u-margin-bottom-0">0.8 miles away</p>
              <h2 class="nhsuk-link nhsuk-u-margin-bottom-2"> <a href="role-profile-2">Patient transport driver</a></h2>
              <p class="nhsuk-body-l nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"><strong>Leeds</strong></p>
              <p class="nhsuk-u-margin-top-0">Leeds Teaching Hospitals NHS Foundation Trust</p>

              <div class="nhsuk-u-margin-top-2">
                <td class="nhsuk-table__cell" style="margin-top: -10px;">
                  <strong class="nhsuk-tag nhsuk-tag--blue">
                    Need a car
                  </strong>
                </td>
                <td class="nhsuk-table__cell" style="margin-top: 30px; margin-bottom: 30px; padding-left: 30px;">
                  <strong class="nhsuk-tag nhsuk-tag--blue">
                    No experience needed
                  </strong>
                </td>
                <div style="margin-top: 5px;">
                  <td class="nhsuk-table__cell" style="margin-top: 30px; margin-bottom: 30px; padding-left: 30px;">
                    <strong class="nhsuk-tag nhsuk-tag--blue">
                      Need a criminal record check
                    </strong>
                  </td>
                </div>


                <div class="nhsuk-card" style="margin-top: 20px; margin-bottom: 0px;">
                  <div class="nhsuk-card__content">
                    <p>You will drive disabled, elderly, sick or vulnerable people to and from outpatient clinics, day
                      care centres and routine hospital admissions.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <form action="check-location-final" method="post">

            <div class="nhsuk-form-group" style="margin-top: 30px;">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                <div class="nhsuk-hint" id="example-hint">
                  Select up to 3 tags that you want to use in your listing.
                </div>

                <div class="nhsuk-checkboxes">


                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      Evening availability
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      No experience needed
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      Patient facing
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                      value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Need a car
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                      value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Need a driving licence
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                      value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Requires some physical activity
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                      value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Experience of computers
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                      value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Suitable from age 16
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      Suitable from age 21
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__divider">or</div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="symptoms-5" name="symptoms" type="checkbox" value="none"
                      data-checkbox-exclusive data-checkbox-exclusive-group="symptoms-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-5">
                      I don't want to use any tags
                    </label>
                  </div>

                </div>
              </fieldset>

              <div class="nhsuk-form-group nhsuk-u-margin-top-6 nhsuk-u-padding-top-4"
                style="border-top: 1px solid #d8dde0;">
                <label class="nhsuk-label nhsuk-label--s" for="custom-tag">
                  Create a tag
                </label>
                <div class="nhsuk-hint">Enter a name for the tag, for example, 'Weekends only'</div>
                <input class="nhsuk-input nhsuk-input--width-20" id="custom-tag" name="custom-tag" type="text">
              </div>

              <div id="tag-container" class="nhsuk-u-margin-top-4">
                <ul class="nhsuk-list" id="chip-list">
                </ul>
              </div>

            </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="margin-top: 30px;">
              Save and continue
            </button>

          </form>


          <p class="nhsuk-body">
            <a href="/r14/task-list-fixed-journey-2" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back
              later</a>
          </p>
      </div>

      {% endblock %}