{% extends 'layout_vol_header.html' %}

<!-- some custom css for the meet-our-volunteers page only -->

{% set mainClasses = 'app-meet-our-volunteers' %}

{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-back-link">
  
      <a class="nhsuk-back-link__link" href="what-our-volunteers-say">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

  <h1>Meet our volunteers</h1>
 
  <p class="nhsuk-body">We have selected a few volunteers to talk about what it means to them to be an NHS volunteer. </p>
  <p class="nhsuk-body">We have changed their names and details to protect their identity. </p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Jay's story
        </h2>
        <div class="nhsuk-card_description">
          <img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
          <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 16 to 24 years old</p>
          <p class="nhsuk-body"><strong>Volunteers at:</strong> a hospital in Harrow <br> <strong>As a:</strong> youth buddy volunteer</p>
        </div>
        <div class="nhsuk-card__description__meet-vols"> 
          <p class="nhsuk-body"><strong>Why I volunteer:</strong>   I started volunteering to get experience for my degree, but I have enjoyed having thoughtful conversations with patients.</p>
          <p class="nhsuk-body">I like the rewarding feeling of knowing I am making a different to their experience. Volunteering has given me the opportunity to work in a multidisciplinary team and I am able to learn by observing doctors and nurses.</p>
          <p class="nhsuk-body"><strong>My typical day:</strong> I provide companionship to young mental health patients waiting in the emergency department. I also look after their parents by providing drinks while they are waiting for staff to see their kids.</p>
          <p class="nhsuk-body"><strong>Why you should consider it too:</strong> It only takes a few hours of your week to give back to the community. It increases your confidence in meeting a range of different people from different backgrounds. You'll learn something new everyday. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Clare's story
        </h2>
        <div class="nhsuk-card_description">
          <img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
          <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 65 to 74 years old</p>
          <p class="nhsuk-body"><strong>Volunteers at:</strong> a hospital in Harlow <br> <strong>As an:</strong> end of life companion (butterfly volunteer)</p>
        </div>
        <div class="nhsuk-card__description__meet-vols">
          <p class="nhsuk-body"><strong>Why I volunteer:</strong>  As a butterfly volunteer, I support patients as they prepare to face the last stage of their lives. No one should die alone. For the patient, it can be quite a frightening time.
            <br>
            <br>
            It is an honour and a privilege to be able to sit there and give them comfort. This is for me the highest reward one could have.
          </p>
          <p class="nhsuk-body"><strong>My typical day:</strong> I sit with patients who are in their last days/hours of life so they are not alone. I let nurses know of any changes in their condition. I may read, play gentle music or just sit quietly holding their hand. I also give respite for families who need a break, making them a drink or sorting out free parking for them.</p>
          <p class="nhsuk-body"><strong>Why you should consider it too:</strong> volunteers are greatly needed and very valued. You would be giving something back, which in itself is rewarding.  </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Pav's story
        </h2>
        <div class="nhsuk-card_description">
          <img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
          <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 16 to 24 years old</p>
          <p class="nhsuk-body"><strong>Volunteers at:</strong> a hospital in Sheffield<br><strong>As an:</strong> art activities volunteer<br></p>
        </div>
        <div class="nhsuk-card__description__meet-vols">
          <p class="nhsuk-body"><strong>Why I volunteer:</strong>  I volunteer with the NHS because I want to gain and build skills and abilities to assist vulnerable patients. I would like to work in the NHS one day.
            <br>
            <br>
            What I enjoy the most is entertaining patients and making them smile. I have learned new skills and abilities through volunteering. I have gained an understanding of the health and social care sector. It helps me to prepare for my training in the NHS.
          </p>
          <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer every Saturday from 1-4pm.
            <br>
            <br>
            I entertain patients with colouring, books and games. We have great conversations and I help them feel a bit better while I am with them. 
          </p>
          <p class="nhsuk-body"><strong>Why you should consider it too:</strong> volunteering in the NHS can help you gain and build up your skills and abilities for the future. You'll feel how grateful patients are to you. </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              Search for an opportunity
            </h2>
            <p>Use your postcode and other criteria to find volunteering opportunities near you.</p>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="postcode-search">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Go to search</span>
              </a>
            </div>
          </div>
        </div>

      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              Browse opportunity types
            </h2>
            <p>There are many ways you can help. Find out what the different opportunities are and what they entail.</p>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="../role-categories/view-types">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Browse opportunity types</span>
              </a>
            </div>
          </div>
        </div>

      </li>

    </ul>
  </div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
