// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';



///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
/// 
/// 
//

// styling for back-link
.nhsuk-back-link {
  padding-top: 0px;
  padding-bottom: 16px;
}

// styling for Search opportunity section on volunteering/index
.container-white{
background-color: white;
color: black;
margin-bottom: 0px;
}
nhsuk-grid-column-full {
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
}
.app-homepage .nhsuk-section:nth-of-type(2) {
  padding-top: 40px;
  padding-bottom: 0px;
}
.app-section__content {
padding-bottom: 40px;
padding-top: 40px;
}
.nhsuk-grid-column-one-half{
  padding-bottom: 16px;
  padding-top: 40px;
}


.role-type-image {
    width: auto;
    height: auto;
    img {
      object-fit: cover;
    }
}

// styling for main 

.app-width-container--full {
  margin: 0;
  max-width: none;
}

.nhsuk-main-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
}

// styling for hero image
@media (min-width: 40.0625em) {
  .nhsuk-hero--image-description {
      margin-bottom: 0px;
  }
} 



// styling for what-our-volunteers-say.html

// styling for meet-our-volunteers.html


.nhsuk-card__meet-vols .nhsuk-card__heading  {
  grid-area: title;
}

.nhsuk-card__meet-vols .nhsuk-card__description  {
  grid-area: sidebar;
}

.nhsuk-card__meet-vols .nhsuk-card__description__meet-vols  {
  grid-area: content;
}

.nhsuk-card__meet-vols .nhsuk-card__content {
  display: grid;
  grid-template-areas: 
  "title"
  "sidebar"
  "content";
}

@media (min-width: 48.0625em) {
  .nhsuk-card__meet-vols .nhsuk-card__content {
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "title content"
    "sidebar content";

  }
}

// Task list pattern - RECRUITER version

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.app-task-list__section {
  display: table;
  @include nhsuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;
  padding-right: nhsuk-spacing(1);

  @include mq($from: tablet) {
    min-width: nhsuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include nhsuk-font($size: 19);
  @include nhsuk-responsive-margin(7, "bottom");
  list-style: none;
  padding-left: 0;
  @include mq($from: tablet) {
    padding-left: nhsuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid $nhsuk-border-color;
  margin-bottom: 0 !important;
  padding-top: nhsuk-spacing(4);
  padding-bottom: nhsuk-spacing(4);
  @include clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $nhsuk-border-color;
}

.app-task-list__task-name {
  display: block;
  max-width: 50%;
  @include mq($from: 350px) {
    float: left;
  }
  @include mq($from: desktop) {
    max-width: 60%;
  }
}

.app-task-list__task-tag {
  margin-top: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(1);

  @include mq($from: 350px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-task-list__items--no-padding {
  padding-left: 0;
}

/***** Text editor *****/

.trumbowyg-box {
  border: 2px solid #425563 !important;
  background-color: #ffffff; }

.trumbowyg-button-pane::after {
  height: 2px !important;
  background-color: #425563 !important; }

.trumbowyg-editor {
  word-wrap: anywhere;
  color: #212b32; }

  /***** Text editor END *****/

// gov warning component styles //
.govuk-warning-text {
  margin-bottom: 30px;
}
.govuk-warning-text {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
}
.govuk-warning-text__icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 20px;
  min-width: 35px;
  min-height: 35px;
  margin-top: 19px;
  margin-right: 20px;
  border: 3px solid #0B0C0C;
  border-radius: 50%;
  color: #fff;
  background: #0B0C0C;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  forced-color-adjust: none;
}
.govuk-warning-text__text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.31579;
  color: #0B0C0C;
  display: block;
  padding-left: 45px;
}
.govuk-warning-text__assistive {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.nhsuk-footer__list  {
  column-count: 2;
  color: #4c6272;
  .nhsuk-footer__list-item {
    float: none;
  }
}

//cookies 

#nhsuk-cookie-banner .nhsuk-success-banner {
  background-color: #007f3b;
  color: #fff;
  padding: 8px 0 8px 0;
  position: relative;
}

#nhsuk-cookie-banner .nhsuk-success-banner p {
  margin: 0;
}

#nhsuk-cookie-banner {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Frutiger W01,Arial,Sans-serif;
}



#nhsuk-cookie-banner p {
  display: block;
  margin-top: 0;
}

.top-banner {
  padding: 16px 0;
  background-color: #ffffff; }
  .top-banner.info {
    background-color: #f0f4f5; }

.info-status {
  border-color: #005EB8 !important;
}

.top-banner {
  padding: 16px 0;
  background-color: #ffffff; }
  .top-banner.feedback {
    background-color: #ffffff; }

// css for login page 

.nhsuk-recruiter-login-container {
  background-color: #005eb8;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 100vh;
  display: grid;
  p {
    font-size: 19px;
    a {
      font-size: 16px;
      color:  #005eb8 ;
    }
  }
  > div {
    background-color: #fff;
    place-self: center;
    padding: 50px;
    header {
      display: grid;
      place-items: center;
    }
    h1 {
      font-weight: 400 !important;
    }
  }
  button, input[type="submit"], input[type="reset"] {
    background: #005EB8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 60px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    align-items: center;
  }
  input {
    height: 50px;
    width: 450px;
    display: block;
    &:last-of-type {
      margin-top: 22px;
      margin-bottom: 10px;
    }
    border-radius: 8px;
    border: 1px grey solid;
  }
  img {
    margin-bottom: 10px;
  }
}

// css for white action link override

.nhsuk-action-link--reverse .nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
    fill: #ffffff !important;
}

.nhsuk-action-link--reverse .nhsuk-action-link__link:not(.nhsuk-button) {
    text-decoration: none; 
}

// styling for padding index v-2 override
  .app-homepage .nhsuk-sectionv2:nth-of-type(2) {
  padding-top: 0px;
  padding-bottom: 0px;}

// styling for grey button (recruiter MVP) 

.custom-grey-button {
  background-color: #4c6272 !important;
  color: #fff !important;               
  border-color: transparent !important;
}

// Optional: Hover and focus states 
.custom-grey-button:hover,
.custom-grey-button:focus {
  background-color: #4c6272 !important; 
  color: #fff !important;
}


