// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.container-white{
background-color: white;
color: black;
padding: 15px;
margin-bottom: 30px;
}

.role-type-image {
    width: 100%;
}