// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.container-white{
background-color: white;
color: black;
padding: 15px;
margin-bottom: 30px;
}

.role-type-image {
    width: 100%;
}

// styling for what-its-like.html

.app-what-its-like {
  .nhsuk-section:nth-of-type(2), .nhsuk-section:nth-of-type(4) {
    background: #fff;
  }
}

// styling for meet-our-volunteers.html


.nhsuk-card__meet-vols .nhsuk-card__heading  {
  grid-area: title;
}

.nhsuk-card__meet-vols .nhsuk-card__description  {
  grid-area: sidebar;
}

.nhsuk-card__meet-vols .nhsuk-card__description__meet-vols  {
  grid-area: content;
}

.nhsuk-card__meet-vols .nhsuk-card__content {
  display: grid;
  grid-template-areas: 
  "title"
  "sidebar"
  "content";
}

@media (min-width: 48.0625em) {
  .nhsuk-card__meet-vols .nhsuk-card__content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "title content"
    "sidebar content";

  }
}