{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "recieve-applications",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

      <form action="/r3-closing-date-answer" method="post" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <h1 class="nhsuk-heading-l">
                <span class="nhsuk-caption-l nhsuk-caption--top">Select application settings</span>
                Do you want to set a closing date?
              </h1>

              <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
                This will show as the last date to register for this opportunity.
              </div>

              <div class="nhsuk-do-dont-list">
                <h3 class="nhsuk-do-dont-list__label">Guidance</h3>
                <p class="nhsuk-body">You can change the closing date anytime, including after the listing is published.</p>
                <p class="nhsuk-body">Once it closes, you will need to create a new listing if you want to advertise this opportunity again.</p>  
              </div>
            
          
              <div class="nhsuk-radios">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                  Select one option
                </legend>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="r3-closing-date-1" name="r3-closing-date" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="r3-closing-date-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="r3-closing-date-2" name="r3-closing-date" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="r3-closing-date-2">
                    No, I don't want to select a closing date
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>


        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>


        

      </form>

    </div>
  </div>

{% endblock %}