{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "check-location",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <form action="contact-details" method="post" class="form">

        <h1 class="nhsuk-heading nhsuk-heading-l" for="example">
          <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
            What availability are you looking for?
        </h1>
        <div class="nhsuk-hint" id="example-hint">
          This will show on the <strong>opportunity listing</strong>.
        </div>

        <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">Guidance</h3>
            <p class="nhsuk-body">You need to include:</p>
            <ul class="nhsuk-list nhsuk-list--bullet" role="list">
              <li>the hour slots available and the duration of shifts</li>
              <li>any available days</li>
              <li>if there are many shifts available</li>
            </ul>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Examples for all types of opportunities 
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p class="nhsuk-body">Shifts are available from 8am to 1pm, Mondays to Fridays.</p>
                <p class="nhsuk-body">Shifts are three hours per week on Tuesdays or Thursdays.</p>
                <p class="nhsuk-body">A variety of shifts are available.</p>
              </div>
            </details>
          </div>  

          <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">Do not</h3>

            <p class="nhsuk-body">Do not include anything relating to the minimum time commitment you require. </p>
          </div>  

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Do not</span>
              Do not include anything relating to the minimum time commitment you require. 
            </strong>
          </div>

        <div class="nhsuk-form-group">

            <label for="example" class="nhsuk-label">Enter the availability</label>
            
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
              <div class="nhsuk-form-group ">
                <!-- to enable rich text, add class of text-editor-2 to textarea element -->
                <textarea rows="4" class="nhsuk-textarea nhsuk-textarea-character-count nhsuk-textarea-character-count-max-100"></textarea>
                <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining" >
                    You have <span class="nhsuk-character-count-remaining"></span> characters remaining
                </p>
                <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany govuk-error-message" >
                  You have <span class="nhsuk-character-count-toomany"></span> characters too many
              </p>
              </div>
            </div>
          </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}
