{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check answers
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <h1 class=" nhsuk-heading nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
        Check locations
      </h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location 1
          </dt>
          <dd class="nhsuk-summary-list__value">
            Airedale Hospital
            <br>
            Steeton Road 
            <br>
            BD23 2PF
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="manual-address">Change<span class="nhsuk-u-visually-hidden"> Change location 1</span></a>
              </li>
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="#">Remove<span class="nhsuk-u-visually-hidden">Remove location 1</span></a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location 2
          </dt>
          <dd class="nhsuk-summary-list__value">
            Bradford Royal Infirmary
            <br>
            Daisy Hill
            <br>
            BD4 4AK 
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="manual-address">Change<span class="nhsuk-u-visually-hidden"> Change location 2</span></a>
              </li>
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="#">Remove<span class="nhsuk-u-visually-hidden">Remove location 2</span></a>
              </li>
            </ul>
          </dd>
        </div>

      </dl>

      <a href="availability" class="nhsuk-button">
        Save and continue
      </a>
      <p class="nhsuk-body">              
        <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
      </p>

    </div>
  </div>
{% endblock %}
