{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="recruiter-user-2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
 
  <form action="/r9-delete-user-answer" method="post" class="form">

    <div class="nhsuk-form-group">
  
      <fieldset class="nhsuk-fieldset">
  <h1>Are you sure you want to deactivate this team member?</h1>
  <p>Name: <strong>Fred Lettuce</strong></p>
  <p>Email address: <strong>fred.lettuce@nhs.uk</strong></p>
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
  
    <p>Once you deactivate this team member's profile, they will not be able to sign in and use this service.</p>
  </div>
  <p>When deactivating a team member, you might need to correct things like contact information on their live listings.</p>
  <div class="nhsuk-form-group">
  
      <div class="nhsuk-radios">
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="r9-delete-user-1" name="r9-delete-user" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="r9-delete-user-1">
            Yes, deactivate this team member
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="r9-delete-user-2" name="r9-delete-user" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="r9-delete-user-2">
            No
          </label>
        </div>
      </fieldset>
      </div>
  
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
    </button>
  </div>
  </form>

  
  </div>



 



  



</div>
</div>




















{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
