{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">


 

  <h1>Sorry, there is a problem with the service</h1>
  <p>Try again later. </p>
  <p>Contact the NHS Volunteering team if you have any questions.</p>
  <p>Email: 
    <br>
    <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">nhsvolunteering@nhsbsa.nhs.uk</a>
  </p>
  <p>
    Phone:
    <br>
    <strong>0300 330 0012</strong>
  </p>
  <p>
    Opening times:
    <br>
    <strong>Monday to Friday: 8am to 5pm</strong>
  </p>
  <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out about call charges from the NHS Business Services Authority.</a></p>
  <p>Closed on bank holidays.</p>
 



  



</div>
</div>




















{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
