{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Register an organisation with NHS Volunteering
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

        <h1>
          You cannot use this service at the moment
        </h1>

        <h2>
          We are doing planned maintenance. Please try again later.
        </h2>

        <p class="nhsuk-body">Contact the NHS Volunteering team at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class="Your NHS Volunteering query">nhsvolunteering@nhsbsa.nhs.uk</a> if you have any further queries.</p>

      </div>  

  </div>
{% endblock %}
