{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "closing-date",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <form action="review-questions" method="post" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  <span class="nhsuk-caption-l nhsuk-caption--top">Select application settings</span>
                  Do you want to set an application limit? (optional)
                </h1>
              </legend>

              <div class="nhsuk-hint">If you set a limit of applications as well as a closing date, you'll stop receiving responses if that limit is reached before the closing date.</div>

              
            </fieldset>
          
          
          </div>


        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}