{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="reference-number" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-heading nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Setting up a listing</span>
            Enter a title for the opportunity listing
          </h1>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            This is how we will list this opportunity on this service.
          </div>

          <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">Guidance</h3>
            <p class="nhsuk-body">You need to write your title like this:</p>
            <ul class="nhsuk-list nhsuk-list--bullet" role="list">
              <li>Walk and talk volunteer- if the listing is for a specific opportunity</li>
              <li>Volunteer at St. James Hospital - if this is a generic listing for all your opportunities</li>
            </ul>
          </div>

          <label class="nhsuk-label" for="r2-opportunity-name">
            Enter a title
          </label>
          <input class="nhsuk-input" id="r2-opportunity-name" name="r2-opportunity-name" type="text">

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}
