{% extends 'v19/v19_layout.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering - Search for an opportunity near me
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link nhsuk-u-margin-top-4">

      <a class="nhsuk-back-link__link" href="../volunteering/index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <h1>Search for a volunteering opportunity</h1>
    <form action="../results/results" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            Select where you want the opportunity to be based.
          </legend>

          {% set inPersonChecked = checked('v26-search-location', 'in-person') %}
          <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="v26-search-location-1" name="v26-search-location"
                type="checkbox" value="remote" {{ checked('v26-search-location', 'remote') }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="v26-search-location-1">
                Remote, from home
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="v26-search-location-2" name="v26-search-location"
                type="checkbox" value="in-person" data-aria-controls="conditional-v26-search-location-2"
                {{ inPersonChecked }}>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="v26-search-location-2">
                In person
              </label>
            </div>

            <div class="nhsuk-checkboxes__conditional
              {%- if not inPersonChecked %} nhsuk-checkboxes__conditional--hidden{% endif %}"
              id="conditional-v26-search-location-2">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="postcode">
                  Enter a postcode in England
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text"
                  autocomplete="postal-code" value="{{ data['postcode'] }}">
              </div>

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend">
                    How far from the postcode would you like to search?
                  </legend>

                  <div class="nhsuk-radios">

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="radius-3" name="v26-filter-distance" type="radio" value="3" {{
                        checked("v26-filter-distance", "3" ) }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="radius-3">
                        Up to 3 miles
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="radius-5" name="v26-filter-distance" type="radio" value="5" {{
                        checked("v26-filter-distance", "5" ) }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="radius-5">
                        Up to 5 miles
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="radius-10" name="v26-filter-distance" type="radio" value="10" {{
                        checked("v26-filter-distance", "10" ) }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="radius-10">
                        Up to 10 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="radius-20" name="v26-filter-distance" type="radio" value="20" {{
                        checked("v26-filter-distance", "20" ) }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="radius-20">
                        Up to 20 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="radius-30" name="v26-filter-distance" type="radio" value="30" {{
                        checked("v26-filter-distance", "30" ) }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="radius-30">
                        Up to 30 miles
                      </label>
                    </div>

                  </div>
                </fieldset>

              </div>

            </div>

          </div>
        </fieldset>

      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Search
      </button>
    </form>


  </div>
</div>




















{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  // The installed nhsuk-frontend release reads aria-controls; newer releases
  // (and the service manual examples) use data-aria-controls, so map it across
  document.querySelectorAll('[data-aria-controls]').forEach(function (input) {
    input.setAttribute('aria-controls', input.getAttribute('data-aria-controls'))
  })
</script>
<script src="/nhsuk-frontend/nhsuk.min.js"></script>
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}