{% extends 'v26/v26_layout.html' %}

{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link nhsuk-u-margin-top-4">

      <a class="nhsuk-back-link__link" href="../results/results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back to results</a>
    </div>

    <h1 class="nhsuk-u-margin-bottom-3"> <span class="nhsuk-caption-xl nhsuk-caption--top">Leeds Royal Infirmary</span>
      Hospital Youth Volunteer</h1>

    <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
      <span class="nhsuk-u-visually-hidden">Information: </span>

      <p>The organisation may close this opportunity at any time based on their needs.</p>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=hospital-youth-volunteer">
      Apply for this opportunity
    </a>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Description
        </h2>
        <p>Hospital Youth Volunteers support patients, visitors and staff by helping with a range of non-clinical
          activities across the hospital.</p>
        <p>You will welcome visitors, support events and activities, help people find their way around the hospital
          and assist staff with simple administrative tasks. This is a great opportunity to gain experience, develop
          confidence and make a difference in your community.</p>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Am I the right person for this?
        </h2>
        <p>This opportunity may suit someone who is friendly, enthusiastic and enjoys helping others.</p>
        <p>You do not need previous experience, qualifications or training. All you need is to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>have good communication skills</li>
          <li>be reliable and willing to learn</li>
          <li>be comfortable talking to patients and visitors</li>
          <li>be able to follow instructions from staff</li>
          <li>be aged 16 or over</li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3>Useful information about the opportunity</h3>
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date posted</dt>
            <dd class="nhsuk-summary-list__value">8 September 2026</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Shifts available</dt>
            <dd class="nhsuk-summary-list__value">After school, evenings and school holidays</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Reference Number</dt>
            <dd class="nhsuk-summary-list__value">HYV-006</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Role locations</dt>
            <dd class="nhsuk-summary-list__value">
              Leeds Royal Infirmary<br>
              Chapeltown Road<br>
              Leeds<br>
              LS7 4SA
            </dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          What happens after you apply for this opportunity
        </h2>
        <p>We'll get in touch with you when we review your application.</p>
        <p>To become a volunteer, you may need to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>provide proof of identity</li>
          <li>attend an induction session</li>
          <li>complete volunteer training</li>
          <li>provide details of a referee</li>
          <li>provide parental or guardian consent if required</li>
        </ul>
      </div>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=hospital-youth-volunteer">
      Apply for this opportunity
    </a>

  </div>
</div>

{% endblock %}
