{% extends 'v26/v26_layout.html' %}

{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link nhsuk-u-margin-top-4">

      <a class="nhsuk-back-link__link" href="../results/results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back to results</a>
    </div>

    <h1 class="nhsuk-u-margin-bottom-3"> <span class="nhsuk-caption-xl nhsuk-caption--top">St James's University Hospital</span>
      Trolley Volunteer</h1>

    <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
      <span class="nhsuk-u-visually-hidden">Information: </span>

      <p>The organisation may close this opportunity at any time based on their needs.</p>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=trolley-volunteer">
      Apply for this opportunity
    </a>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Description
        </h2>
        <p>Trolley Volunteers support patients and visitors by providing refreshments, comfort items and conversation while they are in hospital.</p>
        <p>You will visit wards with the trolley service, offering drinks and light refreshments to patients and helping create a welcoming environment.</p>
        <p>You will also provide companionship and a friendly face to patients who may be feeling anxious, lonely or uncertain during their stay.</p>
        <p>You may also:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>provide conversation and companionship to patients</li>
          <li>help keep the trolley stocked with refreshments and supplies</li>
          <li>support patients and visitors in a polite and respectful manner</li>
          <li>work alongside staff and other volunteers</li>
          <li>follow confidentiality, health and safety and infection prevention guidance</li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Am I the right person for this?
        </h2>
        <p>This opportunity may suit someone who is friendly, approachable and caring.</p>
        <p>You do not need previous experience, qualifications or training. All you need is to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>have good communication and listening skills</li>
          <li>enjoy speaking with people from different backgrounds</li>
          <li>be comfortable approaching people to offer help</li>
          <li>be able to maintain confidentiality</li>
          <li>be reliable and punctual</li>
          <li>be 18 or over</li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3>Useful information about the opportunity</h3>
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date posted</dt>
            <dd class="nhsuk-summary-list__value">10 June 2023</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Shifts available</dt>
            <dd class="nhsuk-summary-list__value">Monday to Friday afternoons</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Reference Number</dt>
            <dd class="nhsuk-summary-list__value">T186655-LDS</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Role locations</dt>
            <dd class="nhsuk-summary-list__value">
              Beckett Wing<br>
              St James's University Hospital<br>
              Beckett Street<br>
              Leeds<br>
              LS9 7TF
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Who will support you</dt>
            <dd class="nhsuk-summary-list__value">Volunteer Coordinator</dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          What happens after you apply for this opportunity
        </h2>
        <p>We'll get in touch with you when we review your application. This may take a few weeks.</p>
        <p>If we'd like to take your application forward, we'll invite you to an informal conversation to learn more about you and discuss the role.</p>
        <p>To become a volunteer, you may need to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>provide proof of identity and address</li>
          <li>complete any required training</li>
          <li>complete appropriate DBS and occupational health checks</li>
          <li>provide details of two referees</li>
          <li>provide information about your work history</li>
        </ul>
      </div>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=trolley-volunteer">
      Apply for this opportunity
    </a>

  </div>
</div>

{% endblock %}
