{% extends 'v26/v26_layout.html' %}

{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link nhsuk-u-margin-top-4">

      <a class="nhsuk-back-link__link" href="../results/results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back to results</a>
    </div>

    <h1 class="nhsuk-u-margin-bottom-3"> <span class="nhsuk-caption-xl nhsuk-caption--top">Voluntary Action Leeds</span>
      Volunteer Car Driver</h1>

    <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
      <span class="nhsuk-u-visually-hidden">Information: </span>

      <p>The organisation may close this opportunity at any time based on their needs.</p>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=volunteer-car-driver-leeds">
      Apply for this opportunity
    </a>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Description
        </h2>
        <p>Volunteer car drivers help patients attend healthcare appointments by providing transport using their own
          vehicle.</p>
        <p>You will collect patients from their home and transport them to appointments and therapy groups, ensuring
          they arrive on time. You will provide a friendly and welcoming service and help people access the care and
          support they need.</p>
        <p>You may also:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>provide a friendly and reassuring presence during journeys</li>
          <li>attend support and supervision sessions</li>
          <li>complete any required training</li>
          <li>maintain confidentiality at all times</li>
          <li>follow health and safety, equality and data protection requirements</li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Am I the right person for this?
        </h2>
        <p>This opportunity may suit someone who is friendly, reliable and caring.</p>
        <p>You do not need previous experience, qualifications or training.</p>
        <p>All you need is to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>have good communication and listening skills</li>
          <li>be confident driving independently</li>
          <li>be able to treat people with dignity and respect</li>
          <li>be able to maintain confidentiality</li>
          <li>hold a full UK driving licence</li>
          <li>have access to a suitable vehicle</li>
          <li>be 18 or over</li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3>Useful information about the opportunity</h3>
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date posted</dt>
            <dd class="nhsuk-summary-list__value">8 September 2026</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Shifts available</dt>
            <dd class="nhsuk-summary-list__value">Flexible hours</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Reference Number</dt>
            <dd class="nhsuk-summary-list__value">VCD-001</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Role locations</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Voluntary Action Leeds<br>
                Stringer House<br>
                34 Lupton Street<br>
                Leeds<br>
                LS10 2QW</p>
              <p>Journeys take place across Leeds and surrounding areas.</p>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Travel requirements</dt>
            <dd class="nhsuk-summary-list__value">You will use your own vehicle and may be able to claim volunteer
              expenses in line with the organisation's expenses policy.</dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          What happens after you apply for this opportunity
        </h2>
        <p>We'll get in touch with you when we review your application.</p>
        <p>After that, we may invite you to an informal interview and discuss the role in more detail.</p>
        <p>To become a volunteer, you may need to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>provide proof of identity</li>
          <li>complete any required training</li>
          <li>complete a DBS check</li>
          <li>provide details of referees</li>
          <li>complete driver and vehicle checks</li>
          <li>attend support and supervision sessions during your volunteering placement</li>
        </ul>
      </div>
    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v26/pre-application/start?v26-opportunity=volunteer-car-driver-leeds">
      Apply for this opportunity
    </a>

  </div>
</div>

{% endblock %}
