{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "summary",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>


    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
      Add a description of the opportunity
    </h1>

    <form action="looking-for" method="post" class="form">

      <div class="nhsuk-form-group">

        <div class="nhsuk-do-dont-list">
          <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
          <p class="nhsuk-body">Your description should include an overview of the opportunity and the main tasks
            involved.</p>
          <p class="nhsuk-body">Volunteers are more likely to apply if you advertise a specific opportunity.</p>
          <p class="nhsuk-body">If you are not advertising a specific opportunity you can include details of the range
            of opportunities you offer.</p>
          <p class="nhsuk-body">You do not need to add any information about your organisation.</p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How you might describe the opportunity
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p class="nhsuk-body">You will support our mental health services team with the running of the walk and
                talk activity.</p>
              <p class="nhsuk-body">You will encourage people to take part in this therapeutic and social activity. You
                will meet and greet people as they arrive and direct walkers along the designated route.</p>

            </div>
          </details>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r9-summary">
            Enter a description of the opportunity
          </label>
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
            <div class="nhsuk-form-group ">
              <!-- to enable rich text, add class of text-editor-2 to textarea element -->
              <textarea rows="8"
                class="nhsuk-textarea nhsuk-textarea-character-count nhsuk-textarea-character-count-max-1000"></textarea>
              <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining"></span> characters remaining
              </p>
              <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany govuk-error-message">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
              </p>
            </div>
          </div>
        </div>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>If you have copied and pasted text, check it looks okay before continuing as sometimes formatting errors
            can occur.</p>
        </div>

      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>

      <p class="nhsuk-body">
        <a href="../task-list-in-progress" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
      </p>




    </form>

  </div>
</div>

{% endblock %}