{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="address">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1><span class="nhsuk-caption-l nhsuk-caption--top">Step 4 of 8</span>What is your email address? </h1>
  <p class="nhsuk-hint">We will only use these details to contact you about this opportunity.</p>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        If you don't have an email address
      </span>
    </summary>
    <div class="nhsuk-details__text">
        <a href="">Go back to the opportunity page</a> and contact the organisation to discuss what support is available. They might offer paper forms or help you complete the online form.</p>
    </div>
  </details>

  <form action="phone" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="input-width-50">
       Email address
      </label>
      <input class="nhsuk-input nhsuk-input--width-50" id="v9-volunteer-email" name="v9-volunteer-email" type="text" value="{{ data['v9-volunteer-email'] }}">
  
  
     
     
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="input-width-50">
      Confirm email address
      </label>
      <input class="nhsuk-input nhsuk-input--width-50" id="v9-volunteer-email-confirmation" name="v9-volunteer-email-confirmation" type="text" value="{{ data['v9-volunteer-email-confirmation'] }}">
  
  
     
     
    </div>
  
  <button class="nhsuk-button" type="submit">Continue</button>
  </form>

</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
