{% extends 'layout_login.html' %}
{% set mainClasses = "nhsuk-recruiter-login-container" %}
{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}


{% block content %}
    <div>
        <header>
            <img style="width:50% !important; "src="/images/volunteering-logo.png" alt="" height="100px">
            <h1>Sign in</h1>
        </header>
        <section>
            <p class="">Sign in with your email address</p>
            <input type="text">
            <input type="text">
            <p><a href="">Forgotten your password?</a></p>
            <button>Sign in</button>
        </section>
    </div>
{% endblock %}