{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/r10/index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>
    <h1 class="nhsuk-u-margin-bottom-2"><span class="nhsuk-caption-l">Listing reference number: 12240-AB</span> Ward
      support volunteer</h1>
    <p class="nhsuk-u-margin-bottom-2">Leeds Teaching Hospitals NHS Trust</p>
    <div class="nhsuk-body nhsuk-u-margin-top-0">
      <p>Leeds, LS2 1AP</p>
    </div>

    <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>The closing date for this opportunity is 20 September 2025.</p>
    </div>


    <!-- Summary -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Summary

        </h2>
        <p>You will support our mental health services team with the running of this activity. You will help maintain
          and improve the well-being of patients with memory problems or dementia.</p>
        <p>You will:</p>
        <ol class="nhsuk-list nhsuk-list--number">
          <li>encourage people to take part in this therapeutic and social activity</li>
          <li>meet and greet people as they arrive</li>
          <li>help people to feel good about themselves</li>
          <li>direct walkers along the designated route</li>
        </ol>
      </div>
    </div>


    <!-- Am I the right person -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Am I the right person for this?

        </h2>
        <p>This opportunity will suit someone friendly, approachable and enthusiastic.
        </p>
        <p>You don't need any previous experience, qualifications or training. All you need is to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>have good people skills and want to chat with people</li>
          <li>be reliable and be good at time keeping</li>
          <li>enjoy the outdoors</li>
          <li>be 16 or over</li>
        </ul>
        <p>This opportunity requires some walking. If this doesn't suit you, we can discuss other ways you can volunteer
          with us.</p>
      </div>
    </div>

    <!-- Information about the opportunity -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"> Useful information about the opportunity</caption>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Date posted:</td>
              <td class="nhsuk-table__cell ">10 June 2023</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Shifts available:</td>
              <td class="nhsuk-table__cell ">Three hours a week on a Tuesday or Thursday</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Reference number:</td>
              <td class="nhsuk-table__cell ">T18420957-AT</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Role location:</td>
              <td class="nhsuk-table__cell ">Leeds General Infirmary<br>
                Claredon Way<br>
                Leeds<br>
                LS2 1AP<br>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Who will support you</td>
              <td class="nhsuk-table__cell ">Volunteer Coordinator

              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <!-- What happens after the opportunity -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          What happens after you apply for this opportunity

        </h2>
        <p>You'll hear back from the organisation after they review your application. This might take a few weeks.
        </p>






        <p>If your application is successful, someone from the organisation will be in touch to invite you for an
          informal conversation. This will be to learn more about yourself and the support you can provide.

          This could be in person, over the phone or via video conference.</p>
        <p>To become a volunteer, you may need to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>some documents for identity checks (ID, bills or bank statements)</li>
          <li>your emergency contact details</li>
          <li>your driving licence (where relevant)</li>
          <li>your right to work in the UK</li>
          <li>two referees</li>
        </ul>
        <p>The NHS uses DBS checks to protect vulnerable people. Depending on the type of opportunity, you may need to
          go through a
          check. This might take a few weeks to come back.</p>
      </div>
    </div>

    <!-- Name -->
    <h2>What is your name?</h2>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="input-width-50">Full name</label>
      <input class="nhsuk-input nhsuk-input--width-50" id="v8-volunteer-name" name="v8-volunteer-name" type="text"
        value="{{ data['v8-volunteer-name'] }}">
    </div>
    <hr>

    <!-- Age -->
    <h2>What is your age?</h2>

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <div class="nhsuk-checkboxes">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="v8-volunteer-age-1" name="v8-volunteer-age" type="checkbox"
              value="Under 16 years" {{ checked("v8-volunteer-age", "Under 16 years" ) }}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="v8-volunteer-age-1">
              Under 16 years
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="v8-volunteer-age-3" name="v8-volunteer-age" type="checkbox"
              value="18 to 20" {{ checked("v8-volunteer-age", "18 to 20" ) }}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="v8-volunteer-age-3">
              18 to 20
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="v8-volunteer-age-4" name="v8-volunteer-age" type="checkbox"
              value="21 years and over" {{ checked("v8-volunteer-age", "21 years and over" ) }}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="v8-volunteer-age-4">
              21 years and over
            </label>
          </div>

          <div class="nhsuk-checkboxes__divider">or</div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="v8-volunteer-age-5" name="v8-volunteer-age" type="checkbox"
              value="Prefer not to say" {{ checked("v8-volunteer-age", "Prefer not to say" ) }}>
            <label class="nhsuk-label nhsuk-checkboxes__label" for="v8-volunteer-age-5">
              Prefer not to say
            </label>
          </div>

          <!-- Address -->

          <hr>

          <h2>What is your address?</h2>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="v8-volunteer-address-line-1">
              Address line 1
            </label>
            <input class="nhsuk-input nhsuk-input--width-50" id="v8-volunteer-address-line-1"
              name="v8-volunteer-address-line-1" type="text" value="{{ data['v8-volunteer-address-line-1'] }}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="v8-volunteer-address-line-2">
              Address line 2 (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-50" id="v8-volunteer-address-line-2"
              name="v8-volunteer-address-line-2" type="text" value="{{ data['v8-volunteer-address-line-2'] }}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="v8-volunteer-town">
              Town or city
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="v8-volunteer-town" name="v8-volunteer-town" type="text"
              value="{{ data['v8-volunteer-town'] }}">
          </div>


          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="v8-volunteer-county">
              County (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="v8-volunteer-county" name="v8-volunteer-county"
              type="text" value="{{ data['v8-volunteer-county'] }}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="v8-volunteer-postcode-2">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="v8-volunteer-postcode-2" name="v8-volunteer-postcode-2"
              type="text" value="{{ data['v8-volunteer-postcode-2'] }}">
          </div>

          <hr>

          <!-- Email address -->

          <h2>What is your email address?</h2>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-50">We will only use these details to contact you about this
              opportunity.</label>
            <input class="nhsuk-input nhsuk-input--width-50" id="v8-volunteer-name" name="v8-volunteer-name" type="text"
              value="{{ data['v8-volunteer-name'] }}">
          </div>
          <hr>

          <!-- Phone number -->

          <h2>What is your phone number? (optional)</h2>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-50">We will only use these details to contact you about this
              opportunity.
              <br>
              <br>

              For international numbers please include the country code.</label>
            <input class="nhsuk-input nhsuk-input--width-50" id="v8-volunteer-name" name="v8-volunteer-name" type="text"
              value="{{ data['v8-volunteer-name'] }}">
          </div>
          <hr>

          <!-- Availability -->
          <h2>Tell us about your availability</h2>
          <label class="nhsuk-label" for="input-width-50">Include the days and times of when you are available. For
            example, every Thursday and Friday from 10 am
            to 1 pm.</label>
        </div>
    </div>

    <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="500">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="v8-volunteer-availability">
          What is your availability?
        </label>
        <textarea class="nhsuk-textarea" id="v8-volunteer-availability" name="v8-volunteer-availability" rows="10"
          aria-describedby="v8-volunteer-availability-hint">{{ data['v8-volunteer-availability']}}</textarea>
      </div>
    </div>
    <hr>
  </div>
  </fieldset>
</div>

<!-- Tell us about any support -->
<h2>Tell us about any support you might need (optional)</h2>
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-50">We will use this information to ensure we can do our best to provide
    the support you need for your volunteering
    activities.</label>

  <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
      <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
        Tell us if you

      </h2>

      <ul class="nhsuk-list nhsuk-list--bullet nhsuk-card__description">
        <li>Need assistive technology, an interpreter or a support person</li>
        <li>Might find it difficult to prove your identity or address</li>
        <li>Would prefer a phone or video interview</li>
        <li>Need any other adjustments such as an accessible interview location or parking</li>
      </ul>
    </div>
  </div>




  <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="500">

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="v8-volunteer-availability">
        Tell us about what support you need (optional)
      </label>
      <textarea class="nhsuk-textarea" id="v8-volunteer-availability" name="v8-volunteer-availability" rows="10"
        aria-describedby="v8-volunteer-availability-hint">{{ data['v8-volunteer-availability']}}</textarea>
    </div>
  </div>
  <hr>

  <!-- Motivations -->

  <h2>Tell us why you want to become a volunteer
  </h2>

  <div class="nhsuk-form-group">


    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">Tell us about</h3>
      <ul class="nhsuk-list nhsuk-list--tick" role="list">
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Why you are applying for this opportunity
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Any relevant experience you might have
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Your interests and hobbies
        </li>
      </ul>
    </div>

    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">Tips on how to write your answer</h3>
      <ul class="nhsuk-list nhsuk-list--tick" role="list">
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Keep it informal - this is your moment to show your qualities and character
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Break your answers into short sentences
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Keep it short and simple - it shouldn't feel like writing a job application
        </li>
      </ul>
    </div>

    <p>Write what you can. You may have an opportunity to discuss this again with the organisation.</p>
    <div class="nhsuk-character-count">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="v8-volunteer-motivations">
          Tell us why you want to become a volunteer
        </label>
        <textarea class="nhsuk-textarea nhsuk-js-character-count" id="v8-volunteer-motivations"
          name="v8-volunteer-motivations" rows="25"
          aria-describedby="v8-volunteer-motivations-hint">{{ data['v8-volunteer-motivations']}}</textarea>
      </div>

    </div>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Print this page
    </button>

  </div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}