{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-three-quarters">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/v8/volunteering/index">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1>How you can help</h1>

  <p class="nhsuk-body">These are some of the volunteering opportunities that may be available within the NHS. You will need to check what your local organisation offers.</p>

  <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="#">Support your community</a>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="#">Volunteer as a young person</a>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="#">Support the delivery of clinical care</a>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="#">Support charities and fundraising</a>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="#">Assist with patient recreation</a>
      </li>
    </ol>
  </nav>

  <h2>Support your community</h2>

  <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>

  <h2>Volunteer as a young person</h2>

  <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>

  <h2>Support the delivery of clinical care</h2>

  <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>

  <h2>Support charities and fundraising</h2>

      <p>Here's some information:</p>
          <ul>
            <li>Crucial piece of information</li>
            <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
          </ul>
    
      <h2>Assist with patient recreation</h2>
    
      <p>Here's some information:</p>
          <ul>
            <li>Crucial piece of information</li>
            <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
          </ul>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        What do I need to do to become an NHS volunteer?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        How can I volunteer in the NHS?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        What is it like volunteering for the NHS?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Supporting the NHS as a volunteer
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Do I need DBS checks to volunteer in the NHS?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Can anyone volunteer in the NHS?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Are all NHS volunteering opportunities clinical?
      </span>
    </summary>
    <div class="nhsuk-details__text">
  
      <p>Here's some information:</p>
      <ul>
        <li>Crucial piece of information</li>
        <li>Another piece of crucial information that also <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">links off somewhere</a>. </li>
      </ul>
    </div>
  </details>

 <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="../volunteering/search-what-do-you-want-to-do">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Search for an opportunity</span>
  </a>
</div>

</div>
</div>


  <div class="nhsuk-grid-column-three-quarters">
  <p><a href="../other-ways-to-help-the-nhs">Other ways you can help the NHS</a></p>
</div>
















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
