{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../volunteering/role-profile-1">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1>Register for this opportunity</h1>

  <p>Use this form to register for a volunteering opportunity with an NHS organisation based in England.</p>

  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>You will not need to create an account.</p>
    <p>You must fill out the form in a single session. You will not be able to save your progress.</p>
  </div>
 
  <h2 class="nhsuk-heading-s">Before you start</h2>

<p>We will ask you for:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>your personal and contact details</li>
  <li>your availabilty</li>
  <li>a statement about your reasons for volunteering</li>
  <li>any support you might need</li>
</ul>


<p>The form should take you around 15 minutes to complete.</p>

<h2 class="nhsuk-heading-s">If you need help with the registration</h2>
     

    <p><a href="../volunteering/role-profile-1">Go back to the opportunity page</a> and contact the organisation to discuss what support is available. They might offer paper forms or help you complete the online form.</p>
   


<a class="nhsuk-button nhsuk-u-margin-top-3" href="name">Start</a>



</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
