{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering - Search for an opportunity near me
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/v14/volunteering/index-concept-4">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>



    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
      Search for a volunteering opportunity
    </h1>
    <form action="/v14/results/results-concept-4" method="post">
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="postcode">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-u-width-full" id="postcode" name="postcode" type="text">
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="distance">
              Distance from your postcode
            </label>
            <select class="nhsuk-select nhsuk-u-width-full" id="distance" name="distance">
              <option value="3">Up to 3 miles</option>
              <option value="5" selected>Up to 5 miles</option>
              <option value="10">Up to 10 miles</option>
              <option value="10">Up to 20 miles</option>
              <option value="10">Up to 30 miles</option>
            </select>
          </div>
        </div>
      </div>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              Opportunity type
            </h1>
          </legend>
          <div id="example-hint" class="nhsuk-hint">
            Select all options that are relevant to you
          </div>
          <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example">
                Admin
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                Driving
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Gardening and DIY
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Maternity and breast feeding
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Fundraising
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Retail
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Palliative care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Social media
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Stores and warehouse
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Telephone
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                Trustee
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit" href="/v14/results/results-concept-4">
        Search
      </button>

  </div>
</div>




{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}