{% extends 'layout_vol_header_nhs_login.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../volunteering/role-profile-2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h2>Enter your email address</h2>

  <p>If you have used the NHS App or other NHS websites, you should enter the email address you used to register for them.</p>
  <p>We will check if you have an NHS login. If not, you can set one up.</p>

  <form action="password" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="input-width-20">
       Email address
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="gds-login-email" name="gds-login-email" type="text" value="">
    </div>
  
  <button class="nhsuk-button" type="submit">Continue</button>
  </form>
  
  <div class="nhsuk-inset-text">
    <h2>What is NHS login?</h2>
    <p>NHS login allows you to securely access health websites and apps with just your email address and a password.</p>
  </div>


</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
