{% extends "layout_vol_header.html" %}

{% block pageTitle %}Pre-Research Test - Success{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-xl">Thank you for selecting ‘Click here’.</h1>

  <p class="nhsuk-body-l">
    If you can see this page, that is the end of the test, and you should be able to access any designs we show you in the session.
  </p>

  <p>If you have any questions in the meantime, please email <a href="mailto:hi.Hannah.Goraya@nhsbsa.nhs.uk" class="nhsuk-link">hi.Hannah.Goraya@nhsbsa.nhs.uk</a>.</p>
{% endblock %}
