{% extends "layout.html" %}

{% block pageTitle %}Pre-Research Test - Start{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-xl">Thank you for agreeing to help the NHS Volunteering team!</h1>

  <p class="nhsuk-body-l">
    During your upcoming session, we may show you some interactive designs. 
    In advance, it would be helpful to know whether you can see/use them or if there are any issues you experience.
  </p>

  <p>Please select the button below to continue.</p>

  <a href="/design-spike/pre-research-success" class="nhsuk-button">Click here</a>

  <p>If you are not able to click the button for any reason, please <a href="mailto:hi.Hannah.Goraya@nhsbsa.nhs.uk" class="nhsuk-link">email us</a>.</p>
{% endblock %}
