{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading nhsuk-heading-l">
        Advertise your volunteering opportunities
      </h1>

      <p>You can use this service if you want to:</p>

      <ul>
        <li>advertise your opportunities and receive applications though NHS Volunteering</li>
        <li>advertise your opportunities and link to application forms on existing systems (e.g. Better Impact, TRAC, Assemble)</li>
      </ul>

      <p class="nhsuk-body">You can advertise either:</p>

      <ul>
        <li>one or more specific opportunities</li>
        <li>a generic listing for all your opportunities</li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p class="nhsuk-body">We refer to 'specific opportunity' to describe an opportunity with a defined title, requirements and responsibilities.</p>
        <p class="nhsuk-body">A 'generic opportunity' is a broader listing that doesn't provide as much detail and it can include a range of opportunities.</p>
      </div>


      <h2 class="nhsuk-heading-m">The process</h2>

      <p>To advertise you will need to:</p>

      <ul>
        <li>create a listing</li>
        <li>select how you want to receive applications</li>
        <li>define how long you want to keep the listing open for</li>
      </ul>

      <p class="nhsuk-body">You can save your progress and continue once you have entered a title.</p>

      <p class="nhsuk-body">You can also preview the listing before publishing.</p>

      <a href="opportunity-name" class="nhsuk-button">
        Start
      </a>

    </div>

  </div>
{% endblock %}
