{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1>Your dashboard</h1>

    <p>You can use your dashboard to create, edit and reuse listings. You can also review your applications.</p>

    <h3>Your organisation is Mid and South Essex NHS Foundation Trust</h3>
    <p><a href="recruiter-trust-details">View your organisation's details</a></p>
    <p><a href="all-opportunities">View your organisation's opportunities (opens in a new tab)</a></p>

    <div></div>

    <div style="margin-bottom: -50px;">
      <a class="nhsuk-button" , style="margin-top: 30px;" , href="start-page">Create new listing</a>
    </div>
    <div>
      <a class="nhsuk-button custom-grey-button" style="margin-top: 30px;" href="search-listing">
        Search for a listing
      </a>
    </div>



    <h2>Your listings</h2>

    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">
        Contents
      </h2>

      <ul class="nhsuk-tabs__list">

        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#active">
            Published (12)
          </a>
        </li>

        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="index-dashboard-update-option-1-closed">
            Closed (44)
          </a>
        </li>

        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#draft">
            Draft (4)
          </a>
        </li>

      </ul>

      <div class="nhsuk-tabs__panel" id="active">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Published</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Title
              </th>

              <th role="columnheader" class="" scope="col">
                Date created
              </th>
              <th role="columnheader" class="" scope="col">
                Closing date
              </th>

              <th role="columnheader" class="" scope="col">
                Applications received
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 1</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 January 2025
              <td role="cell" class="nhsuk-table__cell">
                29 October 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                9 <span class="nhsuk-tag nhsuk-tag--green nhsuk-u-ml--2">New</span>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 2</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                15 January 2025
              <td role="cell" class="nhsuk-table__cell">
                3 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5 <span class="nhsuk-tag nhsuk-tag--green nhsuk-u-ml--2">New</span>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 3</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                16 January 2025
              <td role="cell" class="nhsuk-table__cell">
                4 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 4</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77626-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              16 January 2025
            <td role="cell" class="nhsuk-table__cell">
              4 November 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 5</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                16 January 2025
              <td role="cell" class="nhsuk-table__cell">
                10 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 6</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                16 January 2025
              <td role="cell" class="nhsuk-table__cell">
                12 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 7</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                2 February 2025
              <td role="cell" class="nhsuk-table__cell">
                14 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 8</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77626-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 February 2025
            <td role="cell" class="nhsuk-table__cell">
              14 November 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12 <span class="nhsuk-tag nhsuk-tag--green nhsuk-u-ml--2">New</span>
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 9</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                15 February 2025
              <td role="cell" class="nhsuk-table__cell">
                16 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 10</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                16 February 2025
              <td role="cell" class="nhsuk-table__cell">
                18 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 11</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                16 February 2025
              <td role="cell" class="nhsuk-table__cell">
                20 November 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-live"></span> Opportunity name 12</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77626-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              16 February 2025
            <td role="cell" class="nhsuk-table__cell">
              22 November 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>

          </tbody>
        </table>

      </div>

      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="closed">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Closed</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Title
              </th>

              <th role="columnheader" class="" scope="col">
                Date created
              </th>
              <th role="columnheader" class="" scope="col">
                Closing date
              </th>

              <th role="columnheader" class="" scope="col">
                Applications received
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 1</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>14520-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              <td role="cell" class="nhsuk-table__cell">
                30 March 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 2</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>26492-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                5 May 2024
              <td role="cell" class="nhsuk-table__cell">
                1 April 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
                Opportunity name 3</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>74322-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                13 March 2024
              <td role="cell" class="nhsuk-table__cell">
                3 April 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 4</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 5</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>14520-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 6</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>26492-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                5 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
                Opportunity name 7</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>74322-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                13 March 2024
              <td role="cell" class="nhsuk-table__cell">
                30 September 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 8</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 9</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>14520-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 10</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>26492-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                5 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
                Opportunity name 12</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>74322-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                13 March 2024
              <td role="cell" class="nhsuk-table__cell">
                30 September 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 13</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 14</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>14520-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                None
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 15</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>26492-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                5 May 2024
              <td role="cell" class="nhsuk-table__cell">
                29 October 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
                Opportunity name 16</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>74322-AB</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                13 March 2024
              <td role="cell" class="nhsuk-table__cell">
                30 September 2025
              </td>
              <td role="cell" class="nhsuk-table__cell">
                8
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 17</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 18</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 19</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
            <tr role="row" class="nhsuk-table__row"></tr>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external"></span>
              Opportunity name 20</a>
              <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>71843-AB</span>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              13 March 2024
            <td role="cell" class="nhsuk-table__cell">
              30 September 2025
            </td>
            <td role="cell" class="nhsuk-table__cell">
              12
            </td>
            </tr>
          </tbody>

        </table>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--next">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next"
                href="index-dashboard-update-option-1-page-2#closed">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Page 2 of 3</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>


      </div>

      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="draft">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Draft</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Title
              </th>

              <th role="columnheader" class="" scope="col">
                Date created
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 1</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 2</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 3</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live"></span> Opportunity
                name 4</a>
                <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
              </td>


              <td role="cell" class="nhsuk-table__cell">
                9 May 2024
              </td>
            </tr>

          </tbody>
        </table>

      </div>

      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-year">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Past year</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Case manager
              </th>
              <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                Cases opened
              </th>
              <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                Cases closed
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">David Francis</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1380</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1472</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Paul Farmer</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1129</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1083</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Rita Patel</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1539</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1265</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
      <ul class="nhsuk-list nhsuk-pagination__list">
        <li class="nhsuk-pagination-item--next">
          <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="index_page_2">
            <span class="nhsuk-pagination__title">Next</span>
            <span class="nhsuk-u-visually-hidden">:</span>
            <span class="nhsuk-pagination__page">Page 1 of 3</span>
            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true" width="34" height="34">
              <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
              </path>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}