{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "manage-live",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-u-margin-bottom-3"><span class="nhsuk-caption-l">Listing reference number: 12240-AB</span> Reuse the Ward support volunteer listing</h2>
      <br>
      <p>Reusing the listing will create a new listing using the same details.</p>
      <p>You can still change any of the details before publishing the opportunity.</p>
<br>

    <a href="reuse-listing-task-list" class="nhsuk-button">
        Reuse listing
    </a>

    </div>

  </div>
{% endblock %}
