{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "contact-details",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <form action="" method="post" class="form">

      <h1 class="nhsuk-heading nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Select application settings</span>
        Enter email address
      </h1>

      <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
        This will be used to update them about applications for this listing.
      </div>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>This can be an individual or a shared inbox. The recipient  will need access to the recruiter dashboard.</p>
      </div>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="r12-contact-email">
          Email address
        </label>
        <input class="nhsuk-input nhsuk-input--width-50" id="r12-contact-email" name="r12-contact-email" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="r12-contact-email">
          Confirm email address
        </label>
        <input class="nhsuk-input nhsuk-input--width-50" id="r12-contact-email" name="r12-contact-email" type="text">
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>

      <p class="nhsuk-body">
        <a href="" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}