<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}



{% block content %}


<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    <form action="/r17/sign-in" method="post">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">Create password</h1>
        </legend>

        <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
          You must create a new password before you can access your account.
        </div>

        <p class="nhsuk-body">Your password must:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>be at least 12 characters long</li>
          <li>contain a special character</li>
          <li>have at least one number (0 to 9)</li>
          <li>have a combination of uppercase letters and lowercase letters</li>
        </ul>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="password">Enter your new password</label>
          <input class="nhsuk-input" id="password" name="password" type="password">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="password-confirm">Confirm your new password</label>
          <input class="nhsuk-input" id="password-confirm" name="password-confirm" type="password">
        </div>
      </fieldset>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-u-padding-4" style="background-color: #ffffff; border: 1px solid #d8dde0;">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-0">Your details</h2>

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border" style="font-size: 16px; margin-bottom: 0;">

        <div class="nhsuk-summary-list__row" style="display: flex; padding: 8px 0; border: 0;">
          <dt class="nhsuk-summary-list__key"
            style="flex-basis: 35%; font-weight: bold; margin-bottom: 0; padding-right: 5px;">Email</dt>
          <dd class="nhsuk-summary-list__value" style="flex-basis: 65%; margin-left: 0;">jo*****nhs.gov.uk</dd>
        </div>

        <div class="nhsuk-summary-list__row" style="display: flex; padding: 8px 0; border: 0;">
          <dt class="nhsuk-summary-list__key"
            style="flex-basis: 35%; font-weight: bold; margin-bottom: 0; padding-right: 5px;">Name</dt>
          <dd class="nhsuk-summary-list__value" style="flex-basis: 65%; margin-left: 0;">Joe Bloggs</dd>
        </div>

        <div class="nhsuk-summary-list__row" style="display: flex; padding: 8px 0; border: 0;">
          <dt class="nhsuk-summary-list__key"
            style="flex-basis: 35%; font-weight: bold; margin-bottom: 0; padding-right: 5px;">Mobile</dt>
          <dd class="nhsuk-summary-list__value" style="flex-basis: 65%; margin-left: 0;">078****678</dd>
        </div>

        <div class="nhsuk-summary-list__row" style="display: flex; padding: 8px 0; border: 0;">
          <dt class="nhsuk-summary-list__key"
            style="flex-basis: 35%; font-weight: bold; margin-bottom: 0; padding-right: 5px;">ODS</dt>
          <dd class="nhsuk-summary-list__value" style="flex-basis: 65%; margin-left: 0;">123456</dd>
        </div>

      </dl>
    </div>
  </div>

</div>


{% endblock %}