<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          You have set up multi-factor authentication
        </h1>
      </legend>

      <div class="nhsuk-hint nhsuk-u-margin-bottom-6">
        This will help keep your account secure. You will be asked to confirm your identity each time you sign in.
      </div>

      <form action="/r17/index-dashboard-update-option-1" method="post">
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Go to NHS dashboard
        </button>
      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link nhsuk-link--no-visited-state" href="/logout-url">Log out</a>
      </p>

    </fieldset>

  </div>
</div>
{% endblock %}