<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Set up multi-factor authentication
          </h1>
        </legend>
        <div class="nhsuk-hint" id="example-hints-hint">
          This keeps your account secure. Choose one method.
        </div>
        <div class="nhsuk-radios" data-module="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints" name="exampleHints" type="radio" value="email">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
              Authenticator app
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="exampleHints" type="radio" value="phone">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              Mobile phone
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-3" name="exampleHints" type="radio"
              value="text-message">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
              Email address
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <p><a href="#" class="nhsuk-link">Skip for now</a></p>



    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button>

  </div>
</div>

{% endblock %}