<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r17/set-up-auth-EU" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Set up multi-factor authentication
            </h1>
          </legend>

          <div class="nhsuk-hint" id="mfa-hint">
            This keeps your account secure. Choose one method.
          </div>

          <div class="nhsuk-radios" data-module="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="mfa-email" name="mfaMethod" type="radio" value="email">
              <label class="nhsuk-label nhsuk-radios__label" for="mfa-email">
                Email address
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint">
                Get a code sent to your email address.
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="mfa-text" name="mfaMethod" type="radio" value="text">
              <label class="nhsuk-label nhsuk-radios__label" for="mfa-text">
                Text message
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint">
                Get a code sent to your mobile phone.
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="mfa-app" name="mfaMethod" type="radio" value="app">
              <label class="nhsuk-label nhsuk-radios__label" for="mfa-app">
                Authenticator app
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint">
                Get a 6-digit code from an authenticator app on your smartphone or tablet.
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>
{% endblock %}