<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Check your email
        </h1>
      </legend>

      <div class="nhsuk-hint">
        We've sent a 6-digit code to joe.bloggs@nhs.uk. The code will expire in 5 minutes.
      </div>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="code">Enter code</label>
        <input class="nhsuk-input" id="code" name="code" type="number">
      </div>

      <details class="nhsuk-details" open="">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Not received an email?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you have not received an email:
          </p>
          <ul>
            <li>check your junk or spam folder
            </li>
            <li>check your internet connection
            </li>
            <li><a href="#">request a new code</a></li>
          </ul>
        </div>
      </details>

    </fieldset>

    <a href="/r18/forgot-password-new-password">
      <button class="nhsuk-button" type="button">
        Continue
      </button></a>

  </div>
</div>

{% endblock %}