<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Do you have an authenticator app?
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/r21/set-up-auth",
"text": "Go back"
}) }}
{% endblock %}




{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r21/auth-app-router" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you have an authenticator app?
            </h1>
          </legend>

          <p class="nhsuk-body">You have chosen to use an authenticator app to make your account more secure.</p>

          <div class="nhsuk-radios nhsuk-radios--conditional" data-module="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="auth-app-yes" name="r21-has-app" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="auth-app-yes">
                I already have an authenticator app
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="auth-app-no" name="r21-has-app" type="radio" value="no"
                aria-controls="conditional-no-app">
              <label class="nhsuk-label nhsuk-radios__label" for="auth-app-no">
                I do not have an authenticator app
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-no-app">
              <p class="nhsuk-body">Use your smartphone or tablet to download a free authenticator app, for example
                Microsoft Authenticator.</p>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/nhsuk-frontend/nhsuk.min.js"></script>
{% endblock %}