{% extends 'layout_vol_header_recruiter.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Your NHS Volunteering account setup is complete - NHS Volunteering
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-u-padding-top-8 nhsuk-u-padding-bottom-8">

        <p class="nhsuk-body"><strong>From:</strong> no-reply@nhsvolunteers.uk</p>
        <p class="nhsuk-body"><strong>Subject:</strong> Your NHS Volunteering account setup is complete</p>

        <p class="nhsuk-u-margin-top-6">Dear [Full name]</p>

        <p class="nhsuk-body">Your NHS Volunteering account has been successfully set up and is ready to use.</p>

        <p class="nhsuk-body">To help keep your account secure, you'll be asked to verify your identity each time you sign in.</p>

        <p class="nhsuk-body">
          <a href="/r21/sign-in-EU">Sign in to your account</a>
        </p>

        <p class="nhsuk-body">Regards,<br><strong>NHS Volunteering team</strong></p>
      </div>
    </div>
  </div>

  {% endblock %}