<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your email - NHS Volunteering
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/r21/set-up-auth-EU",
"text": "Go back"
}) }}
{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r21/index-dashboard-update-option-1" method="post">

      <h1 class="nhsuk-heading-l">Check your email</h1>

      <div>
          <p class="nhsuk-body">We have sent an email to <strong>joebloggs@nhsv.gov.uk</strong>.</p>
          <p class="nhsuk-body">It contains a single-use code to access
            your account. The code will expire 10 minutes after the
            email is sent.
          </p>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email-code">Enter the 6-digit code</label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email-code" name="email-code" type="text"
            inputmode="numeric" autocomplete="one-time-code">
        </div>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Not received an email?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If you have not received an email:
              </p>
              <ul>
                <li>check your junk or spam folder
                </li>
                <li>check your internet connection
                </li>
                <li><a href="#">request a new code</a></li>
                <li><a href="/r21/set-up-auth-EU">try another authentication method</a></li>
              </ul>
            </div>
          </details>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}