<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your email - NHS Volunteering
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/r21/forgot-password-email-EU",
"text": "Go back"
}) }}
{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Check your email</h1>

    <p class="nhsuk-body">We've sent a 6-digit code to <strong>joebloggs@nhsv.gov.uk</strong>. The code will
      expire in 10 minutes.</p>

    <form action="/r21/forgot-password-new-password-EU" method="post">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="code">Enter code</label>
        <input class="nhsuk-input nhsuk-input--width-10" id="code" name="code" type="text" inputmode="numeric"
          autocomplete="one-time-code">
      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Not received an email?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you have not received an email:
          </p>
          <ul>
            <li>check your junk or spam folder
            </li>
            <li>check your internet connection
            </li>
            <li><a href="#">request a new code</a></li>
          </ul>
        </div>
      </details>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}