<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create a new password - NHS Volunteering
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/r21/forgot-password-user-details-EU",
"text": "Go back"
}) }}
{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Create a new password</h1>

    <p class="nhsuk-body">You must create a new password before you can access your account.</p>

    <p class="nhsuk-body">Your password must:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>be at least 12 characters long</li>
      <li>contain a special character</li>
      <li>have at least one number (0 to 9)</li>
      <li>have a combination of uppercase letters and lowercase letters</li>
    </ul>

    <form action="/r21/sign-in-EU" method="post">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="password">Enter your new password</label>
        <input class="nhsuk-input" id="password" name="password" type="password" autocomplete="new-password">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="password-confirm">Confirm your new password</label>
        <input class="nhsuk-input" id="password-confirm" name="password-confirm" type="password"
          autocomplete="new-password">
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}