{% extends 'layout_vol_header_recruiter.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Complete your NHS Volunteering account set up - NHS Volunteering
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-u-padding-top-8 nhsuk-u-padding-bottom-8">

        <p class="nhsuk-body"><strong>From:</strong> no-reply@nhsvolunteers.uk</p>
        <p class="nhsuk-body"><strong>Subject:</strong> Complete your NHS Volunteering account set up.</p>

        <p class="nhsuk-u-margin-top-6">Dear [Full name]</p>

        <p class="nhsuk-body">An account has been created for you as a recruiter for [Organisation name] in NHS Volunteering.</p>

        <h2 class="nhsuk-heading-s">Complete your account setup</h2>

        <p class="nhsuk-body">To complete your account setup, you need to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>create a password</li>
          <li>choose an authentication method</li>
        </ul>

        <p class="nhsuk-body">This helps keep your account secure.</p>

        <p class="nhsuk-body">This will take around 5 to 10 minutes to complete and must be done before you can access your account.</p>

        <p class="nhsuk-body">The link below will expire in 72 hours.</p>

        <p class="nhsuk-body">
          <a href="/r21/create-password">Complete your account setup</a>
        </p>

        <p class="nhsuk-body">Regards,<br><strong>NHS Volunteering</strong></p>
      </div>
    </div>

    <hr>

    <h2 class="nhsuk-heading-xs nhsuk-u-secondary-text-color">Prototype only</h2>
    <p class="nhsuk-body-s"><a href="/r21/invitation-link-expired">Your invitation link has expired</a></p>
  </div>

  {% endblock %}
