{% extends 'layout_vol_header_recruiter.html' %}

{% block pageTitle %}
Your invitation link has expired - NHS Volunteering
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Your invitation link has expired</h1>

    <p class="nhsuk-body">This invitation link can no longer be used.</p>

    <p class="nhsuk-body">To complete your account setup, contact the NHS Volunteering support team: <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">nhsvolunteering@nhsbsa.nhs.uk</a>
    </p>

  </div>
</div>
{% endblock %}
