<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header_recruiter.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your mobile phone
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/r21/set-up-auth",
"text": "Go back"
}) }}
{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r21/mfa-complete" method="post">

      <h1 class="nhsuk-heading-l">Check your mobile phone</h1>

      <div>
          <p class="nhsuk-body">We have sent a 6-digit security code to <strong>07787846325</strong>.</p>
          <p class="nhsuk-body">The code may take a few minutes to arrive and is valid for 5 minutes.</p>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="mfa-code">
            Enter the 6-digit code
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="mfa-code" name="mfa-code" type="text"
            inputmode="numeric" autocomplete="one-time-code">
        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Not received a text?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>If you have not received a text, you can:</p>
            <ul>
              <li><a href="#">request a new code</a></li>
              <li><a href="/r21/set-up-auth">try another authentication method</a></li>
            </ul>
          </div>
        </details>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}