{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h1 class="nhsuk-heading-xl">Accessibility statement for NHS Volunteering</h1>
<p>This accessibility statement applies to the NHS Volunteering website.</p>
  <p>This website is run by the NHS Business Services Authority (NHSBSA). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>change colours, contrast levels and fonts using browser or device settings</li>
  <li>zoom in up to 400% without the text spilling off the screen</li>
  <li>navigate most of the website using just a keyboard or speech recognition software (Voice Control and Dragon)</li>
  <li>listen to most of the website using a screen reader (including the most recent version of NVDA and VoiceOver)</li>
</ul>
<p>We’ve also made the website text as simple as possible to understand.</p>
<p><a href="https://mcmw.abilitynet.org.uk" class=“https://mcmw.abilitynet.org.uk” target="_blank">AbilityNet has advice on making your device easier to use</a> if you have a disability.</p>


  <h2 class="nhsuk-heading-l">How accessible this website is</h2>
  <p>We know some parts of this website are not fully accessible, as:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
  <li>the 'Skip to main content' button may not work on some of the pages</li>
  <li>the NHS Volunteering logo overlaps with the ‘Skip to main content’ on all the pages when zoomed in more than 110%</li>
  <li>some pages have underlined expanders and redundant links</li>
  <li>some URLs of opportunity pages contain letters in upper case</li>
</ul>

  <h2 class="nhsuk-heading-l">How to request content in an accessible format</h2>
  <p>If you need information on this website in a different format such as accessible PDF, large print, easy read, audio recording or braille, you can contact us by:</p>
  <p>Email: <a href="mailto:accessibility@nhsbsa.nhs.uk">accessibility@nhsbsa.nhs.uk</a></p>
  <p>We’ll consider your request and get back to you in 5 working days.</p>
  <p>This email address is only for accessibility queries. It is not for technical queries or IT problems. If you have a query that is not about accessibility, go to the ‘Contact us’ section of this page.</p>

  <h2 class="nhsuk-heading-l">Reporting accessibility problems with this website</h2>
  <p>We’re always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, you can contact us by:</p>
  <p>Email: <a href="mailto:accessibility@nhsbsa.nhs.uk">accessibility@nhsbsa.nhs.uk</a></p>
  <p>This email address is only for accessibility queries. It is not for technical queries or IT problems. If you have a query that is not about accessibility, go to the ‘Contact us’ section of this page.</p>

  <h2 class="nhsuk-heading-l">Contact us</h2>
  <p>For all queries not accessibility related, you can contact us by:</p>
  <p>Email: <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk">nhsvolunteering@nhsbsa.nhs.uk</a></p>

  <h2 class="nhsuk-heading-l">Enforcement procedure</h2>
  <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
  <p>If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

  <h2 class="nhsuk-heading-l">Technical information about this website’s accessibility</h2>
  <p>The NHSBSA is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>


  <h2 class="nhsuk-heading-l">Compliance status</h2>
  <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21">Web Content Accessibility Guidelines version 2.2 AA standard</a>, due to the non-compliances listed below.</p>

  <h2 class="nhsuk-heading-l">Non-accessible content</h2>
  <p>The content listed below is non-accessible for the following reasons.</p>
  <h3 class="nhsuk-heading-m">Non-compliance with the accessibility regulations</h3>
  <p>The 'Skip to main content' button may not work on some of the pages. This fails WCAG 2.2 success criterion 2.4.1 (Bypass Blocks).</p>
  <p>The NHS Volunteering logo overlaps with the ‘Skip to main content’ on all the pages when zoomed in more than 110%. This fails WCAG 2.2 success criterion 1.4.10 (Reflow).</p>
  <p>Some pages have underlined expanders and redundant links. This fails WCAG 2.2 success criterion 2.4.4 (Link Purpose (In Context)).</p>
  <p>Some URLs of opportunity pages contain letters in upper case. This fails WCAG 2.2 success criterion 2.4 (Navigable).</p>
  <p>We plan to fix these issues. When we publish new content, we’ll make sure it meets accessibility standards.</p>

  <h2 class="nhsuk-heading-l">What we're doing to improve accessibility</h2>
  <p>We’re committed to making sure this website is compliant to WCAG 2.2 ‘AA’ standard.</p>
  <p>Our accessibility compliance statement will be reviewed regularly. Every newly released website will be designed, built, and tested to meet ‘AA’ standards by default.</p>

  <h2 class="nhsuk-heading-l">Preparation of this accessibility statement</h2>
  <p>This statement was originally prepared on 26 January 2024. It was last reviewed on 06 November 2024.</p>
  <p>This website was last tested on 29 October 2024 against the WCAG 2.2 AA standard.</p>
  <p>The test was carried out by the NHSBSA test and development teams. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>
  <p>We tested all the website screens to meet ‘AA’ WCAG 2.2 standards, using manual and automated tests.</p>
  <p>We run each webpage through automated Wave, Lighthouse and Axe accessibility tools then manually test with screen readers (NVDA or VoiceOver) and standards checklists.</p>
  <p>We run representative user journey tests through speech recognition software (Dragon and Voice Control).</p>
  <p>These checklists contain standards that have been compiled using WCAG, the NHS service manual and the Government Digital Service (GDS) guidance.</p>













  
</div>
</div>




















{% endblock %}

