{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">
  
    <a class="nhsuk-back-link__link" href="volunteering/results-ways-you-can-help-the-nhs">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>


<h1 class="nhsuk-heading-xl">Other ways you can support the NHS</h1>

<p>Volunteering is just one way you can support the NHS. If you haven’t found a volunteer role which is right for you, why not consider some of these other ways you can make a difference to healthcare?</p>

<h2 class="nhsuk-heading-l">Get involved in research</h2>
<p>Health and care research enables health professionals to find answers to important questions.</p>
<p>Each year thousands of people offer to take part in health and care research. Thanks to their contributions, we're finding life-changing treatments and improving care for all.</p>
<p><a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research</a> is a free service helping people to find and take part in health and care research across the UK.</p>
<p>Anyone can take part, whether you have a health condition or not. You could take part at a local hospital, your GP surgery or even at home. Register your details and choose the health conditions you’re interested in. You’ll then be sent details of studies you may want to join.</p>
<p>Taking part in research studies may not be for you. But you can still play an important role in shaping health and care research. Find out about <a href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/supporting-research-without-taking-part-in-a-study/">other ways to support research</a>.</p>

<h2 class="nhsuk-heading-l">Have your say about the NHS</h2>
<p>NHS organisations have a duty to involve the public in the planning of services and in decisions that may affect them.</p>
<p>There are many opportunities to get involved, whether you are a patient, carer, have lived experience of a health condition or are a member of the public passionate about improving health and care.</p>
<p>Getting involved can be as simple as posting on a discussion forum or filling out a questionnaire, or it may involve a more regular commitment to a group who help define how a service operates.</p>
<p>Visit the <a href="https://www.england.nhs.uk/get-involved/get-involved/opportunities/">NHS England website</a> to view opportunities to get involved, or search ‘patient and public voice’ on your local NHS organisation’s website.</p>

<h2 class="nhsuk-heading-l">Give blood</h2>
<p>Giving blood saves lives. The blood you give is a lifeline in an emergency and for people who need long-term treatments.</p>
<p>We need:</p>
<ul>
  <li>4,300 blood donations every day on average to meet the needs of our hospitals</li>
  <li>over 140,000 people to donate blood for the first time this year</li>
  <li>12,000 <a href="https://www.blood.co.uk/why-give-blood/demand-for-different-blood-types/why-more-black-blood-donors-are-needed/">new Black heritage donors</a>, to meet the growing demand for ethnically matched blood for <a href="https://www.blood.co.uk/why-give-blood/demand-for-different-blood-types/black-asian-and-minority-ethnic-communities/sickle-cell/">sickle cell</a> patients who need regular transfusions to stay alive</li>
  <li>more young people aged 17-35 to donate, to ensure we have enough blood for the future</li>
</ul>
<p>For more information about giving blood, visit <a href="http://blood.co.uk/">blood.co.uk</a>.</p>

<h2 class="nhsuk-heading-l">Join the NHS Organ Donor Register</h2>
<p>Organ donation is when you decide to give an organ to save or transform the life of someone else. You can donate some organs while you are alive. This is called <a href="https://www.organdonation.nhs.uk/become-a-living-donor/">living organ donation</a>. However, most organ and tissue donations come from people who have died.</p>
<p>You could help save or improve up to nine lives in future by being an organ donor, and many more by donating tissue.</p>
<p>If you want to be an organ donor, you can register your decision on the <a href="https://www.organdonation.nhs.uk/register-your-decision/donate/?">NHS Organ Donor Register</a>. It’s also important that you talk to your loved ones and make sure they understand and support your decision.</p>
<p>To find out more, visit <a href="www.organdonation.nhs.uk">www.organdonation.nhs.uk</a>.</p>

<h2 class="nhsuk-heading-l">Support NHS charities</h2>
<p>There are more than 230 dedicated NHS charities across the UK. Together, they provide extra support for NHS staff, patients and volunteers.</p>
<p>Whether supporting research and development, brightening up hospital environments, providing state-of-the-art technologies and equipment or supporting staff, they help the NHS to go above and beyond.</p>
<p>Visit <a href="https://nhscharitiestogether.co.uk/">NHS Charities Together</a> to make a donation or find your local NHS charity.</p>

<h2 class="nhsuk-heading-l">Work for the NHS</h2>
<p>There are more than 350 different careers in the NHS. Many work with patients while others work behind the scenes. What they all have in common is that they make a difference to people's lives. These roles can be found in a wide range of employers in the NHS, from hospitals and ambulance services through to GP practices and opticians. There are also many organisations that support and monitor NHS services, for instance NHS England.</p>
<p>Visit the <a href="https://www.healthcareers.nhs.uk/">Healthcare Careers</a> website to learn about careers in the NHS, social care and public health. You can take a <a href="https://gbr01.safelinks.protection.outlook.com/?url=https://www.healthcareers.nhs.uk/FindYourCareer&data=05%257C02%257Cnicola.monk4@nhs.net%257C48d7acc59a1a482f06e208dccb5b3895%257C37c354b285b047f5b22207b48d774ee3%257C0%257C0%257C638608839921436782%257CUnknown%257CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0=%257C0%257C%257C%257C&sdata=z6s3m8mGLWLA4ZCg7rib3t/YwBo8fzcEo7agS84yTfQ=&reserved=0">short quiz</a> to find the NHS career that best suit you.</p>
<p>The <a href="https://gbr01.safelinks.protection.outlook.com/?url=https://www.jobs.nhs.uk/&data=05%257C02%257Cnicola.monk4@nhs.net%257C48d7acc59a1a482f06e208dccb5b3895%257C37c354b285b047f5b22207b48d774ee3%257C0%257C0%257C638608839921448503%257CUnknown%257CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0=%257C0%257C%257C%257C&sdata=KjU2yVT8RXVyJ/0udjiLi9HT50TTz1jQTOINNeyanKs=&reserved=0">NHS Jobs website</a> includes information about current vacancies. You can register to receive regular email updates about jobs that interest you.</p>

</div>
</div>




















{% endblock %}

