{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">
  
    <a class="nhsuk-back-link__link" href="volunteering/results-ways-you-can-help-the-nhs">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>


<h1 class="nhsuk-heading-xl">Other ways you can support the NHS</h1>

<h2 class="nhsuk-heading-l">Join the NHS team</h2>
<p>There are lots of ways to get into an NHS role, whether it’s joining direct from school, as an apprentice or after higher education, or you can make the move from another sector.</p>
<p>There are a wide range of employers in the NHS, from hospitals and ambulance services through to GP practices and opticians. There are also a number of organisations that support and monitor NHS services, for instance NHS England.</p>
<p>You might also want to work in social care. Social care provides a whole range of services to support adults and young people. If you work in social care, you could help people in their own homes, in residential homes or in a number of other places such as day centres or supported housing.</p>
<p>Alternatively, you might consider a role in public health. Public health is about helping people to stay healthy and protecting them from threats to their health.</p>
<p>Everyone who joins the NHS is guaranteed a salary that matches their ability and responsibilities, and given every opportunity to increase it through training and development.</p>
<p>On top of your basic salary, you will receive at least 27 days’ holiday each year, plus a range of other benefits including occupational health and counselling services.</p>
<p>Other benefits of working in the NHS include membership of the NHS Pension Scheme (unless you choose to opt out) and study leave for sponsored courses.</p>
<p>Learn about <a href="https://www.healthcareers.nhs.uk/">careers in the NHS (opens in a new tab)</a>, as well as social care and public health. You can also take a <a href="https://www.healthcareers.nhs.uk/FindYourCareer">short quiz (opens in a new tab)</a> to find the NHS careers that best suit you.</p>
<p>The <a href="https://www.jobs.nhs.uk/">NHS Jobs website (opens in a new tab)</a> includes information about current vacancies. You can also register to receive regular email updates about jobs you might be interested in.</p>

<h2 class="nhsuk-heading-l">Give blood</h2>
<p>Giving blood saves lives. The blood you give is a lifeline in an emergency and for people who need long-term treatments.</p>
<p>We need over 5,000 blood donations every day to treat patients in need across England, which is why there’s always a need for people to give blood.</p>
<p>Each year we need 135,000 new donors, as some donors can no longer give blood. Most people aged between 17 and 65 can donate.</p>
<p>We specifically need 40,000 more Black donors to meet the growing demand for better-matched blood and treat conditions such as sickle cell disease. Sickle cell is more prevalent in people of Black heritage and ethnically matched blood provides the best treatment.</p>
<p>For Salome, who has to have red cell exchanges every 6 weeks, <a href="https://www.blood.co.uk/why-give-blood/who-you-could-help/solome-and-zamzam/">Ro subtype blood donors like Zamzam (opens in a new tab)</a> have helped to save her life.</p>
<p>For more information about giving blood, visit the <a href="https://www.nhsbt.nhs.uk/">blood donation website (opens in a new tab)</a>.</p>

<h2 class="nhsuk-heading-l">Join the NHS Organ Donor Register</h2>
<p>Organ donation is when you decide to give an organ to save or transform the life of someone else. You could help save or improve up to nine lives in future by being an organ donor, and many more by donating tissue.</p>
<p>If you want to be an organ donor after you die, you can register your decision on the NHS Organ Donor Register. It’s also really important that you talk to your loved ones and make sure they understand and support your organ donation decision.</p>
<p>To find out more, visit <a href="www.organdonation.nhs.uk">www.organdonation.nhs.uk (opens in a new tab)</a>.</p>

<h2 class="nhsuk-heading-l">Support NHS charities</h2>
<p>There are more than 230 dedicated NHS charities across the UK.</p>
<p>Whether supporting research and development, brightening up hospital environments, providing state-of-the-art technologies and equipment or supporting staff, they help the NHS to go above and beyond.</p>
<p>You can support NHS charities in many ways – for example by making a donation or volunteering.</p>
<p>To find out more, visit <a href="nhscharitiestogether.co.uk">nhscharitiestogether.co.uk (opens in a new tab)</a>.</p>

<h2 class="nhsuk-heading-l">Get involved in research</h2>
<p>Research has built the NHS we have today. Getting involved in healthcare research could help shape the NHS for the future, discovering life-saving treatments, uncovering the secrets behind diseases, and developing the answers to the problems causing ill health today.</p>
<p>Every year, more than half a million people take part in health research. Patients and members of the public also help design research studies and advise what our priorities for future research should be. You can make a difference to health and care research by:</p>
<ul>
  <li>Telling us the questions you want health research to find the answers for</li>
  <li>Reviewing research applications to make sure that researchers ask the right questions and in a way that the public understand</li>
  <li>Helping to decide what research gets funded by NIHR’s decision making boards and panels</li>
</ul>
<p>Find out more about how you can get involved in research on the <a href="http://www.bepartofresearch.nihr.ac.uk/">Be Part of Research (opens in a new tab)</a> website.</p>
</div>
</div>




















{% endblock %}

