{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../results/results-v2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to results</a>
  </div>

  <span class=""></span>
  <h1 class="nhsuk-u-margin-bottom-6">  <span class="nhsuk-caption-xl nhsuk-caption--top">The Mid Yorkshire Hospitals NHS Trust</span>
  Volunteer at Pinderfields Hospital</h1>
  


  

  <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
    <span class="nhsuk-u-visually-hidden">Information: </span>
  
    <p>The organisation may close this opportunity at any time based on their needs.</p>
  </div>

  <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v11/application/start">
    Apply for this opportunity
  </a>


  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Summary
    
      </h2>
     <p>There are many ways you can volunteer with us. We'll discuss with you which are available after you register with us.</p>
     
     
  
  

  
    <p><strong>Mealtime support</strong></p>

     
    <p>Work alongside staff to support patients to eat and drink and improve their overall experience by providing company during mealtimes.</p>
  
   
    <p><strong>Palliative care befriender</strong></p>
      
      
        <p>Provide some practical help, social support and companionship to our most vulnerable and isolated patients. Tasks may include help with medication or equipment collection, light shopping, running small errands. 
        </p>
      
  
        <p><strong>Visitors' meet and greet</strong></p>
    
      
    <p>You will be the first point of contact at the hospital. You will meet and greet patients, family members and visitors to the hospital and help make their visit as smooth as possible.</p>
     
   
    <p><strong>Ward Volunteer</strong></p>
      
 
    <p>Ward volunteers are part of the ward team, providing support to patients and assisting nursing staff with non-clinical duties.</p>
   
    </div>
    </div>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Am I the right person for this?
  
      </h2>
<p>These opportunities will suit someone friendly, approachable and caring.
</p>
<p>You don't need any previous experience, qualifications or training. All you need is to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>have good conversational and listening skills</li>
  <li>be comfortable approaching people to offer help</li>
  <li>be able to stay calm in difficult situations</li>
  <li>be 16 or over</li>
</ul>

</div>
</div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3>Useful information about the opportunity</h3> <dl class="nhsuk-summary-list">
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Date posted:</dt>
      <dd class="nhsuk-summary-list__value">15 August 2023</dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Shifts available:</dt>
      <dd class="nhsuk-summary-list__value">A variety of shifts are available</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Reference Number:</dt>
      <dd class="nhsuk-summary-list__value">R45953-WFM</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Role locations:</dt>
      <dd class="nhsuk-summary-list__value">
        Pinderfields Hospital<br>
        Aberford Road<br>
        Wakefield<br>
        WF1 4DG<br>
      </dd> 
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Who will support you</dt>
      <dd class="nhsuk-summary-list__value">Volunteer Coordinator</dd> 
    </div>
  
    </dd> 
    </div>
  </div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-s">
      What happens after you apply for this opportunity

    </h2>
   <p>We'll get in touch with you when we review your request. This might take a few weeks.
  </p>
  <p>After that, we will get in touch with you to discuss which roles are available and how you may support us.</p>
  <p>We may book in a chat to get to know you a bit more and walk you through the process.</p>
  <p>To become a volunteer, you may need to:</p>
 <ul class="nhsuk-list nhsuk-list--bullet">
    <li>provide proof of identity and some utility bills </li>
    <li>go through a standard or enhanced Disclosure and Barring Service (DBS) and occupational health checks</li>
    <li>prove your right to work in the UK</li>
    <li>provide details of your work history</li>
    <li>give the details of two referees</li>
  </ul>
  </div>
</div>



<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     About The Mid Yorkshire Hospitals NHS Trust
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>At The Mid Yorkshire Hospitals NHS Trust, we have a team of brilliant and valued volunteers who give their time to make a difference for patients and medical staff.</p>
 <p>We have a dedicated team of staff who supports our volunteers from the start. We provide comprehensive induction and ongoing training. We can ensure you feel welcome and part of the team. We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.</p>
 
</div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     Who to contact if you have questions
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p class="nhsuk-card__description">Contact: Emma Recruiter, Team Leader</p>
    <p class="nhsuk-card__description">Telephone: 01824 24895</p>
    <p class="nhsuk-card__description">Email: emmarecruiter@nhs.net</p>
</div>
</details>

  <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="../application/start-external">
    Apply for this opportunity
  </a>


</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
