{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->



<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  
    <div class="nhsuk-back-link">
  
      <a class="nhsuk-back-link__link" href="/v4/volunteering/results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to results</a>
    </div>
  
    <div class="nhsuk-card" style="border-color:	#005eb8; color:#005eb8;">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
         We have sent your details to the organisation
    
        </h1>
  
        <p class="nhsuk-heading-m">Walk and talk volunteer - Leeds Teaching Hospitals NHS Trust</p>
        <p class="nhsuk-card__description nhsuk-body-m"><strong>Reference number:</strong> 1384250</p>
      </div>
    </div>
   
  <p>Thank you for getting in touch about volunteering.</p>
  <p>We've sent a confirmation to: {% if data['v4-volunteer-email-confirmation'] %} {{ data['v4-volunteer-email-confirmation'] }} {%else %} email@email.com {% endif %}</p>
  
  
  
  </div>
  </div>
  
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">
          What happens next
    
        </h2>
        <p>You'll hear back from the organisation after they review your request.</p>
        <p>This might take a few weeks.</p>
      </div>
    </div>
  
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          What might happen after you get a reply
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>These are general steps and they may vary across NHS organisations.
        </p>
        <h3>Step 1: meeting the team</h3>
  
       <p>You may have an informal conversation with the team to learn more about yourself and the support you can provide.</p>
       <p>This could be in person, over the phone or via video conference.</p>
  
       <h3>Step 2: getting started</h3>
       <p>To continue your volunteering journey, you may need to provide:</p>
       <ul class="nhsuk-list nhsuk-list--bullet">
        <li>some documents for identity checks (ID, bills or bank statements)
        </li>
        <li>your emergency contact details</li>
        <li>your driving license (where relevant)
        </li>
        <li>your right to work in the UK</li>
        <li>two referees</li>
       </ul>
  
       <p>You may need to go through a Disclosure and Barring Service (DBS) check. This might take a few weeks to come back.</p>
       
       <h3>Step 3: receiving the support you need</h3>
       <p>Once you are ready to start, you will have a welcome induction. 
      </p>
      <p>It will be an opportunity for you to meet the staff and other volunteers. You'll also learn about all the policies and the training you'll need to undertake.   </p>
      <p>Your team will be there to support you throughout your volunteering journey. </p>
    </div>
     
    </details>
  
    <p class="nhsuk-body">Before you finish using the service, we’d like to ask some equality questions.</p>
  
    <form action="/v5-equality-questions-answer" method="post">
      <div class="nhsuk-form-group">
  
        <fieldset class="nhsuk-fieldset">
  
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              Do you want to answer the equality questions?
          </legend>
  
          <div class="nhsuk-hint">
            <p>These questions are optional. We want to make sure that our service is accessible and beneficial to everyone. The information you provide will help us tailor our service to better meet the diverse needs of our users.</p>
            <p>Your answers will not affect your registration.</p>
          </div>
        
          <div class="nhsuk-radios">
  
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="v5-equality-questions-1" name="v5-equality-questions" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="v5-equality-questions-1">
              Yes, answer the equality questions (takes 2 minutes)
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="v5-equality-questions-2" name="v5-equality-questions" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="v5-equality-questions-2">
              No, skip the equality questions
              </label>
            </div>
    
      
          </div>
        </fieldset>
      
      </div>
  
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Why do we ask these questions?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p class="nhsuk-body">We only ask these questions to monitor who uses the service. We will share this information with NHS England for reporting and improvement purposes only.</p>
        </div>
      </details>
  
    <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
  </form>
  
  <p class="nhsuk-body nhsuk-u-margin-top-9"><a href="/v4/volunteering/results">Go back to results</a></p>
  
  </div>
  </div>




  


 


















{% endblock %}



