{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check answers
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "check-location-area-name",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <h1 class=" nhsuk-heading nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
        Add a radius
      </h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Area centre point
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds Art Gallery
            <br>
            The Headrow 
            <br>
            Leeds
            <br>
            LS1 3AB
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="location-larger-area">Change<span class="nhsuk-u-visually-hidden"> Change location 1</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Area
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-summary-list__actions-list">
              <li class="nhsuk-summary-list__actions-list-item">
                <a href="check-location-area-name">Change<span class="nhsuk-u-visually-hidden"> Change location 1</span></a>
              </li>
            </ul>
          </dd>
        </div>

      </dl>


      <form action="check-location-final" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                Choose the radius that you want your opportunity to cover
              </h2>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
              This is the size of the area that the opportunity may cover.
            </div>
            
              <div class="nhsuk-form-group">
            
                <fieldset class="nhsuk-fieldset">
              
                  <div class="nhsuk-radios">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-1" name="radius" type="radio" value="3" {{ checked("radius", "3") }} >
                      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                        Up to 3 miles
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-1" name="radius" type="radio" value="5" {{ checked("radius", "5") }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                        Up to 5 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="radius" type="radio" value="10" {{ checked("radius", "10") }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Up to 10 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="radius" type="radio" value="20" {{ checked("radius", "20") }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Up to 20 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="radius" type="radio" value="30" {{ checked("radius", "30") }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Up to 30 miles
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="radius" type="radio" value="30" {{ checked("radius", "30") }}>
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Up to 50 miles
                      </label>
                    </div>
<div class="nhsuk-u-margin-top-5">
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" href="results">
                      Save and continue
                    </button>
                    </div>
              
                  </div>
                </fieldset>
              
              </div>
            
              
            </form>

            <p class="nhsuk-body">              
              <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
            </p>
    

    </div>
  </div>
{% endblock %}

<!-- NHS.UK footer -->
{% block footer %}

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Help and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Privacy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a href="https://nhsvb2cprod.b2clogin.com/nhsvb2cprod.onmicrosoft.com/b2c_1_nhs_volunteering_recruiter_sign-in/oauth2/v2.0/authorize?client_id=3b81f491-9500-40bc-ae67-6fed77530485&scope=openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Fvolunteering.england.nhs.uk%2Frecruiter%2Fredirect&client-request-id=87cb715d-704b-4637-b6a8-6f016462537b&response_mode=query&response_type=code&x-client-SKU=msal.js.node&x-client-VER=2.1.0&x-client-OS=linux&x-client-CPU=x64&client_info=1&state=eyJhcHBTdGFnZSI6ImxvZ2luIn0%3D" class="nhsuk-footer__list-item-link">Sign in to advertise NHS Volunteer opportunities</a></li>
        </ul>

      </div>
      <div>
        <p class="nhsuk-footer__copyright">© Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}
