{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">



    <h1 class="nhsuk-heading nhsuk-heading-l">
      <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
      Select an address
    </h1> 

   <p>2 addresses found for 'Broomfield Hospital' and 'CM1 7ET'</p>

    <form action="/r6-choose-address-answer" method="post">


      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
            <p class="nhsuk-fieldset__heading">
              Select one option
            </p>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r6-choose-address-1" name="r6-choose-address" type="radio" value="AE">
              <label class="nhsuk-label nhsuk-radios__label" for="r6-choose-address-1">
                A&E, Broomfield Hospital, Broomfield, Chelmsford, CM1 7ET
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r6-choose-address-2" name="r6-choose-address" type="radio" value="Broomfield">
              <label class="nhsuk-label nhsuk-radios__label" for="r6-choose-address-2">
                Broomfield Hospital, Broomfield, Chelmsford, CM1 7ET
              </label>
            </div>

            <div class="nhsuk-radios__divider">or</div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="r6-choose-address-4" name="r6-choose-address" type="radio" value="not-listed">
              <label class="nhsuk-label nhsuk-radios__label" for="r6-choose-address-4">
                The address is not on this list
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>




  

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

</form>

</div>




















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
