{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/r8-location-answer" method="post">
    
        <div class="nhsuk-form-group">
    
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
                Where does your volunteer need to go for this opportunity?
              </h1>
            </legend>

            
        
            <div class="nhsuk-radios">

              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                Select one option
              </legend>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-1" name="r8-location" type="radio" value="postcode">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-1">
                  One or more fixed locations
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-2" name="r8-location" type="radio" value="area">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-2">
                  Flexible locations within an area
                </label>
              </div>
        
              <div class="nhsuk-radios__divider">or</div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-3" name="r8-location" type="radio" value="location-larger-area">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-3">
                  This is remote and can be done from home
                </label>
              </div>
        
            </div>
          </fieldset>

          
        
        </div>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>If your opportunity is remote then you may receive applications from anywhere in England.</p>
        </div>
      <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
    </form>

    </div>
  </div>

{% endblock %}