{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/r8-location-answer" method="post">
    
        <div class="nhsuk-form-group">
    
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
                Where does your volunteer need to go for this opportunity?
              </h1>
            </legend>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>If your opportunity is remote then you may receive applications from anywhere in England.</p>
            </div>

            
        
            <div class="nhsuk-radios">

              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                Select one option
              </legend>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-1" name="r8-location" type="radio" value="postcode">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-1">
                  One or more fixed locations
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-2" name="r8-location" type="radio" value="area">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-2">
                  Multiple locations which may change in an area
                </label>
              </div>
        
              <div class="nhsuk-radios__divider">or</div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="r8-location-3" name="r8-location" type="radio" value="location-larger-area">
                <label class="nhsuk-label nhsuk-radios__label" for="r8-location-3">
                  The volunteer can do this remotely from their home
                </label>
              </div>
        
            </div>
          </fieldset>

          
        
        </div>

        
      <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
    </form>

    </div>
  </div>

{% endblock %}

<!-- NHS.UK footer -->
{% block footer %}

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Help and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Privacy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a href="https://nhsvb2cprod.b2clogin.com/nhsvb2cprod.onmicrosoft.com/b2c_1_nhs_volunteering_recruiter_sign-in/oauth2/v2.0/authorize?client_id=3b81f491-9500-40bc-ae67-6fed77530485&scope=openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Fvolunteering.england.nhs.uk%2Frecruiter%2Fredirect&client-request-id=87cb715d-704b-4637-b6a8-6f016462537b&response_mode=query&response_type=code&x-client-SKU=msal.js.node&x-client-VER=2.1.0&x-client-OS=linux&x-client-CPU=x64&client_info=1&state=eyJhcHBTdGFnZSI6ImxvZ2luIn0%3D" class="nhsuk-footer__list-item-link">Sign in to advertise NHS Volunteer opportunities</a></li>
        </ul>

      </div>
      <div>
        <p class="nhsuk-footer__copyright">© Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}