{% extends 'layout_vol_header.html' %}

<!-- some custom css for the meet-our-volunteers page only -->

{% set mainClasses = 'app-meet-our-volunteers' %}

{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-back-link">
  
      <a class="nhsuk-back-link__link" href="what-its-like">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

  <h1>Meet our volunteers</h1>
 
  <p class="nhsuk-body">We have selected a few volunteers to talk about their experiences of volunteering in the NHS.</p>
  <p class="nhsuk-body">We have changed their names and details to protect their identity. </p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
      Jane's story
        </h2>

        <div class="nhsuk-card__description">
          <div><img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
            <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 45 to 64 years old</p>
            <p class="nhsuk-body"><strong>Volunteers at:</strong> Community mental health hospital in Greenwich <br> <strong>As a:</strong> gardening volunteer<br> <strong>From:</strong> May 2023</p>
          
          </div>
          <div>
            
            <p class="nhsuk-body"><strong>Why I volunteer:</strong>  I signed up to volunteer because I love gardening but live in an apartment. <br> My fellow gardeners are people I probably wouldn't have met and I really enjoy their company. My physical and mental health benefit far more than I imagined they would. Working in a garden is very satisfying because we get to see the fruits of our labour and we get to see the positive impact it has for the patients.</p>
            <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer with two other volunteers to maintain the garden. We meet for a quick cup of tea first. A typical session is about two hours. The patients like to interact so there is often an opportunity to draw on their knowledge and experience to inform our focus in the garden.</p>
            <p class="nhsuk-body"><strong>My one advice to you is:</strong> I find volunteering gives me personal satisfaction far more than merely donating to causes. It really great to do something small but see the impact it can have on others. </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
      Jane's story
        </h2>

        <div class="nhsuk-card__description">
          <div><img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
            <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 16 to 24 years old</p>
            <p class="nhsuk-body"><strong>Volunteers at:</strong> a hospital in Harrow <br> <strong>As a:</strong> youth buddy volunteer <br> <strong>From:</strong> May 2023</p>
          
          </div>
          <div>
            
            <p class="nhsuk-body"><strong>Why I volunteer:</strong>  I signed up to volunteer because I love gardening but live in an apartment. <br> My fellow gardeners are people I probably wouldn't have met and I really enjoy their company. My physical and mental health benefit far more than I imagined they would. Working in a garden is very satisfying because we get to see the fruits of our labour and we get to see the positive impact it has for the patients.</p>
            <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer with two other volunteers to maintain the garden. We meet for a quick cup of tea first. A typical session is about two hours. The patients like to interact so there is often an opportunity to draw on their knowledge and experience to inform our focus in the garden.</p>
            <p class="nhsuk-body"><strong>My one advice to you is:</strong> I find volunteering gives me personal satisfaction far more than merely donating to causes. It really great to do something small but see the impact it can have on others. </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
      Clare's story
        </h2>

        <div class="nhsuk-card__description">
          <div><img class="nhsuk-card__img" style="max-width: 70%;" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="" >
            <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 65 to 74 years old</p>
            <p class="nhsuk-body"><strong>Volunteers at:</strong> a hospital in Harlow <br> <strong>As a:</strong> butterfly volunteer<br> </p>
          
          </div>
          <div>
            
            <p class="nhsuk-body"><strong>Why I volunteer:</strong>  As a butterfly volunteer, I support patients as they prepare to face the last stage of their lives. No one should die alone. For the patient, it can be quite a frightening time. <br></p>
            <p class="nhsuk-body"><strong>My typical day:</strong> I sit with patients who are in their last days/hours of life so they are not alone. I let nurses know of any changes in their condition. I may read, play gentle music or just sit quietly holding their hand. I also give respite for families who need a break, making them a drink or sorting out free parking for them.</p>
            <p class="nhsuk-body"><strong>My one advice to you is:</strong> volunteers are greatly needed and very valued. You would be giving something back, which in itself is rewarding.  </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>























{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
