{% extends 'layout_vol_header.html' %}

<!-- some custom css for what its like volunteer -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-what-its-like' %}


{% block pageTitle %}
  NHS Volunteering - What it's like to be a volunteer
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- What its like to be a volunteer content -->
{% block content %}

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
      
        <div class="nhsuk-back-link">
      
          <a class="nhsuk-back-link__link" href="homepage">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back</a>
        </div>
    
      <h1>What it is like to be an NHS volunteer</h1>
     
      <p class="nhsuk-body">We have interviewed 196 current volunteers across England about their experience of volunteering within the NHS. </p>
        
      <h2>What our volunteers said</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading nhsuk-heading-s">
                Volunteering helps you as much as those you support
              </h3>
              <p class="nhsuk-card__description">"Talking to patients has taught me the importance of listening and how fulfilling a human connection is" <br> - <strong>Ward support volunteer</strong></p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading nhsuk-heading-s">
                It's my way of giving back to the community after I have used the service
              </h3>
              <p class="nhsuk-card__description">"I enjoy being in an environment of care. It means my experience of health issues and recovery is useful and less alienating" <br> - <strong>Arts and crafts volunteer</strong></p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading nhsuk-heading-s">
                There is a lot of support available
              </h3>
              <p class="nhsuk-card__description">"My supervisor is amazing and all the staff involved are very supportive and friendly" <br> - <strong>Clothes bank volunteer</strong></p>
            </div>
          </div>
      
        </li>
      </ul>
    
    </div>
    </div>
  </div>
</section>


<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <img class="nhsuk-card__img role-type-image" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
      </div>
      <div class="nhsuk-grid-column-one-half app-section__content">
        <h2 class="nhsuk-heading">Meet our volunteers</h2>
        <p class="nhsuk-body">Our volunteers join us from all groups and communities. They contribute in many ways and for different reasons.
        </p>

        <p class="nhsuk-body">No two experiences are the same but they all make a huge difference to patients and NHS staff.</p>
        <p class="nhsuk-body">Meet some of our amazing volunteers and learn what they do and why.  </p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="meet-our-volunteers">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Read our volunteers' stories</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full app-section__content">
        <div class="nhsuk-do-dont-list">
          <h3 class="nhsuk-do-dont-list__label">Things our volunteers want you to know</h3>
          <ul class="nhsuk-list nhsuk-list--bullet" role="list">
            <li>
              You do not need experience to volunteer with the NHS
            </li>
            <li>
              You will not carry out duties outside of your responsibilities
            </li>
            <li>
              You get support through regular contact with the coordinators, relevant training, newsletters and access to welfare schemes
            </li>
            <li>
              People think it is a sad place but it is full of hope and optimism
            </li>
            <li>
              There are so many opportunities for volunteers from training to career opportunities that it's a worthwhile investment in your time
            </li>
            <li>
              Volunteering is not just for retired or unemployed - it is flexible to fit around your busy life
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <h2>Search for an opportunity</h2>
        <p>Use your postcode and other criteria to find volunteering opportunities near you.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="postcode-search">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Go to search</span>
          </a>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half app-section__content">
      <h2>Browse opportunity types </h2>
      <p>There are many ways you can help. Find out what the different opportunities are and what they entail.</p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="view-types">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Browse opportunity types</span>
        </a>
      </div>
    </div>
    </div>
  </div>
</section>

  <!--<div class="blockquote-wrap">
    <blockquote>
      <p>The reason I volunteer in the NHS is because I want to build and gain skills and abilities.</p>
    
           <cite>Lorem Ipsum</cite>
    </blockquote>
  </div>-->


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
