

{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="name">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>


  <form action="" method="post">
    
    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What is your religion?
          </h1>
        </legend>

        <div class="nhsuk-hint">For example eating, washing, walking or going shopping.</div>
    
        <div class="nhsuk-radios nhsuk-radios--conditional">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-1" name="v5-religion" type="radio" value="nhsuk-login">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-1">
              No religion
            </label>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-2" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-2">
              Athiest
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-3" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-3">
              Christian
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-4" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-4">
              Buddhist
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-5" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-5">
              Hindu
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-6" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-6">
              Jainism
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-7" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-7">
              Jewish
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-8" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-8">
              Muslim
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-9" name="v5-religion" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-9">
              Sikh
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-other" name="v5-religion" type="radio" value="text" aria-controls="conditional-v5-religion-other" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion">
              Any other religion
            </label>
          </div>
    
          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-v5-religion-other">
    
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="mobile">
                What is your religion? (optional)
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
            </div>
    
          </div>

    
          <div class="nhsuk-radios__divider">or</div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v5-religion-10" name="v5-religion" type="radio" value="create-account">
            <label class="nhsuk-label nhsuk-radios__label" for="v5-religion-10">
              Prefer not to say
            </label>
          </div>
    
        </div>
      </fieldset>
    
    </div>

  <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
</form>

</div>


{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}