{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">


  <h1><span class="nhsuk-caption-xl">NHS Volunteering</span> Your dashboard</h1>

  <p>With your dashboard you can:</p>
    <ul>
    <li>create new volunteer listings</li>
    <li>save draft listings to come back to later</li>
    <li>review applications for each of your opportunities</li>
    <li>edit certain details of your listing such as the closing date or application limit</li>
    <li>reuse a listing</li>
    <li>view your listings</li>
    <li>close live listings</li>
    </ul>

    <h3>Your organisation is Mid and South Essex NHS Foundation Trust</h3>
    <p><a href="recruiter-trust-details">View your organisation's details</a></p>
    <p><a href="all-opportunities">View your organisation's opportunities (opens in a new tab)</a></p>

  <a class="nhsuk-button", style="margin-top: 30px;" href="start-page">Advertise an opportunity</a>



<h2 class="nhsuk-u-margin-top-5">Your listings</h2>
<p>You have not created any listings.</p>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
