{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">


  <h1><span class="nhsuk-caption-xl">NHS Volunteering</span> Your dashboard</h1>

  <a class="nhsuk-button" href="start-page">Advertise an opportunity</a>



<h2 class="nhsuk-u-margin-top-5">Your listings</h2>
<p>You have not created any listings.</p>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
