<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Task list
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="/r3/index">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back to dashboard</a>
      </div>

      <h1><span class="nhsuk-caption-l">Reference number: 49208-AB</span> Walk and talk volunteer <span class="nhsuk-tag nhsuk-tag--yellow">Draft</span></h1>

      <p>You can save your progress and return to it later.</p>
      <p class="nhsuk-u-margin-bottom-7">You need to complete all tasks before you can advertise your opportunity.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Setting up a listing
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Add a title
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Create an opportunity listing
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/preview">
                  Add a search result preview
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/summary">
                  Add a summary
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>         
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/looking-for">
                  Specify the person you are looking for
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/overview-process">
                  Add an overview of the application process
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/support-volunteers">
                  Add who will support the volunteer
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/remote">
                  Add locations
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/availability">
                  Add availability requirements
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/contact-details">
                  Set the contact details
                </a>
              </span>
              <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Select application settings
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/application-limits">
                  Decide how you want to receive applications
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/alt-closing-date">
                  Set a closing date
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Publish the listing
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./questions/check-listing">
                  Check your answers and publish the listing
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="practice-staff-started">Not started</strong>
            </li>
          </ul>
        </li>
      </ol>

      <form action="are-you-sure-delete">
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="background-color:	#d5281b;  box-shadow: 0 4px 0 #212b32">
         Delete listing
        </button>
      </form>
  
    </div>  

  </div>
{% endblock %}