{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/r6/index">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <h1 class="nhsuk-u-margin-bottom-3"><span class="nhsuk-caption-l">Listing reference number: 12240-AB</span> Ward support volunteer <span class="nhsuk-tag">Live</span></h1>
  
  <p class="nhsuk-u-margin-bottom-3">Listing URL: http://volunteering.nhs.uk/opportunity-listing/12240-AB</p>
  <p class="nhsuk-u-margin-bottom-3">Date published: 2 August 2023</p>
  <p class="nhsuk-u-margin-bottom-3">Volunteer details will only be stored in accordance with our <a href="../../v8/privacy-policy">privacy policy</a>.</p>
<h2>What you can do</h2>
<ul class="nhsuk-list">
  <li><a href="../edit-journey/task-list-completed">Edit live listing</a></li>
  <li><a href="preview">View live listing (opens in a new tab)</a></li>
  <li><a href="reuse-listing-interstitial">Reuse this listing</a></li>
  <li><a href="/r4/close-listing-now">Close the listing</a></li>
</ul>



  <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-6">
   <caption class="nhsuk-table__caption" style="font-size:xx-large;">Your applications</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Applicant
        </th>
        <th role="columnheader" class="" scope="col">
         Date received
        </th>
        <th role="columnheader" class="" scope="col">
          Application details
        </th>
     
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Applicant</span>karen@me.com
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>V-5r4-2WB</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">  Date recieved </span>29 August 2023
        </td>

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Application details</span> <span><a href="manage-application">View application</a></span>
        </td>
      </tr>
  
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Applicant</span>jamesg@me.com
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>V-67H-Q4F</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">  Date recieved </span>24 August 2023
        </td>

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Application details </span> <span><a href="#">View application</a></span>
        </td>
      </tr>
  
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Applicant</span>helloitsme@me.com
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>V-6KC-23T</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">  Date recieved </span>21 August 2023
        </td>

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Application details </span> <span><a href="#">View application</a></span>
        </td>
      </tr>
  
   


    </tbody>
  </table>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
