{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="index-dashboard-update-option-2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>


  <h1>Your 'Closed' listings</h1>

  <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-6">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Title
        </th>
       
        <th role="columnheader" class="" scope="col">
          Date created
        </th>
        <th role="columnheader" class="" scope="col">
           Closing date
          </th>

          <th role="columnheader" class="" scope="col">
            Applications received 
           </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
  
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 1</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
        </td>
      

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>9 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>None
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 2</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>5 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>5
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 3</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>8
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row"></tr>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 4</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>12
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 5</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
        </td>
      

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>9 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>None
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 6</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>5 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>5
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 7</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>8
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row"></tr>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 8</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>12
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 9</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
        </td>
      

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>9 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>None
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 10</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>5 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>5
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 11</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>8
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row"></tr>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 12</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>12
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 13</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
        </td>
      

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>9 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>None
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 14</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>5 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>5
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 15</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>8
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row"></tr>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 16</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>12
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 17</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>12240-AB</span>
        </td>
      

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>9 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>None
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live">Opportunity listing title</span> Opportunity name 18</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>17840-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>5 May 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>29 October 2024
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>5
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 19</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>8
          </td>
      </tr>
      <tr role="row" class="nhsuk-table__row"></tr>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"><a href="manage-listing/manage-live-external">Opportunity listing title</span> Opportunity name 20</a>
          <span class="nhsuk-hint"><span class="nhsuk-u-visually-hidden">Reference number:</span>77625-AB</span>
        </td>
       
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date created </span>13 March 2024
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Closing date </span>30 September 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Applications received </span>12
          </td>
      </tr>
      
    </tbody>
  </table>

  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
      <li class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="index-dashboard-closed-page-2">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">Page 2 of 3</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
