{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "start-page",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="task-list-fixed" method="post" class="form">

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
              <li>
                <a href="#name">Enter a title</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-heading nhsuk-heading-l">
            Enter a title for the opportunity listing
          </h1>

          <div class="nhsuk-do-dont-list">
            <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
            <p class="nhsuk-body">Your title should include the type of role you are advertising.</p>
            <p class="nhsuk-body">If you are not advertising a specific opportunity you could say: 'Volunteer at St James Hospital'.</p>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  What a volunteer will see
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h3 class="nhsuk-link nhsuk-u-margin-bottom-2 nhsuk-link nhsuk-heading-l">Gardening volunteer</h3>
                <p class="nhsuk-body-l nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"><strong>Leeds, LS3 8GL</strong></p>
                <p class="nhsuk-u-margin-top-0">Leeds Teaching Hospitals NHS Foundation Trust</p>
            
              </div>
            </details>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Example if you are not advertising a specific opportunity
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h3 class="nhsuk-link nhsuk-u-margin-bottom-2 nhsuk-link nhsuk-heading-l">Volunteer at St James' Hospital</h3>
                <p class="nhsuk-body-l nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"><strong>Leeds, LS3 8GL</strong></p>
                <p class="nhsuk-u-margin-top-0">Leeds Teaching Hospitals NHS Foundation Trust</p>
            
              </div>
            </details>
            
          </div>
          
          <div class="nhsuk-form-group nhsuk-form-group--error">
          <label class="nhsuk-label" for="r4-opportunity-name">
            Enter a title
          </label>
          <span class="nhsuk-error-message" id="name-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a title
          </span>
          <input class="nhsuk-input nhsuk-input--error" id="r4-opportunity-name" name="r4-opportunity-name" type="text">
        </div>
          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>

        

      </form>

    </div>
  </div>

{% endblock %}
