{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
Register an organisation with NHS Volunteering - Check your answers
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="details">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <h1 class="nhsuk-u-margin-top-4">
        Check your answers
      </h1>

      <h2>
        Organisation
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: "Airedale NHS Foundation Trust"
            },
            actions: {
              items: [
                {
                  href: "organisation",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2>
        Organisation details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: "James Pearson"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "j.pearson@email.nhs.uk"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Work telephone number"
            },
            value: {
              text: "01234 555666"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "phone number"
                }
              ]
            }
          }
        ]
      }) }}

      <a href="confirmation-page" class="nhsuk-button">
        Submit
      </a>

    </div>
  </div>
{% endblock %}
