{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-card__content">

          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Registration complete
          </h1>

          <p class="nhsuk-u-font-size-24">
            Airedale NHS Foundation Trust
            <br>
          </p>
          
        </div>

      </div>

      <h2 class="nhsuk-heading-l">What happens next</h2>
      <p class="nhsuk-body">The recruiter will receive an email with a link to finish setting up their account.</p>
      <p class="nhsuk-body">Once their account is set up, they can start using NHS Volunteering.</p>
      <p class="nhsuk-body"><a href="organisation" class="nhsuk-link nhsuk-link--no-visited-state">Register another organisation</a></p>

    </div>
  </div>
{% endblock %}
