{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Register an organisation with NHS Volunteering
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

        <h1>
         Sorry, there is a problem with the link
        </h1>

        <p class="nhsuk-body">
        Contact NHS Business Services Authority at <a href="mailto:nhsvolunteering@nhsbsa.nhs.uk" class="Your NHS Volunteering query">nhsvolunteering@nhsbsa.nhs.uk if you need help with with creating a password.
        </p>

      </div>  

  </div>
{% endblock %}

