{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
  Register an organisation with NHS Volunteering
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

        <h1>
          Register an organisation with NHS Volunteering 
        </h1>

        <p class="nhsuk-body">
          Use this service to register an organisation with NHS Volunteering.
        </p>

        <p class="nhsuk-body"><strong>Before you start:</strong></p>

        <p class="nhsuk-body">To register an organisation, you will need the following details of the person responsible for the recruitment of volunteers at that organisation:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>the name of the organisation they recruit for</li>
          <li>their full name</li>
          <li>their email address</li>
          <li>their work telephone number</li>
        </ul>

        <a href="organisation" class="nhsuk-button">Continue</a>


      </div>  

  </div>
{% endblock %}
