{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "recruiter-trust-details",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Mid and South Essex NHS Foundation Trust</span>
            URL
        </h1>

        <form action="trust-url-check" method="post" class="form">

        <div class="nhsuk-form-group">

          <div class="nhsuk-hint" id="a1-trust-url-hint-text">
            This will show on the organisation details summary under <strong>'URL'</strong>.
          </div>

          <div class="nhsuk-form-group">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
              <div class="nhsuk-form-group ">
                <label class="nhsuk-label" for="a1-trust-url">
                  Enter a URL
                </label>
                <textarea rows="1" class="nhsuk-textarea nhsuk-textarea-character-count nhsuk-textarea-character-count-max-1000">
www.trustwebsite.com
              </textarea>
              </div>
            </div>
          </div>

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    

        

      </form>

    </div>
  </div>

{% endblock %}
