{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">


 

  <h1>Sorry, there is a problem with the service</h1>
  <p>Try again later. </p>
  <p>You can change the option for how far you want to search from your postcode.</p>
  <p>Email NHS Business Services Authority at email@nhsbsa.nhs.uk if you need help with using this service.</p>

 



  



</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
