{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="../task-list-fixed" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-heading nhsuk-heading-l">
            Enter a title for the opportunity listing
          </h1>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            This is how people will see this opportunity on this service.
          </div>

          <div class="nhsuk-do-dont-list">
            <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
            <p class="nhsuk-body">You should write your title like this:</p>
            <ul class="nhsuk-list nhsuk-list--bullet" role="list">
              <li>Walk and talk volunteer- if the listing is for a specific opportunity</li>
              <li>Volunteer at St. James Hospital - if this is a generic listing for all your opportunities</li>
            </ul>
            <p class="nhsuk-body">Your organisation's name and the location will show below the title. You will add these details later. </p>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  What this looks like for potential volunteers
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h2 class="nhsuk-link nhsuk-u-margin-bottom-2 nhsuk-link">Volunteer at St. James' Hospital</h2>
                <p class="nhsuk-body-l nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"><strong>Leeds, LS3 8GL</strong></p>
                <p class="nhsuk-u-margin-top-0">Leeds Teaching Hospitals NHS Foundation Trust</p>
            
              </div>
            </details>
          </div>

          <label class="nhsuk-label" for="r4-opportunity-name">
            Enter a title
          </label>
          <input class="nhsuk-input" id="r4-opportunity-name" name="r4-opportunity-name" type="text">

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}
