{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="../task-list-fixed" method="post" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Do you want to change the contact details?
                </h1>
              </legend>

              <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
                These details will show on the <strong>opportunity listing</strong>.
              </div>

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading">
                    Your contact details
            
                </h3>
                <p class="nhsuk-card__description"><strong>Email address: </strong>j.pearson@email.nhs.uk</p>
                <p class="nhsuk-card__description"><strong>Telephone number: </strong>01234 555666</p>
                </div>
            </div>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>


        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
       </p>


        

      </form>

    </div>
  </div>

{% endblock %}