{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity listing</span>
        Tell us about who you are looking for
      </h1>

      <form action="../task-list-fixed" method="post" class="form">

        <div class="nhsuk-form-group">
          <div class="nhsuk-hint" id="r1-preview-with-hint-text-hint">
            This will show on the opportunity listing under <strong>am I the right person for this?</strong>
          </div>

          <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">Guidance</h3>
            <p class="nhsuk-body">You need to include:</p>
            <ul class="nhsuk-list nhsuk-list--bullet" role="list">
              <li>any required experience, qualification or training</li>
              <li>the type of person you are looking for</li>
              <li>any age limitations</li>
              <li>anything relating to the opportunity that might impact people with access needs</li>
              <li>if the opportunity requires access to an electronic device and the level of skills needed</li>
            </ul>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Example
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p class="nhsuk-body">This opportunity will suit someone friendly, approachable and enthusiastic.</p>
                <p class="nhsuk-body">You don't need any previous experience, qualifications or training. All you need is to:</p>
                <ul>
                  <li>have good people skills and want to chat with people</li>
                  <li>be reliable and be good at time keeping</li>
                  <li>enjoy the outdoors</li>
                  <li>be 16 or over</li>
                  <li>you need access to a telephone (for remote opportunities)</li>
                </ul>
                <p class="nhsuk-body">This opportunity requires some walking. If this doesn't suit you, we can discuss other ways you can volunteer with us.</p>

              </div>
            </details>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="r1-preview">
              Tell us about who you are looking for
            </label>
            <textarea class="nhsuk-textarea" id="r1-preview" name="r1-preview" rows="5" aria-describedby="r1-preview-hint"></textarea>
          </div>

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>
        

      </form>

    </div>
  </div>

{% endblock %}
