{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../task-list-fixed",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <form action="../task-list-fixed" method="post" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  <span class="nhsuk-caption-l nhsuk-caption--top">Setting up a listing</span>
                    Do you want to change the reference number?
                </h1>
              </legend>

                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                    This will show on the opportunity listing.
                </div>

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        Reference number
                
                    </h3>
                    <p class="nhsuk-card__description">Walk and talk volunteer - 18420957-AT</p>
                    </div>
                </div>
          
            <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="r1-ref-no-1" name="r1-ref-no" type="radio" value="r1-ref-no" aria-controls="conditional-r1-ref-no-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="r1-ref-no-1">
                    Yes
                    </label>
                </div>
            
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-r1-ref-no-1">
            
                    <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="r1-ref-no-text">
                        Reference number
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="r1-ref-no-text" name="r1-ref-no-text" type="text">
                    </div>
            
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="r1-ref-no-2" name="r1-ref-no" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="r1-ref-no-2">
                    No
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>


        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
        </button>
        <p class="nhsuk-body">              
          <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}