{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-back-link">
  
      <a class="nhsuk-back-link__link" href="view-types">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
   
    </div>
  
  
  <h1>Support the delivery of clinical care</h1>
  <p class="nhsuk-body-l">You will work with staff to deliver many supportive therapies and services that help recover and improve physical and mental health.
  </p>
  </div>
</div>
 

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half nhsuk-u-padding-top-0">
  <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
      <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
        Opportunities you might find
        
      </h2>
   
    <ul class="nhsuk-list nhsuk-list--bullet nhsuk-card__description">
      <li>Breastfeeding and maternity services support</li>
      <li>Mealtime support volunteer</li>
      <li>Pharmacy runner</li>
      <li>Complementary therapies volunteer </li>
     
    </ul>
    </div>
  </div>

  <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
      <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
        What your activities could include
        
      </h2>
   
    <ul class="nhsuk-list nhsuk-list--bullet nhsuk-card__description">
      <li>Guiding new mothers to breastfeed their babies</li>
      <li>Providing nutrition and hydration support</li>
      <li>Delivering medication for patient discharge and restocking medical cupboards</li>
      <li>Offering patients complementary therapies like massage, aromatherapy, reflexology, Indian head massage, reiki or meditation to improve their wellbeing</li>
    </ul>
    </div>
  </div>
  
  <div class="nhsuk-do-dont-list">
    <h3 class="nhsuk-do-dont-list__label">Consider these opportunities if you</h3>
    <ul class="nhsuk-list nhsuk-list--tick" role="list">
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
        Want to give back to your local community whilst using your skills
      </li>
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
        Enjoy listening to people from diverse backgrounds
      </li>
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
        Have the required clinical training and qualifications (where relevant)
      </li>
    </ul>
  </div>
  <details class="nhsuk-details nhsuk-u-margin-bottom-6">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        What you will not have to do
      </span>
    </summary>
    <div class="nhsuk-details__text">
    <p>You will only engage in activities within your role-specific training and qualifications. You will receive adequate training when you join and will undertake regular sessions throughout the year.
    </p>
    <p>
      You will perform tasks within safeguarding guidelines. Clinical staff will be at hand with any support you may need.</p>
  
    </div>
  </details>

  </details>

</div>

  <div class="nhsuk-grid-column-one-half nhsuk-u-padding-top-0">
    <div class="nhsuk-card nhsuk-card--feature">
      <div class="nhsuk-card__content nhsuk-card__content--feature nhsuk-u-margin-top-5">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Pav's story
        </h2>
        <div class="nhsuk-card_description">
          <img class="nhsuk-card__img" style="max-width: 70%;" src="/images/pavs_story.jpg" alt="" >
          <p class="nhsuk-body nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"><strong>Age:</strong> 16</p>
          <br>
          <p class="nhsuk-body nhsuk-u-margin-bottom-0"><strong>Volunteers at:</strong> a hospital in Sheffield</p>
          <br>
          <p class="nhsuk-bodynhsuk-u-margin-bottom-0"><strong>As an:</strong> art activities volunteer<br></p>
        </div>
        <div class="nhsuk-card__description__meet-vols">
          <p class="nhsuk-body"><strong>Why I volunteer:</strong>  I volunteer with the NHS because I want to gain and build skills and abilities to assist vulnerable patients. I would like to work in the NHS one day.
            <br>
            <br>
            What I enjoy the most is entertaining patients and making them smile. I have learned new skills and abilities through volunteering. I have gained an understanding of the health and social care sector. It helps me to prepare for my training in the NHS.
          </p>
          <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer every Saturday from 1-4pm.
            <br>
            <br>
            I entertain patients with colouring, books and games. We have great conversations and I help them feel a bit better while I am with them. 
          </p>
          <p class="nhsuk-body"><strong>Why you should consider it too:</strong> volunteering in the NHS can help you gain and build up your skills and abilities for the future. You'll feel how grateful patients are to you. </p>
        </div>
    </div>
  </div>

  
  
  </div>


  </div>

  
  <div class="nhsuk-action-link">
    <a class="nhsuk-action-link__link" href="/v11/volunteering/postcode-search">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Go back to search for opportunities</span>
    </a>
  </div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
