{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "check-location-radius",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="choose-address-larger-area" method="post">
    
        <div class="nhsuk-form-group">
    
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l nhsuk-caption--top">Edit an opportunity listing</span>
                Add an area centre point
              </h1>
            </legend>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Area
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Leeds
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <ul class="nhsuk-summary-list__actions-list">
                    <li class="nhsuk-summary-list__actions-list-item">
                      <a href="check-location-area-name">Change<span class="nhsuk-u-visually-hidden"> Change area name</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Radius
                </dt>
                <dd class="nhsuk-summary-list__value">
                  10 miles
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <ul class="nhsuk-summary-list__actions-list">
                    <li class="nhsuk-summary-list__actions-list-item">
                      <a href="check-location-radius">Change<span class="nhsuk-u-visually-hidden"> Change radius</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
        
            </dl>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
              The post code you enter will be used to set a radius which covers the area of your opportunity.
            </div>

            <div class="nhsuk-do-dont-list">
              <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
              <p class="nhsuk-body">Your post code should be central to the locations you expect the opportunity to cover.</p>
              <p class="nhsuk-body">For example, if you need a volunteer to work across multiple locations in Leeds then you might choose a public landmark in the middle of those locations as the postcode for your area.</p>
              <p class="nhsuk-body">This might be a library or a shop.</p>
              <p class="nhsuk-body">The volunteer will not see this address when looking at the opportunity.</p>
            </div>

            
        
            
              <div class="nhsuk-form-group">
                
                <label class="nhsuk-label" for="input-width-20">
                Building number or name
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  For example, 12 or AA surgery
                </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-20">
                Postcode
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  For example, LS2 7UE
                </div>
                <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
              </div>
          
            
            <p class="nhsuk-u-margin-top-6"><a href="manual-address-larger-area">Enter address manually</a></p>
          
            <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Find address</button>
          </fieldset>
        
        </div>

        

    </form>

    

    </div>
  </div>

{% endblock %}
