{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "contact-details",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

      <form action="../task-list-fixed" method="post" class="form">

        <h1 class="nhsuk-heading nhsuk-heading-l">
          <span class="nhsuk-caption-l nhsuk-caption--top">Edit an opportunity listing</span>
          Change the contact details
        </h1>

        <div class="nhsuk-hint">This is where you want to receive enquiries about the opportunity. These details will show on the <strong>opportunity listing</strong>.</div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r4-contact-full-name">
           Contact person
          </label>
          <div id="email-hint" class="nhsuk-hint">
            This could be the name or job title of the volunteering team member
          </div>
          <input class="nhsuk-input nhsuk-input--width-50" id="r4-contact-full-name" name="r4-contact-full-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r4-contact-email">
           Email address
          </label>
          <div id="email-hint" class="nhsuk-hint">
            This could be an individual or a team email address
          </div>
          <input class="nhsuk-input nhsuk-input--width-50" id="r4-contact-email" name="r4-contact-email" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r4-contact-phone">
           Work telephone number (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-50" id="r4-contact-phone" name="r4-contact-phone" type="text">
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Update and return to task list
        </button>


        

      </form>

    </div>
  </div>

{% endblock %}