{% extends "layout_vol_header.html" %}

{% block pageTitle %}Notification of an application{% endblock %}

{% block content %}
<h1 class="nhsuk-heading-xl">Simulated email</h1>

<p>This is a preview of the email a recruiter receives after 1 volunteer applies.</p>

<div class="nhsuk-card nhsuk-u-padding-4 nhsuk-u-background-color-light-grey">
  <h2 class="nhsuk-heading-m">From: <span class="nhsuk-u-font-weight-normal">no-reply@nhsvolunteers.uk</span></h2>
  <h2 class="nhsuk-heading-m">Subject: Application for Walk and Talk Volunteer</h2>

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  <p>Dear <strong>Jane Doe</strong>,</p>

  <p> <strong>Notification of an application to review</strong></p>

  <p> <strong>Role:</strong> Walk and Talk Volunteer</p>

  <p> <strong>Reference:</strong> V6PN-OP-90</p>

  <p> <strong>Location:</strong> Airedale General Hospital</p>

  <p>To review this application, <a>sign into your recruiter dashboard</a>.</p>

  <p>Regards,</p>

  <p> <strong>NHS Volunteering team </strong></p>


  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  <!-- <h2 class="nhsuk-heading-m">Need help?</h2>
    <p>If you didn’t apply for this role, or if you need assistance, please contact <a href="mailto:volunteer.support@nhs.uk">volunteer.support@nhs.uk</a>.</p> -->
</div>

{% endblock %}