{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Your dashboard</h1>

  <p>You can use your dashboard to create, edit and reuse listings. You can also review your applications.</p>
    
    <h3>Your organisation is Mid and South Essex NHS Foundation Trust</h3>
    <p><a href="recruiter-trust-details">View your organisation's details</a></p>
    <p><a href="all-opportunities">View your organisation's opportunities (opens in a new tab)</a></p>  
  
  <div></div>

  <a class="nhsuk-button", style="margin-top: 30px;", href="start-page">Create new listing</a>
      

      <div class="tabs-content">


        <div class="tabs-panel" id="tab-2" role="tabpanel">
          <div class="tabs-panel-inner" tabindex="0">
            <h2>Your listings</h2>

    



  <dl class="nhsuk-summary-list">

       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">

           <h4 class="nhsuk-heading-s"><a href="index-dashboard-active">Live</a></h4>
         </dt>
         <dd class="nhsuk-summary-list__value">



           <p><span class="single-number-strong" style="font-size: 1.5rem">12</span></p>

         </dd>

       </div>


       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           <h4 class="nhsuk-heading-s"><a href="index-dashboard-closed">Closed</a></h4>
         </dt>
         <dd class="nhsuk-summary-list__value">

           <p><span class="single-number-strong" style="font-size: 1.5rem">44</span></p>

           <div class="bar-chart-bar">
               <div class="bar bar1 bar-20">
               </div>
               <div class="bar bar2 bar-2">
               </div>
               <div class="bar bar3 bar-1">
               </div>

               <div class="bar bar4 bar-">
               </div>
           </div>




         </dd>

       </div>

       <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          <h4 class="nhsuk-heading-s"><a href="index-dashboard-draft">Draft</a></h4>
        </dt>
        <dd class="nhsuk-summary-list__value">

          <p><span class="single-number-strong" style="font-size: 1.5rem">4</span></p>

          <div class="bar-chart-bar">
              <div class="bar bar1 bar-15">
              </div>
              <div class="bar bar2 bar">
              </div>
              <div class="bar bar3 bar-">
              </div>

              <div class="bar bar4 bar-">
              </div>
          </div>




        </dd>

      </div>

</dl>
  
  </div>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
