{% extends 'layout_vol_header-no-footer-links.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  </div>
</div>

<!-- Homepage content -->
{% block content %}



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-width-container nhsuk-main-wrapper nhsuk-u-margin-bottom-7" id="maincontent">
    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper nhsuk-main-wrapper--l" id="main-content" role="main">


        <h1 class="govuk-heading-l">You have already applied for this opportunity</h1>
        <p class="nhsuk-body">
          This email address has already been used to apply for this opportunity.</p>

        <p>If you have any questions about your submitted application, please contact:</p>

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Emma Recruiter
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Role
            </dt>
            <dd class="nhsuk-summary-list__value">
              Walk and Talk Team Leader
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact number
            </dt>
            <dd class="nhsuk-summary-list__value">
              01824 24895
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              <a href="mailto:emmarecruiter@nhs.net">emmarecruiter@nhs.net</a>
            </dd>
          </div>
        </dl>

    </div>

    <br>

    <p>You can search for a different
      opportunity.</p>

    <div class="nhsuk-u-margin-top-8">
      <a href="/search" class="nhsuk-button">
        Search for an opportunity
      </a>
    </div>
</div>
</main>
</div>


</div>

</div>

{% endblock %} {# closes main #}









<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}