{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link"
        href="/r11/dashboard-update-option-1-mvp/changing-status-flow/manage-live-reviewed-closed">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>
    <h1 class="nhsuk-u-margin-bottom-3"><span class="nhsuk-caption-l">Listing reference number: 12240-AB</span> Ward
      support volunteer <span class="nhsuk-tag nhsuk-tag--grey">Closed</span></h1>

    <p class="nhsuk-u-margin-bottom-3">Date published: 9 January 2025</p>
    <p class="nhsuk-u-margin-bottom-3">Date closed: 29 October 2025</p>
    <p class="nhsuk-u-margin-bottom-3">Volunteer details will only be stored in accordance with our <a
        href="../../v8/privacy-policy">privacy policy</a>.</p>
    <h2>What you can do</h2>
    <ul class="nhsuk-list">
      <li><a href="reuse-listing-interstitial">Reuse this listing</a></li>
      <li><a href="preview">View listing</a></li>
    </ul>

    <h2 id="archived">Manage Applications</h2>

    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">
        Contents
      </h2>

      <ul class="nhsuk-tabs__list">

        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab"
            href="/r11/dashboard-update-option-1-mvp/changing-status-flow/manage-live-reviewed-closed">
            New (4)
          </a>
        </li>

        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          Reviewed (11)
          </a>
        </li>

      </ul>

      <div class="nhsuk-tabs__panel">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Reviewed</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Application Name
              <th role="columnheader" class="" scope="col">
                Application Ref
              </th>
              <th role="columnheader" class="" scope="col">
                Application Date
              </th>
              <th role="columnheader" class="" scope="col">
                Reviewed Date
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a
                  href="/r11/dashboard-update-option-1-mvp/changing-status-flow/manage-application-1-reviewed-b2r">John
                  Doe</a></td>
              <td>REF-004</td>
              <td>12 February 2025</td>
              <td>17 August 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="">Olivia
                  Martin</a></td>
              <td>REF-004</td>
              <td>12 February 2025</td>
              <td>17 August 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="">[Name]</a></td>
              <td>REF-035</td>
              <td>13 May 2025</td>
              <td>16 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="">[Name]</a></td>
              <td>REF-034</td>
              <td>12 May 2025</td>
              <td>14 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="">[Name]</a></td>
              <td>REF-033</td>
              <td>11 May 2025</td>
              <td>14 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="">[Name]</a></td>
              <td>REF-032</td>
              <td>10 May 2025</td>
              <td>13 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application-5">[Name]</a></td>
              <td>REF-031</td>
              <td>09 May 2025</td>
              <td>13 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application">[Name]</a></td>
              <td>REF-030</td>
              <td>08 May 2025</td>
              <td>12 May 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application">[Name]</a></td>
              <td>REF-029</td>
              <td>07 April 2025</td>
              <td>10 April 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application">[Name]</a></td>
              <td>REF-028</td>
              <td>06 April 2025</td>
              <td>10 April 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application">[Name]</a></td>
              <td>REF-027</td>
              <td>05 April 2025</td>
              <td>10 April 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
            <tr>
              <td><a href="../dashboard-update-option-1-mvp/manage-application">[Name]</a></td>
              <td>REF-026</td>
              <td>04 April 2025</td>
              <td>10 April 2025</td>
              <td><span class="nhsuk-tag nhsuk-tag--grey">Reviewed</span></td>
            </tr>
          </tbody>
        </table>
        </table>

      </div>
    </div>
  </div>




















  {% endblock %}


  <!-- NHS.UK footer -->



  <!-- JavaScript hack to do nothing if search button or link href="" clicked -->
  {% block pageScripts %}
  <script>
    $(document).ready(function () {
      $('a[href=""], button.nhsuk-search__submit').click(function (e) {
        e.preventDefault();
      });
    });
  </script>
  {% endblock %}