{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="../edit-journey/contact-details-edit">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>

      <form action="../edit-journey/task-list-completed" method="post" class="form">

        <h1 class="nhsuk-heading nhsuk-heading-l">
          <span class="nhsuk-caption-l nhsuk-caption--top">Edit an opportunity listing</span>
          Edit the contact details
        </h1>

        <div class="nhsuk-hint">Volunteers will use these details to contact you about the opportunity.</div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r9-contact-full-name">
           Contact person
          </label>
          <div id="email-hint" class="nhsuk-hint">
            This could be the name or job title of the volunteering team member
          </div>
          <input class="nhsuk-input nhsuk-input--width-50" id="r9-contact-full-name" name="r9-contact-full-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r9-contact-email">
           Email address
          </label>
          <div id="email-hint" class="nhsuk-hint">
            This could be an individual or a team email address
          </div>
          <input class="nhsuk-input nhsuk-input--width-50" id="r9-contact-email" name="r9-contact-email" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="r9-contact-phone">
           Work phone number (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-50" id="r9-contact-phone" name="r9-contact-phone" type="text">
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Update and return to task list
        </button>
        

      </form>

    </div>
  </div>

{% endblock %}