{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Opportunity preview
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "questions/check-listing",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-u-margin-bottom-0 nhsuk-heading nhsuk-heading-l">
      <span class="nhsuk-caption-l nhsuk-caption--top">Leeds Teaching Hospitals NHS Trust</span>
      Walk and talk volunteer
    </h1>
    <p class="nhsuk-u-margin-top-0">Leeds, LS2 1AP</p>

    <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>The closing date for this opportunity is 20 September 2023.</p>
    </div>


    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Summary

        </h2>
        <p>You will support our mental health services team with the running of the walk and talk activity.</p>
        <p>You will encourage people to take part in this therapeutic and social activity. You'll also meet and greet
          people as they arrive, and direct walkers along the designated route</p>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Am I the right person for this?

        </h2>
        <p>This opportunity will suit someone friendly, approachable and enthusiastic.</p>
        <p>You don't need any previous experience, qualifications or training. You should have good people skills and
          enjoy the outdoors. You need to be reliable and be good at time keeping. </p>
        <p>You need to be 16 or over to volunteer with us. </p>
        <p>You will need access to a telephone (for remote opportunities). </p>
        <p>This opportunity requires some walking. If this doesn't suit you, we can discuss other ways you can volunteer
          with us.</p>

        <p>This opportunity requires some walking. If this doesn't suit you, we can discuss other ways you can volunteer
          with us.</p>

      </div>
    </div>


    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"> Useful information about the opportunity</caption>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Date posted:</td>
              <td class="nhsuk-table__cell ">10 June 2023</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Shifts available:</td>
              <td class="nhsuk-table__cell ">Three hours a week on a Tuesday or Thursday</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Reference number:</td>
              <td class="nhsuk-table__cell ">T18420957-AT</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Role location:</td>
              <td class="nhsuk-table__cell ">Leeds General Infirmary<br>
                Claredon Way<br>
                Leeds<br>
                LS2 1AP<br>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Who will support you</td>
              <td class="nhsuk-table__cell ">Volunteer Coordinator

              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          What happens after you apply

        </h2>
        <p>We'll get in touch with you when we review your registration. This might take 2 weeks.</p>
        <p>After that, we will book in a chat to get to know you a bit more and walk you through the process.</p>
        <p>There will be different types of checks required before you can start volunteering.</p>
        <p>You may need to provide proof of identity and address, and verify that you are eligible to volunteer in the
          UK. You may need to complete a criminal records check via the Disclosure and Barring Service (DBS).</p>
        <p>You may need to provide personal health and vaccination history information, and attend a health check.</p>
        <p>We may ask to provide details of your work and volunteering history, including the details of some referees
          who we can contact in support of your application.</p>
      </div>
    </div>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          About Leeds Teaching Hospitals NHS Trust
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>At Leeds Teaching Hospitals NHS Foundation Trust, we have a team of brilliant and valued volunteers who give
          their time to make a difference for patients and medical staff.</p>
        <p>We have a dedicated team of staff who supports our volunteers from the start. We provide comprehensive
          induction and ongoing training. We can ensure you feel welcome and part of the team. We welcome applications
          from all sections of the community and are keen to diversify our volunteer workforce.</p>
        <img class="nhsuk-card__img" style="width:50% !important; " src="/images/leeds-trust.png" alt="" height="200">
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Who to contact if you have questions
        </span>
      </summary>
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-0">

        <div class="nhsuk-details__text">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact:
            </dt>
            <dd class="nhsuk-summary-list__value">
              Jane Pearson
            </dd>

          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email:
            </dt>
            <dd class="nhsuk-summary-list__value">
              j.pearson@email.nhs.uk
            </dd>

          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Telephone:
            </dt>
            <dd class="nhsuk-summary-list__value">
              01234 5556666
            </dd>

          </div>
      </dl>
  </div>
  </details>


  <a href="dashboard-success" class="nhsuk-button nhsuk-u-margin-right-4">
    Publish listing
  </a>

  <p class="nhsuk-body">
    <a href="../task-list-fixed" class="nhsuk-link nhsuk-link--no-visited-state">Return to task list</a>
  </p>

</div>
</div>
{% endblock %}