{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "trust-url",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Submit changes to 'Website URL'</span>
        Check your answers before submitting
      </h1>

      <h2 class="nhsuk-heading nhsuk-heading-m">Mid and South Essex NHS Foundation Trust</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Website URL"
            },
            value: {
              text: "www.trustwebsite.com"
            },
            actions: {
              items: [
                {
                  href: "trust-url",
                  text: "Change",
                  visuallyHiddenText: "Title"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="recruiter-trust-details">
        <button class="nhsuk-button nhsuk-u-margin-right-4" data-module="nhsuk-button" type="submit">
          Submit
        </button>
      </form> 

    </div>
  </div>
{% endblock %}
