{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="check">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <div class="nhsuk-card" style="border-color:	#005eb8; color:#005eb8;">
    <div class="nhsuk-card__content">
      <h1 class="nhsuk-card__heading">
       We have sent your details to the organisation
  
      </h1>

      <p class="nhsuk-heading-m">Meet and greet volunteer - Leeds Teaching Hospitals NHS Trust</p>
      <p class="nhsuk-card__description nhsuk-body-m"><strong>Reference number:</strong> 1384250</p>
    </div>
  </div>
 
<p>Thank you for getting in touch about volunteering.</p>
<p>We've sent a confirmation to: <a href="">Karen.Fisher@email.com</a></p>



</div>
</div>

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading">
        What happens next
  
      </h2>
      <p>You'll hear back from the organisation after they review your request.</p>
      <p>This might take a few weeks.</p>
    </div>
  </div>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        What might happen after you get a reply
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <h3>Step 1: meeting the team</h3>
     <p>You may have an informal conversation with the team to learn more about yourself and the support you can provide.</p>
     <p>This could be in person, over the phone or via video conference.</p>

     <h3>Step 2: getting started</h3>
     <p>To continue your volunteering journey, you may need to provide some documents for identity checks.</p>
     <p>Sometimes, you may need to go through a Disclosure and Barring Service (DBS) check. This might take a few weeks to come back.</p>

     <h3>Step 3: receiving the support you need</h3>
     <p>Once you are ready to start, you will have a welcome induction. 
    </p>
    <p>It will be an opportunity for you to meet the staff and other volunteers. You'll also learn about all the policies and the training you'll need to undertake.   </p>
    <p>Your team will be there to support you throughout your volunteering journey. </p>
  </div>
   
  </details>

  <p class="nhsuk-body nhsuk-u-margin-top-9"><a href="/v1/results">Go back to results</a></p>
</div>





</div>


  


 


















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


