{% extends 'layout_vol_header.html' %}

<!-- some custom css for the meet-our-volunteers page only -->

{% set mainClasses = 'app-meet-our-volunteers' %}

{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <div class="nhsuk-back-link">
  
      <a class="nhsuk-back-link__link" href="what-its-like">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

  <h1>Meet our volunteers</h1>
 
  <p class="nhsuk-body">Read about our volunteers and their stories.</p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card__meet-vols">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
        Emma
        </h2>
        <div class="nhsuk-card__description">
          <div>
            <p class="nhsuk-body"><strong>Why I volunteer:</strong> when I retired, I wanted to keep active and help people in the community. Volunteering at the hospital was my first choice.</p>
            <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer as a meet and greet at Sheffield Teaching Hospital. I welcome patients and visitors to the hospital and help them with directions to departments. I sometimes sit with patients who are  waiting to returning home.</p>
            <p class="nhsuk-body"><strong>My one advice to you is:</strong> Give it a go, there are so many different opportunities available. It’s a great way of feeling you make a difference.</p>
          </div>
          <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
        </div>
    </div>
  </div>
</div>

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card nhsuk-card__meet-vols">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Emma
          </h2>
          <div class="nhsuk-card__description">
            <div>
              <p class="nhsuk-body"><strong>Why I volunteer:</strong> when I retired, I wanted to keep active and help people in the community. Volunteering at the hospital was my first choice.</p>
              <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer as a meet and greet at Sheffield Teaching Hospital. I welcome patients and visitors to the hospital and help them with directions to departments. I sometimes sit with patients who are  waiting to returning home.</p>
              <p class="nhsuk-body"><strong>My one advice to you is:</strong> Give it a go, there are so many different opportunities available. It’s a great way of feeling you make a difference.</p>
            </div>
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
          </div>
      </div>
    </div>
  </div>
</div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card nhsuk-card__meet-vols">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Emma
          </h2>
          <div class="nhsuk-card__description">
            <div>
              <p class="nhsuk-body"><strong>Why I volunteer:</strong> when I retired, I wanted to keep active and help people in the community. Volunteering at the hospital was my first choice.</p>
              <p class="nhsuk-body"><strong>My typical day:</strong> I volunteer as a meet and greet at Sheffield Teaching Hospital. I welcome patients and visitors to the hospital and help them with directions to departments. I sometimes sit with patients who are  waiting to returning home.</p>
              <p class="nhsuk-body"><strong>My one advice to you is:</strong> Give it a go, there are so many different opportunities available. It’s a great way of feeling you make a difference.</p>
            </div>
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
          </div>
      </div>
    </div>
  </div>






















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
