{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-three-quarters">
  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

<h1>Volunteer designs</h1>

  <h2>Homepage and postcode search</h2>
 

  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Homepage and Postcode search <span class="nhsuk-tag">In development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Page
        </th>
        <th role="columnheader" class="" scope="col">
         Page type
        </th>
        <th role="columnheader" class="" scope="col">
         Link
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Homepage
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../v4/volunteering/index">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Postcode search
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../v3/volunteering/postcode-search">Link to page</a>
        </td>
        </tr>

        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page </span>Postcode missing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page type </span><span class="nhsuk-tag nhsuk-tag--red">Error page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/postcode-missing">Link to page</a>
          </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Page </span>Radius missing
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Page type </span><span class="nhsuk-tag nhsuk-tag--red">Error page</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Link </span> <a href="form-errors/radius-missing">Link to page</a>
            </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Page </span>Both postcode and radius missing
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Page type </span><span class="nhsuk-tag nhsuk-tag--red">Error page</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/postcode-all-errors">Link to page</a>
              </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Page </span>Invalid postcode format
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Page type </span><span class="nhsuk-tag nhsuk-tag--red">Error page</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/postcode-invalid">Link to page</a>
                </td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Page </span>Outside of England postcode used
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Page type </span><span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Link </span><a href="error-path/outside-england">Link to page</a>
                  </td>
                  </tr>
    </tbody>
  </table>


<hr>

<h2>Homepage related sections</h2>
<div class="nhsuk-u-margin-bottom-8">
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Role categories <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Role category - Blank skeleton
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v1/role-types/blank-copy">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Role categories - overview
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/view-types">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Support your community
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/community">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Provide companionship
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/companionship">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Assist with patient recreation
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/leisure">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Volunteer as a young person
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/young-person">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Assist with admin tasks
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/admin">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Help give patients a voice
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/ppe">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Support NHS charities and fundraising
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/charities">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Take part in remote opportunities
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/remote">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Support the delivery of clinical care
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/role-categories/clinical">Link to page</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">What it's like to be a volunteer <span class="nhsuk-tag">In development</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> What it's like to be a volunteer
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="../v3/volunteering/what-its-like">Link to page</a>
      </td>
    </tr>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Meet our volunteers
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../v3/volunteering/meet-our-volunteers">Link to page</a>
        </td>
      </tr>
    </tbody>
  </tbody>
 
</table>
<hr>

<h2>Search for an opportunity</h2>
<div class="nhsuk-u-margin-bottom-8">
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Search results <span class="nhsuk-tag">In development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Page
        </th>
        <th role="columnheader" class="" scope="col">
         Page type
        </th>
        <th role="columnheader" class="" scope="col">
         Link
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Search results - all opportunities
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/results">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span>Local/static API fail <br> or local/static results not found
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="/v2/unhappy/results-no-local">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span>Redirect from static result
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/trust-redirect">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span>500 error / multiple API calls fail
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/unhappy/500-error">Link to page</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="nhsuk-u-margin-bottom-8">
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption">Opportunity listing <span class="nhsuk-tag">In development</span></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Page
          </th>
          <th role="columnheader" class="" scope="col">
           Page type
          </th>
          <th role="columnheader" class="" scope="col">
           Link
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page </span> Opportunity listing - Blank
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/role-profile-blank">Link to page</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page </span> Opportunity listing - with closing date
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/role-profile-1">Link to page</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page </span> Opportunity listing - Multiple locations
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/role-profile-4">Link to page</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page </span> Opportunity listing - Example with content
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/volunteering/role-profile-2">Link to page</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

<h2>Apply for an opportunity sections</h2>


  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Start pages <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Page
        </th>
        <th role="columnheader" class="" scope="col">
         Page type
        </th>
        <th role="columnheader" class="" scope="col">
         Link
        </th>
      </tr>
    </thead>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Start page - in-service applications
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="/v3/application/start">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
 Start page - external applications
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
  <a href="/v3/application/start-external">Link to page</a>
      </td>
    </tr>
    </table>
 
    <div class="nhsuk-u-margin-top-9">
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Personal details <span class="nhsuk-tag">In development</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> What is your name
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/application/name">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Name missing
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/form-errors/name-missing">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Find your address
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/application/address">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Find your address - missing fields
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/form-errors/find-address-missing">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Find your address - invalid postcode
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/find-address-invalid-postcode">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Find your address - no results found
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="error-path/address-not-found">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Choose address from list
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="application/choose-address">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Choose address - not selected
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/choose-address-not-selected">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Enter address manually
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="application/manual-address">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Enter address - fields missing
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/enter-address-missing">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> What is your email address
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v2/application/email">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Email address - all missing
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/email-missing">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Email address - invalid format
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/email-invalid">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Email address - not a match
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="form-errors/email-not-match">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Enter your phone number <span class="nhsuk-tag nhsuk-tag--green">New</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/application/phone">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Phone number - character limit exceeded <span class="nhsuk-tag nhsuk-tag--green">New</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/form-errors/phone-character-limit">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Phone number - invalid characters entered <span class="nhsuk-tag nhsuk-tag--green">New</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/form-errors/phone-character-valid">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Choose an age range
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/application/age">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Choose an age range - option not selected
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/form-errors/age-not-selected">Link to page</a>
      </td>
    </tr>
  </tbody>
</table>
</div>


    <div class="nhsuk-u-margin-top-9">
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Application questions <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Page
        </th>
        <th role="columnheader" class="" scope="col">
         Page type
        </th>
        <th role="columnheader" class="" scope="col">
         Link
        </th>
      </tr>
    </thead>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
      Tell us about availability
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="/v3/application/availability">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span> Tell us about availability - not entered
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/availability-empty">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span> Tell us about availability - over 500 characters
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/availability-character-count">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Tell us about support you need
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
     <a href="/v3/application/support">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span> Additional support - character count
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/additional-support-character-count">Link to page</a>
      </td>
    </tr>
    

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
       Tell us about motivations
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="/v3/application/motivations">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span>  Tell us about motivations  - not entered
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/motivations-empty">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span>  Tell us about motivations  - over character count
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/motivations-character-count">Link to page</a>
      </td>
    </tr>
 
    </table>
</div>

<div class="nhsuk-u-margin-top-9">
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Confirmation <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Page
        </th>
        <th role="columnheader" class="" scope="col">
         Page type
        </th>
        <th role="columnheader" class="" scope="col">
         Link
        </th>
      </tr>
    </thead>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Check your answers
      </td>
      <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
 <a href="/v3/application/check">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span> Check your answers - checkbox not selected
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span> <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"> </span><a href="/v3/form-errors/check-not-selected">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Application submitted
      </td>
      <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
 <a href="/v3/application/submitted">Link to page</a>
      </td>
    </tr>

    </table>
</div>
<hr>

<div class="nhsuk-u-margin-top-9">
<h2>Equality and diversity</h2>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Survey pages <span class="nhsuk-tag nhsuk-tag--yellow">Ready for sign-off</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Start of journey (Check your answers)
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/check">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Do you want to answer the equality questions? 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/equality-questions">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Date of birth 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/dob">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Physical or mental conditions
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/health-conditions">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Impact on daily activities 
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/day-activities">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/ethnic-group">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group - White background
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/background-white">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group - mixed or multiple ethnic groups background
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/background-mixed-multiple">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group - Asian or Asian British background
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/background-asian">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group - Black, African, Caribbean or Black British background
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/background-white">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span>  Ethnic group - Other ethnic group background
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/background-other">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> What is your religion?
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/religion">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> What is your sex?
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/sex">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Gender identity
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/gender-identity">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Sexual orientation
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/edi/sexual-orientation">Link to page</a>
      </td>
    </tr>
    
    
  </tbody>
  </table>
</div>
<hr>

<h2>Policies</h2>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Footer policies <span class="nhsuk-tag nhsuk-tag--orange">Content design</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Cookies
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/cookies">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Help and support
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/contact-us">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Privacy policy
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/privacy-policy">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Terms and conditions
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/terms-conditions-landing-page">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Accessibility statement
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/accessibility-statement">Link to page</a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 class="nhsuk-u-margin-top-9">Other pages</h2>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">General errors <span class="nhsuk-tag nhsuk-tag--blue">Ready for development</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>

  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Page not found
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/unhappy/404-not-found">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Service error
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v3/unhappy/500-error">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Cookie banner
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/index-cookies">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Feedback/Phase banner
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v5/index-feedback">Link to page</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
