{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>



  <h1>Recruiter designs</h1>
  <h2>Create password and logging in</h2>

    <div class="nhsuk-u-margin-top-6">
      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">Logging in <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Page
            </th>
            <th role="columnheader" class="" scope="col">
             Page type
            </th>
            <th role="columnheader" class="" scope="col">
             Link
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Page </span> There is a problem with the service
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/500-error">Link to page</a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
     <div class="nhsuk-u-margin-top-6">
<h2>Create an opportunity</h2>


  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Set up a listing <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
 Start page
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/start-page">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Enter a title
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/opportunity-name">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Enter a title - input missing        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/name-field-empty">Link to page</a>
        </td>
      </tr>
    </thead>
    </table>

    <div class="nhsuk-u-margin-top-6">
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption">Create an opportunity listing <span class="nhsuk-tag nhsuk-tag--yellow">Ready for handover</span></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Page
          </th>
          <th role="columnheader" class="" scope="col">
          Page type
          </th>
          <th role="columnheader" class="" scope="col">
          Link
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
   
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Task list - draft mode
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/task-list-fixed">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Task list - task in progress
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/task-list-in-progress">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Task list - all tasks completed
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/task-list-completed">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a preview
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/preview">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a preview - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/preview-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a preview  - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/preview-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a summary
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/summary">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a summary - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/summary-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a summary  - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/summary-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Specify the person you are looking for
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/looking-for">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Specify the person you are looking for - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/looking-for-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Specify the person you are looking for  - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/looking-for-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add an overview of the application process
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/overview-process">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add an overview of the application process - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/overview-process-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add an overview of the application process  - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/overview-process-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add who will support the volunteer
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/support-volunteers">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add who will support - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/support-volunteers-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Is the opportunity remote
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/remote">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add a summary - input not selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/remote-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Search for a building name/postcode
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/address">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Search for a building name/postcode - inputs missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/address-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Search for a building name/postcode - invalid postcode
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/address-invalid-postcode">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Choose an address
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/choose-address">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Choose an address - input not selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/choose-address-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Address not found
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/address-not-found">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add address manually
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/manual-address">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add address manually
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/manual-address-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Check locations / do you want to add another location?
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/check-location">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Check locations / do you want to add another location? - input not selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/check-location-not-selected">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Check locations
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/check-location">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add availability requirements
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/availability">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add availability requirements - input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/availability-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add availability requirements  - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/availability-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Do you want to change the contact details
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/contact-details">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Add availability requirements - input not selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/contact-details-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Change contact details
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/questions/contact-details-change">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Change contact details - inputs missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/contact-details-change-empty">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Page </span> Change contact details - character limits
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
         </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Link </span><a href="../r4/errors/contact-details-change-character-limits">Link to page</a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>

  

  <div class="nhsuk-u-margin-top-9">
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Select application settings <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
Decide how to receive applications
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/questions/recieve-applications">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          Decide how to receive applications - input not selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/recieve-applications-select-one">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          Decide how to receive applications - no link added
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/recieve-applications-no-link">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          Decide how to receive applications - https required
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/recieve-applications-https">Link to page</a>
        </td>
      </tr>      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          Decide how to receive applications - over character count
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/recieve-applications-over-character-count">Link to page</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          Application limits
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/questions/application-limits">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
Application limits - no input selected
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/application-limits-select-one">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
Application limits - no limit set
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/application-limits-no-limit">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Do you want to set a closing date
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/questions/alt-closing-date">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Do you want to set a closing date - select one
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/alt-closing-date-select-one">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Set closing date
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/questions/alt-closing-date-answer">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Set closing date - Input missing
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/alt-closing-date-answer-input-missing">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Set closing date - Invalid date entered (not real, fields missing)
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/alt-closing-date-answer-input-invalid">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
  Set closing date - Invalid date entered (over 365 days)
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--red">Error page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <a href="../r4/errors/alt-closing-date-answer-input-over-365-days">Link to page</a>
        </td>
      </tr>
   
    </thead>
    </table>
    </div>

   
    <div class="nhsuk-u-margin-top-9">
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption">Preview and publish an opportunity <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
   Check answers
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <a href="../r4/questions/check-listing">Link to page</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
     Preview opportunity
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <a href="../r4/preview">Link to page</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
    Opportunity published - success message
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
           <a href="../r4/dashboard-success">Link to page</a>
          </td>
        </tr>
      </thead>
      </table>
</div>
    
<h2 class="nhsuk-u-margin-top-9">Dashboard <span class="nhsuk-tag nhsuk-tag--yellow">Sign off</span></h2>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Dashboard view of opportunities <span class="nhsuk-tag nhsuk-tag--yellow">Sign off</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Dashboard of opportunities
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/index">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Dashboard of opportunities - version 2
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r5/index">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Dashboard of opportunities - empty
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--grey">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/dashboard-empty">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
         Manage a draft opportunity
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
      <a href="../r4/manage-listing/manage-draft">Link to page</a>
      </td>
    </tr>
    
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        Manage a live opportunity
      </td>
      <td role="cell" class="nhsuk-table__cell">
      <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/manage-listing/manage-live">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
       Manage a live opportunity - receiving external applications
      </td>
      <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/manage-listing/manage-live-external">Link to page</a>
      </td>
    </tr>


    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
       Manage a closed opportunity
      </td>
      <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/manage-listing/manage-closed">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
       Manage a closed opportunity - external
      </td>
      <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/manage-listing/manage-closed-external">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        View an application
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
<a href="../r4/manage-listing/manage-application">Link to page</a>
      </td>
    </tr>
    
    
  </thead>
  </table>

<div class="nhsuk-u-margin-top-9">
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Make changes to a live listing <span class="nhsuk-tag nhsuk-tag--yellow">Sign off</span></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
         Close listing
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
  <a href="../r4/close-listing-now">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
         Application limit updated
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
  <a href="../r4/manage-listing/manage-live-limit-updated">Link to page</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
         Closing date updated
        </td>
        <td role="cell" class="nhsuk-table__cell">
         <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
  <a href="../r4/manage-listing/manage-live-closing-updated">Link to page</a>
        </td>
      </tr>
        </thead>
        </table>
      </div>

      <div class="nhsuk-u-margin-top-9">
        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption">Reuse a listing <span class="nhsuk-tag nhsuk-tag--yellow">Sign off</span></caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
               New listing page including 'Reuse this listing' link
              </td>
              <td role="cell" class="nhsuk-table__cell">
               <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
        <a href="../r5/manage-listing/manage-live">Link to page</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
               Reuse listing interstitial page
              </td>
              <td role="cell" class="nhsuk-table__cell">
               <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
        <a href="../r5/manage-listing/reuse-listing-interstitial">Link to page</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                Reuse listing task list page
              </td>
              <td role="cell" class="nhsuk-table__cell">
               <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
        <a href="../r5/manage-listing/reuse-listing-task-list">Link to page</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                Reuse listing updated dashboard post-listing creation
              </td>
              <td role="cell" class="nhsuk-table__cell">
               <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
        <a href="../r5/manage-listing/reuse-listing-dashboard-success">Link to page</a>
              </td>
            </tr>
              </thead>
              </table>
            </div>

            <h2 class="nhsuk-u-margin-top-9">Edit a live opportunity <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></h2>
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-table__caption">Opportunity view <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    Opportunity view
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                   <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                   <a href="../r6/manage-listing/manage-live">Link to page</a>
                  </td>
                </tr> 
              </thead>
              </table>

              <div class="nhsuk-u-margin-top-9">
              <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption">Task list <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Task list home
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/task-list-completed">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the title
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/new-name">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the search result preview
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/preview">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the summary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/summary">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Specify the person you are looking for
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/looking-for">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the overview of the application process
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/overview-process">Link to page</a>
                    </td>
                  </tr>  
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit who will support the volunteer
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/support-volunteers">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit locations
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/remote">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit availability requirements
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/availability">Link to page</a>
                    </td>
                  </tr> 
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the contact details
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/contact-details">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Decide how you want to receive applications
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/application-limits">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Edit the closing date
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/questions/alt-closing-date">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Check your answers and re-publish the listing
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/manage-listing/questions/check-listing">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Listing republished confirmation
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r6/republish-listing-dashboard-success">Link to page</a>
                    </td>
                  </tr>                                         
                </thead>
                </table>
              </div>

              <h2 class="nhsuk-u-margin-top-9">Manage organisation profile <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></h2>
              <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption">Dashboard <span class="nhsuk-tag nhsuk-tag--green">Ready for development</span></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Dashboard
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r5/index">Link to page</a>
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      Organisation details - recruiter view
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                     <a href="../r5/recruiter-trust-details">Link to page</a>
                    </td>
                  </tr>                                            
                  </thead>
                  </table>
                </div>

            <div class="nhsuk-u-margin-top-9">
<h2>General <span class="nhsuk-tag nhsuk-tag--orange">Design</span></h2>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">General errors <span class="nhsuk-tag nhsuk-tag--orange">Design</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
       Service unavailable
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <span class="nhsuk-tag nhsuk-tag--blue">Unhappy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
       <a href="../r4/errors/service-unavailable">Link to page</a>
      </td>
    </thead>
    </tr>
  
</table>
            </div>
<div class="nhsuk-u-margin-top-9">
<h2>Policies</h2>
<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Footer policies <span class="nhsuk-tag nhsuk-tag--orange">Content design</span></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Page
      </th>
      <th role="columnheader" class="" scope="col">
       Page type
      </th>
      <th role="columnheader" class="" scope="col">
       Link
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Cookies
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/cookies">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Privacy policy
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/recruiters-privacy-policy">Link to page</a>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Terms and conditions
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/recruiters-terms-conditions">Link to page</a>
      </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page </span> Accessibility statement
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Page type </span> <span class="nhsuk-tag nhsuk-tag--blue">Happy path page</span>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Link </span><a href="/v4/accessibility-statement">Link to page</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
