

{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="ethnic-group">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
    
      <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
        <li>
          <a href="#age-not-selected-error">Select an option that describes your background or 'Prefer not to say'</a>
        </li>
    
        
      </ul>
    </div>
  </div>

  <form action="religion" method="post">
    
    <div class="nhsuk-form-group nhsuk-form-group--error">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Which of the following best describes your mixed or multiple ethnic groups background?
          </h1>
        </legend>
    
        <div class="nhsuk-radios nhsuk-radios--conditional">
          <span class="nhsuk-error-message" id="age-not-selected-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Select an ethnic group or 'Prefer not to say'
          </span>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v20-background-mixed-multiple-1" name="v20-background-mixed-multiple" type="radio" value="nhsuk-login">
            <label class="nhsuk-label nhsuk-radios__label" for="v20-background-mixed-multiple-1">
              White and Black Caribbean
            </label>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v20-background-mixed-multiple-2" name="v20-background-mixed-multiple" type="radio" value="government-verify">
            <label class="nhsuk-label nhsuk-radios__label" for="v20-background-mixed-multiple-2">
              White and Black African
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v20-background-mixed-multiple-3" name="v20-background-mixed-multiple" type="radio" value="nhsuk-login">
            <label class="nhsuk-label nhsuk-radios__label" for="v20-background-mixed-multiple-3">
              White and Asian
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v20-background-mixed-multiple-4" name="v20-background-mixed-multiple" type="radio" value="text" aria-controls="conditional-v20-background-mixed-multiple-4" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="v20-background-mixed-multiple-4">
              Any other mixed or multiple ethnic background
            </label>
          </div>
    
          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-v20-background-mixed-multiple-4">
    
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="mobile">
                How would you describe your background? (optional)
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
            </div>
    
          </div>

          

         
          <div class="nhsuk-radios__divider">or</div>

          
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="v20-background-mixed-multiple-5" name="v20-background-mixed-multiple" type="radio" value="create-account">
            <label class="nhsuk-label nhsuk-radios__label" for="v20-background-mixed-multiple-5">
              Prefer not to say
            </label>
          </div>
    
        </div>
      </fieldset>
    
    </div>

  <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
</form>

</div>


{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}