{% extends 'layout.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link nhsuk-header__link--service" href="/" aria-label="NHS.UK prototype kit home">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
        <span class="nhsuk-header__service-name">
        Volunteering
        </span>
      </a>
    </div>
    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
      </div>

    </div>
  </div>
  
</header>
{% endblock %}


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="check">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <div class="nhsuk-card" style="border-color:	#005eb8; color:#005eb8;">
    <div class="nhsuk-card__content">
      <h1 class="nhsuk-card__heading">
        Application submitted
  
      </h1>

      <h2 class="nhsuk-heading-m">Walk and Talk volunteer - Airedale Trust</h2>
      <p class="nhsuk-card__description nhsuk-body-m"><strong>Reference number:</strong> 1384250</p>
    </div>
  </div>
 
<p>Thank you for getting in touch about volunteering.</p>
<p>We've sent a confirmation to: <a href="">Karen.Fisher@email.com</a></p>

<h2 class="nhsuk-heading-m">What happens next:</h2>

</div>
</div>

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-half">
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading nhsuk-body-m">
        Step 1: You'll hear back from the organisation
  
      </h3>
      <p>They will contact you when they have reviewed your request.</p>
      <p>This might take a few weeks.</p>
    </div>
  </div>
</div>

<div class="nhsuk-grid-column-one-half">
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading nhsuk-body-m">
        Step 2: Meeting the team
  
      </h3>
      <p>You may have an informal conversation with the team to learn more about yourself and the support you will provide.
      </p>
      <p>This could be in person, over the phone or via video conference.  </p>
    </div>
  </div>
</div>


</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading nhsuk-body-m">
          Step 3: Getting started
    
        </h3>
        <p>To continue your volunteering journey, you may need to provide some documents for identity checks. </p>
        <p>Sometimes, you may need to go through a Disclosure and Barring Service (DBS) check. This might take a few weeks to come back. </p>
        <br>
        <br>
      </div>
    </div>
  </div>
  
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading nhsuk-body-m">
          Step 4: Receiving the support you need
    
        </h3>
        <p>Once you are ready to start, you will have a welcome induction. 
        </p>
        <p>It will be an opportunity for you to meet the staff and other volunteers. You'll also learn about all the policies and the training you'll need to undertake.   </p>
        <p>Your team will be there to support you throughout your volunteering journey. </p>
      </div>
    </div>
  </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <p class="nhsuk-body"><a href="/v1/results">Go back to results</a></p>
      </div>
      </div>



















{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


