{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="parent-address-look-up">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1>Check your answers</h1>

    <h2 class="nhsuk-heading nhsuk-heading-m">Organisation details</h2>

    <form action="register-child-organisation-confirmation" method="post">

      {{ summaryList({
        rows: [  
        {
          key: {
            text: "How would you classify this organisation?"
          },
          value: {
            text: "Child organisation"
          },
          actions: {
            items: [
              {
                href: "register-organisation",
                text: "Change",
                visuallyHiddenText: "Organisation name"
              }
            ]
          }
        },
        {
          key: {
            text: "Which organisation does the site sit underneath?"
          },
          value: {
            text: "Leeds Teaching Hospitals NHS Trust"
          },
          actions: {
            items: [
              {
                href: "child-parent-org-association",
                text: "Change",
                visuallyHiddenText: "Overarching organisation"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the name of the organisation?"
          },
          value: {
            text: "Chapel Allerton Hospital"
          },
          actions: {
            items: [
              {
                href: "child-name",
                text: "Change",
                visuallyHiddenText: "Organisation name"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the unique business key for the organisation?"
          },
          value: {
            text: "0265"
          },
          actions: {
            items: [
              {
                href: "child-code",
                text: "Change",
                visuallyHiddenText: "Business key"
              }
            ]
          }
        },
        {
          key: {
            text: "Is this an NHS organisation?"
          },
          value: {
            text: "NHS organisation"
          },
          actions: {
            items: [
              {
                href: "child-nhs-org",
                text: "Change",
                visuallyHiddenText: "NHS Org"
              }
            ]
          }
        },
        {
          key: {
            text: "Is this organisation an ambulance trust?"
          },
          value: {
            text: "No"
          },
          
          actions: {
            items: [
              {
                href: "child-ambulance-trust",
                text: "Change",
                visuallyHiddenText: "Ambulance trust"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the website of the organisation?"
          },
          value: {
            text: "www.organisationwebsite.com"
          },
          actions: {
            items: [
              {
                href: "child-website",
                text: "Change",
                visuallyHiddenText: "Organisation website"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the address of the organisation?"
          },
          value: {
            html: "<p>1 Street Lane</p>
                   <p>Town</p>
                   <p>County</p>
                   <p>P0STCD3</p>
                   "
          },
          actions: {
            items: [
              {
                href: "child-address-look-up",
                text: "Change",
                visuallyHiddenText: "Location 1"
              }
            ]
          }
        }
        ]
      }) }}
        
      <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Submit</button>
    </form>
      </div>
  
    


  

</div>




















{% endblock %}




<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
