{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="parent-address-look-up">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1><span class="nhsuk-caption-l nhsuk-caption--top">Step 8 of 10</span>
    What is a description of your organisation? (optional)</h1>

    <form action="parent-privacy-policy" method="post">
      <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="1000">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="v4-volunteer-availability">
            Description of your organisation (optional)
          </label>
          <textarea class="nhsuk-textarea" id="v4-volunteer-availability" name="v4-volunteer-availability" rows="10" aria-describedby="v4-volunteer-availability-hint">{{ data['v4-volunteer-availability']}}</textarea>
        </div>
      </div>

<button class="nhsuk-button" type="submit">Continue</button>
<p><a href="parent-privacy-policy">Skip this section</a></p>
</form>

</div>




















{% endblock %}




<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
