{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
  <div class="nhsuk-card" style="border-color:	#005eb8; color:#005eb8;">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading">
        Organisation added successfully to directory
  
      </h2>

      <h3 class="nhsuk-heading-m">Leeds Teaching Hospitals NHS Trust</h3>
      <p class="nhsuk-card__description nhsuk-body-m"><div class="nhsuk-u-visually-hidden">Organisation URL:</div> <a class="nhsuk-body-m" href="#">www.bsa-admin-portal.com/leeds-teaching-hospitals-nhs-trust</a></p>
    </div>
  </div>

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="admin-start">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <h1>What would you like to do?</h1>

    
  <form action="/a2-recruiter-search-or-register-answer" method="post">
    <div class="nhsuk-form-group">

      <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
        Select an option
      </div>
  

      <fieldset class="nhsuk-fieldset">
      
        <div class="nhsuk-radios">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="a2-recruiter-search-or-register-1" name="a2-recruiter-search-or-register" type="radio" value="search">
            <label class="nhsuk-label nhsuk-radios__label" for="a2-recruiter-search-or-register-1">
            Search for an organisation in NHS Volunteering
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="a2-recruiter-search-or-register-2" name="a2-recruiter-search-or-register" type="radio" value="register-recruiter">
            <label class="nhsuk-label nhsuk-radios__label" for="a2-recruiter-search-or-register-2">
              Onboard an organisation into NHS Volunteering
            </label>
          </div>

          <div class="nhsuk-radios__divider">or</div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="a2-recruiter-search-or-register-3" name="a2-recruiter-search-or-register" type="radio" value="register-organisation">
            <label class="nhsuk-label nhsuk-radios__label" for="a2-recruiter-search-or-register-3">
              Add an organisation into the NHS Volunteering database
            </label>
          </div>

        </div>
      </fieldset>
    
    </div>

  <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
</form>

</div>





















{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
