{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="manage-users">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

  <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
      <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
        <li>
          <a href="#dob-errors-year">Enter a phone number</a>
        </li>
      </ul>
    </div>
  </div>


  <h1>Enter phone number</h1>

  <div class="nhsuk-form-grou nhsuk-form-group--error">
    <label class="nhsuk-label" for="example">
      Full phone number
    </label>
    <div id="bsa-admin-telephone-hint" class="nhsuk-hint">
      For example, 01632 960 001, 07700 900 982 or +44 808 157 0192  
    </div>
    <span class="nhsuk-error-message" id="dob-errors-error">
      <span class="nhsuk-u-visually-hidden">Error:</span> Enter a phone number
    </span>
    <input class="nhsuk-input" id="example" name="example" type="text">
  </div>
<form action="check-change-number" style="margin-top: 30px;">
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Continue
  </button>
</form>
</div>

</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
