{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Do you want to set up email updates for this opportunity? - NHS Volunteering
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "receive-applications",
"text": "Go back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <form action="/r22-email-updates-answer" method="post" class="form">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="r22-email-updates-hint">
          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--top">Select application settings</span>
            Do you want to set up email updates for this opportunity?
          </h1>

          <div class="nhsuk-hint" id="r22-email-updates-hint">
            Select all that apply
          </div>

          <div class="nhsuk-checkboxes">
            <input type="hidden" name="r22-email-updates" value="_unchecked">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="r22-email-updates-1" name="r22-email-updates" type="checkbox"
                value="Yes, email updates every time someone applies" {{ checked("r22-email-updates", "Yes, email updates every time someone applies") }}
                data-checkbox-exclusive-group="r22-email-updates">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="r22-email-updates-1">
                Yes, email updates every time someone applies
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="r22-email-updates-2" name="r22-email-updates" type="checkbox"
                value="Yes, weekly summary email" {{ checked("r22-email-updates", "Yes, weekly summary email") }}
                data-checkbox-exclusive-group="r22-email-updates">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="r22-email-updates-2">
                Yes, weekly summary email
              </label>
            </div>

            <div class="nhsuk-checkboxes__divider">or</div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="r22-email-updates-3" name="r22-email-updates" type="checkbox"
                value="No email updates" {{ checked("r22-email-updates", "No email updates") }} data-checkbox-exclusive
                data-checkbox-exclusive-group="r22-email-updates">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="r22-email-updates-3">
                No email updates
              </label>
            </div>

          </div>

        </fieldset>

      </div>


      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>

    </form>

    <p class="nhsuk-body">
      <a href="/r22/task-list?r22-task-email-in-progress=true" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back
        later</a>
    </p>
  </div>
</div>

<script src="/nhsuk-frontend/nhsuk.min.js"></script>

{% endblock %}