{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Who will support the volunteer? - NHS Volunteering
{% endblock %}

{% set preAppSelectedForBack = data['r22-pre-application-questions'] or [] %}
{% if preAppSelectedForBack is string %}{% set preAppSelectedForBack = [preAppSelectedForBack] %}{% endif %}
{% set preAppBackHref = 'select-pre-application-questions' %}
{% if 'age' in preAppSelectedForBack %}{% set preAppBackHref = 'pre-application-minimum-age' %}{% endif %}
{% if 'licence' in preAppSelectedForBack %}{% set preAppBackHref = 'pre-application-licence' %}{% endif %}
{% if 'distance' in preAppSelectedForBack %}{% set preAppBackHref = 'pre-application-distance' %}{% endif %}
{% block beforeContent %}
  {{ backLink({
    "href": preAppBackHref,
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="location" method="post" class="form">

        <input type="hidden" name="r22-task-support-complete" value="true">

        <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="200">
          <div class="nhsuk-form-group">
            <h1 class="nhsuk-heading nhsuk-heading-l">
              <span class="nhsuk-caption-l nhsuk-caption--top">Create an opportunity advert</span>
              Who will support the volunteer?
            </h1>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              This will show on the opportunity listing under <strong>useful information</strong>.

            </div>

            <div class="nhsuk-do-dont-list">
              <h2 class="nhsuk-do-dont-list__label">Guidance</h2>
              <p class="nhsuk-body">Use the job title of the member of staff who the volunteer will report to. For example, the ward manager, nurse in charge or member of staff on duty.</p>
              
              <p class="nhsuk-body">You do not need to name a specific person.</p>
            </div>

            <label class="nhsuk-label" for="r9-opportunity-name">
              Enter a job title
            </label>
            <input class="nhsuk-input nhsuk-js-character-count" id="r9-opportunity-name" name="r9-opportunity-name" type="text">
            
          </div>
        </div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Save and continue
        </button>

        <p class="nhsuk-body">              
          <a href="../task-list?r22-task-support-in-progress=true" class="nhsuk-link nhsuk-link--no-visited-state">Save and come back later</a>
        </p>

        

      </form>

    </div>
  </div>

{% endblock %}
