{% extends 'layout_vol_header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="trust-result">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      
      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
        
          <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            <li>
              <a href="#bsa-admin-a1-search-organisation">Organisation website must be 300 characters or less</a>
            </li>
        
            
          </ul>
        </div>
      </div>

      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Mid and South Essex NHS Foundation Trust</span>
        Website URL
    </h1>

      <div class="nhsuk-hint" id="a1-trust-url-hint-text">
        This will show on the organisation details summary under <strong>'Website URL'</strong>.
      </div>
        <form action="trust-url-check" method="post" class="form">

          <div class="nhsuk-inset-text">
            <p>Enter the full URL, for example, https://www.example.com/page.html</p>
          </div>

        <div class="nhsuk-form-group nhsuk-form-group--error">

          

          <div class="nhsuk-form-group nhsuk-form-group--error">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
              <div class="nhsuk-form-group nhsuk-form-group--error">
                <label class="nhsuk-label" for="a1-trust-url">
                  Organisation website
                </label>
                <span class="nhsuk-error-message" id="example-error-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span>Organisation website must be 300 characters or less
                </span>
                <input class="nhsuk-input nhsuk-js-character-count" id="a1-trust-url" name="a1-trust-url" type="text">
              </div>
            </div>
          </div>

          
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    

        

      </form>

    </div>
  </div>

{% endblock %}
