<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

{% block pageTitle %}
NHS Volunteering
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>
      Recruiter filters & tags
    </h1>


    <p class="nhsuk-lede-text">
      Prototypes for J25 epic
    </p>

    <hr>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Concepts</h2>

    <p class="nhsuk-body"><a href="/r14/dashboard-update-option-1-mvp/index-dashboard-update-option-1">'From home'
        opportunities tag</a></p>
    <p class="nhsuk-body"><a href="/r14/dashboard-update-option-1-mvp/index-dashboard-update-option-1-journey-2">Filters
        and tags content testing</a></p>
  </div>
</div>


{% endblock %}