<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Volunteering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <h1>
      NHS volunteering Beta prototype
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 1.0.0</span>
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      Prototypes for the Beta phase of NHS volunteering.
    </p>

    <hr>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-card nhsuk-card--clickable" style="min-height: 250px;">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="../sub-index-vol">Volunteer prototypes</a>
        </h2>
        <p class="nhsuk-card__description">Prototypes and journeys for the volunteer</p>
      </div>
    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-card nhsuk-card--clickable" style="min-height: 250px;">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="../sub-index-rec">Recruiter prototypes</a>
        </h2>
        <p class="nhsuk-card__description">Prototypes and journeys for the recruiter service</p>
      </div>
    </div>

  </div>
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-card nhsuk-card--clickable" style="min-height: 250px;">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="../sub-index-bsa">BSA admin prototypes</a>
        </h2>
        <p class="nhsuk-card__description">Prototypes and journeys for the BSA admins</p>
      </div>
    </div>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Volunteer iterations</h2>
    <h3>Historical</h3>
    <p class="nhsuk-body"><a href="/v1/homepage">Iteration 1: Full journey from homepage - Used in Sprint 4 UR</a></p>
    <p class="nhsuk-body"><a href="/v2/volunteering/index">Iteration 2: Full journey from homepage - Used in Sprint 5
        UR</a></p>
    <p class="nhsuk-body"><a href="/v3/volunteering/index">Iteration 3: Full journey from homepage - What has been
        handed over to devs</a></p>
    <p class="nhsuk-body"><a href="/v4/volunteering/index">Iteration 4: Full journey from homepage - Accessibility
        testing</a></p>
    <p class="nhsuk-body"><a href="/v5/edi/check">Iteration 5: EDI, banners and policy pages</a></p>
    <p class="nhsuk-body"><a href="/v6/volunteering/index">Iteration 6: NHS login journey</a></p>
    <p class="nhsuk-body"><a href="/v7/volunteering/index">Iteration 7: Opportunity tags and content updates</a></p>
    <p class="nhsuk-body"><a href="/v8/volunteering/index">Iteration 8: July 2025 updates: parity with live</a></p>
    <p class="nhsuk-body"><a href="/v9/volunteering/index">Iteration 9: Changes to 'role categories': Aug 2025</a></p>

    <hr>

    <h3>Current</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype link</th>
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Epic</th>
          <th scope="col" class="govuk-table__header">Links</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <!--v10-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v10/volunteering/index">Link to prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V10</strong></td>
          <td class="nhsuk-table__cell"> <strong>GDS / CDDO recommendations [Aug & Sept 25]</strong></td>
          <td class="nhsuk-table__cell">
            <p>[insert text]</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[Epic]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[Insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></td>
          <td class="nhsuk-table__cell">Sept 2025</td>
        </tr>
        <!--v11-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v11/volunteering/index">Link to prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V11</strong>
          </td>
          <td class="nhsuk-table__cell"> <strong>Changes from GDS / CDDO testing: Sept 2025</strong></td>
          <td class="nhsuk-table__cell">
            <p>[insert text] </p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[Epic]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></td>
          <td class="nhsuk-table__cell">Sept 2025</td>
        </tr>
        <!--V12-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v12/volunteering/index">Link to prototype</a>
          </th>
          <td class="nhsuk-table__cell"> <strong>V12</strong>
          </td>
          <td class="nhsuk-table__cell"> <strong>Prototype for usability testing [GDS / CDDO amends]</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>[Insert text]</p>
          </td>
          <td class="nhsuk-table__cell"><a href="">[Epic]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></td>
          <td class="nhsuk-table__cell">10 Oct 2025</td>
        </tr>
        <!--V13-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v13/volunteering/index">Link to prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V13</strong></td>
          <td class="nhsuk-table__cell"> <strong>Post usability test changes</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>[Insert text]</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[Epic]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></td>
          <td class="nhsuk-table__cell">Oct 2025</td>
        </tr>
        <!--V14-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/index-v14-prototypes">Link to prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V14</strong></td>
          <td class="nhsuk-table__cell"> <strong>Prototype testing - search improvements</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>[Insert text]</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[J20 & J22]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Research complete</strong></td>
          <td class="nhsuk-table__cell">Feb 2026</td>
        </tr>

        <!--V15-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v15/index">Link to prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V15</strong></td>
          <td class="nhsuk-table__cell"> <strong>Prototype testing - filters</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>[Insert text]</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[J25]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Research complete</strong></td>
          <td class="nhsuk-table__cell">Mar 2026</td>
        </tr>

        <!--V16-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v16/volunteering/index-GDS">Link to
              prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V16</strong></td>
          <td class="nhsuk-table__cell"> <strong>Prototype testing - J8 epic</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>[Insert text]</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[J8]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">In research</strong></td>
          <td class="nhsuk-table__cell">Mar 2026</td>
        </tr>

        <!--V17-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v17/index">Link to
              prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V17</strong></td>
          <td class="nhsuk-table__cell"> <strong>Post-research updates</strong>
            <br>
            <br>
            <strong>For delivery in Q1</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>After testing filters and tags as part of the J25 epic, we have
              suggested recommendations to the filters
              and tags which can be found in this prototype. It shows both recruiter and volunteer updates.</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[J25]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">In development</strong></td>
          <td class="nhsuk-table__cell">Mar 2026</td>
        </tr>

        <!--V18-->
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header"><a href="/v18/index">Link to
              prototype</a></th>
          <td class="nhsuk-table__cell"> <strong>V18</strong></td>
          <td class="nhsuk-table__cell"> <strong>Post content review updates</strong>
            <br>
            <br>
            <strong>For delivery in Q1</strong>
          </td>
          <td class="nhsuk-table__cell">
            <p>Changes recommended after a content review of the live service.</p>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">[J23]</a>
          </td>
          <td class="nhsuk-table__cell">
            <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
          </td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">In development</strong></td>
          <td class="nhsuk-table__cell">Mar 2026</td>
        </tr>


    </table>




  </div>
</div>




<h2>Recruiter iterations</h2>
<h3>Historical</h3>
<p class="nhsuk-body"><a href="/r1/start-page">Iteration 1: Create an opportunity</a></p>
<p class="nhsuk-body"><a href="/r2/index">Iteration 2: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r3/index">Iteration 3: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r4/index">Iteration 4: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r5/index">Iteration 5: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r6/index">Iteration 6: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r7/index">Iteration 7: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r8/index">Iteration 8: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r9/index">Iteration 9: Full recruiter journey</a></p>

<hr>

<h3>Current</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototype link</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Title</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header">Epic</th>
      <th scope="col" class="govuk-table__header">Links</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Last updated</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <!--r10-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a
          href="/r10/dashboard-update-option-1-mvp/index-dashboard-update-option-1">Link to prototype</a></th>
      <td class="nhsuk-table__cell"> <strong>R10</strong></td>
      <td class="nhsuk-table__cell"> <strong>Service Scope Extension</strong></td>
      <td class="nhsuk-table__cell">
        <p><strong>Service scope extension</strong> [insert text]</p>
      </td>
      <td class="nhsuk-table__cell">
        <a href="">[Epic]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="">[Insert links]</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Live</strong></td>
      <td class="nhsuk-table__cell">Sept 2025</td>
    </tr>
    <!--r11-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a
          href="/r11/dashboard-update-option-1-mvp/index-dashboard-update-option-1">Link to prototype</a></th>
      <td class="nhsuk-table__cell"> <strong>R11</strong>
      </td>
      <td class="nhsuk-table__cell"> <strong>Service Scope Extension</strong></td>
      <td class="nhsuk-table__cell">
        <p><strong>Service scope extension: Additional features</strong> [insert text] </p>
      </td>
      <td class="nhsuk-table__cell">
        <a href="">[Epic]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="">[insert links]</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">On hold-post MVP</strong></td>
      <td class="nhsuk-table__cell">[dd/mm/yyyy]</td>
    </tr>
    <!--r12 & r13-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a
          href="/r12/dashboard-update-option-1-mvp/index-dashboard-update-option-1">Link to prototype [R12]</a>
        <br>
        <br><a href="/r13/dashboard-update-option-1-mvp/index-dashboard-update-option-1">Link to prototype [R13]</a>
      </th>
      <td class="nhsuk-table__cell"> <strong>R12 & R13</strong>
      </td>
      <td class="nhsuk-table__cell"> <strong>Service Scope Extension - Email notifications</strong>
      </td>
      <td class="nhsuk-table__cell">
        <p>Prototypes for test for email notifications.</p>
      </td>
      <td class="nhsuk-table__cell"><a
          href="https://miro.com/app/board/uXjVMCl904Y=/?openCardPanel=3458764600601761285">[J19]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="/childcare/v6/dashboard">Dashboard</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">In development</strong></td>
      <td class="nhsuk-table__cell">1 Dec 2025</td>
    </tr>
    <!--r14-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="/index-r14-prototypes">Link to prototype</a></th>
      <td class="nhsuk-table__cell"> <strong>R14</strong></td>
      <td class="nhsuk-table__cell"> <strong>Search Improvements - Filters & tags CI</strong>
      </td>
      <td class="nhsuk-table__cell">
        <p>Testing new language for filters and tags and and added accessibility features tags.</p>
      </td>
      <td class="nhsuk-table__cell">
        <a href="https://miro.com/app/board/uXjVMCl904Y=/?openCardPanel=3458764600601761285">[J25]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="">[disc guide]</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Research complete</strong></td>
      <td class="nhsuk-table__cell">17 Feb 2026</td>
    </tr>
    <!--r15-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="/r15/task-list-fixed-journey-2">Link to prototype</a></th>
      <td class="nhsuk-table__cell"> <strong>R15</strong></td>
      <td class="nhsuk-table__cell"> <strong>Post-research updates</strong>
        <br>
        <br>
        <strong>For delivery in Q1</strong>
      </td>
      <td class="nhsuk-table__cell">
        <p>Testing new language for filters and tags and and added accessibility features tags.</p>
      </td>
      <td class="nhsuk-table__cell">
        <a href="https://miro.com/app/board/uXjVMCl904Y=/?openCardPanel=3458764600601761285">[J25]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="">[disc guide]</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Research complete</strong></td>
      <td class="nhsuk-table__cell">17 Feb 2026</td>
    </tr>

    <!--r16-->
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="/r16/print-preview-update">Link to prototype</a></th>
      <td class="nhsuk-table__cell"> <strong>R16</strong></td>
      <td class="nhsuk-table__cell"> <strong>Post-research updates</strong>
        <br>
        <br>
        <strong>For delivery in Q1</strong>
      </td>
      <td class="nhsuk-table__cell">
        <p>Changes recommended after a content review of the live service. This contains the 'print preview' screen as a
          result of changes to the
          volunteer site.</p>
      </td>
      <td class="nhsuk-table__cell">
        <a href="https://miro.com/app/board/uXjVMCl904Y=/?openCardPanel=3458764600601761285">[J8]</a>
      </td>
      <td class="nhsuk-table__cell">
        <p class="nhsuk-!-margin-bottom-2"><a href="">[disc guide]</a></p>
      </td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Research complete</strong></td>
      <td class="nhsuk-table__cell">17 Feb 2026</td>
    </tr>
</table>

</div>
</div>





<!-- End of content -->


{% endblock %}