<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
NHS Volunteering
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
<header></header>

<div class="beta-banner" aria-label="beta-banner" role="complementary">
  <div class="nhsuk-width-container ">
    <strong class="nhsuk-tag">BETA</strong>
    <span>Give your feedback to help us improve this service. <a
        href="https://online1.snapsurveys.com/NHSVolunteeringBetaFeedback" target="_blank"
        rel="noopener noreferrer">Take our survey (opens in a new tab).</a></span>
  </div>
</div>
{% endblock %}

<!-- Edit the footer -->


{% block footer %}
<footer></footer>
{% endblock %}

{% block bodyEnd %}
{% block scripts %}
<!-- Custom JavaScript files can be added to this file -->
{% include "includes/scripts.html" %}
<!-- For adding page specific JavsScript -->
{% block pageScripts %}{% endblock %}
{% endblock %}
{% endblock %}