<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "page-example.html" %}

{% from "back-link/macro.njk" import backLink %}
{% set mainClasses = "nhsuk-width-container nhsuk-main-wrapper" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block head %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


{% block pageTitle -%}
NHS Volunteering
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container nhsuk-u-margin-bottom-7">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link nhsuk-header__link--service" href="/" aria-label="NHS.UK prototype kit home">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
        <span class="nhsuk-header__service-name">
        Volunteering
        </span>
      </a>
  </div>
  </div>
  
</header>
{% endblock %}


<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/v9/unhappy/help-and-support">Help and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/v9/volunteers-terms-conditions">Terms and conditions</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/v9/accessibility-statement">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/v9/volunteers-privacy-policy">Privacy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/v9/index-cookies">Cookies</a>
          </li>
        </ul>
          <ul class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://nhsvb2cprod.b2clogin.com/nhsvb2cprod.onmicrosoft.com/b2c_1_nhs_volunteering_recruiter_sign-in/oauth2/v2.0/authorize?client_id=3b81f491-9500-40bc-ae67-6fed77530485&scope=openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Fvolunteering.england.nhs.uk%2Frecruiter%2Fredirect&client-request-id=d80730fa-c87a-4d60-8974-0bb0f74bd979&response_mode=query&response_type=code&x-client-SKU=msal.js.node&x-client-VER=2.9.2&x-client-OS=linux&x-client-CPU=x64&client_info=1&state=eyJhcHBTdGFnZSI6ImxvZ2luIn0%3D">Sign in to advertise NHS Volunteer opportunities</a>
          </ul>
        </ul>

      </div>
      <div>
        <p class="nhsuk-footer__copyright">© Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
