<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Volunteering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <!-- Change the page title here -->
    <h1>
      In development prototypes
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      Prototypes which are being reviewed for ticket creation or are in development.
    </p>
  </div>
</div>

<h3>Volunteer</h3>

<p><strong>Q1</strong></p>
<p class="nhsuk-body"><a href="/index-v14-prototypes">V14: Search improvements - content & usability testing [J20]</a>
</p>
<p class="nhsuk-body"><a href="/v15/index">V15: Filters & tags - content testing [J25]</a></p>
<p class="nhsuk-body"><a href="/v17/index">V17: Filters & tags changes - post usability testing
    [J25]</a></p>

<p class="nhsuk-body"><a href="/v16/volunteering/index-GDS">V16: GDS changes - usability testing [J8]</a></p>
<p class="nhsuk-body"><a href="/v18/index">V18: Post content review updates [J23]</a></p>
<p class="nhsuk-body"><a href="/v19/index-page">V19: EDI - post usability testing [J8]</a></p>

<p><strong>Q2</strong></p>
<p class="nhsuk-body"><a href="/v23/index-results">V23: Zero closest results - post content testing [H8]</a></p>






<hr>
<h3>Recruiter</h3>

<p><strong>Q1</strong></p>
<p class="nhsuk-body"><a href="/index-r14-prototypes">R14: Search
    Improvements - Filters & tags CIs [J25]</a>
</p>
<p class="nhsuk-body"><a href="/r15/task-list-fixed-journey-2">R15: Filters & tags with a11y reqs - post usability
    testing [J25]</a>
</p>
<p class="nhsuk-body"><a href="/r16/print-preview-update">R16: Changes to print preview, as part of J8 - post
    usability
    testing [J8]</a></p>
<p class="nhsuk-body"><a href="/r12/user-management/manage-users">R12: Deactivate users - post
    usability
    testing [J18]</a></p>
<p class="nhsuk-body"><a href="/r12/dashboard-update-option-1-mvp/index-dashboard-update-option-1">R12: Service scope
    extension - email notificatons [J19]</a>
</p>
<p class="nhsuk-body"><a href="/r13/dashboard-update-option-1-mvp/index-dashboard-update-option-1">R13: Service scope
    extension - email notificatons [J19]</a>
</p>

</div>
</div>





<!-- End of content -->


{% endblock %}