<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Volunteering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <!-- Change the page title here -->
    <h1>
      Archive
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      Archived prototypes
    </p>
  </div>
</div>

<h3>Volunteer</h3>

<!-- Archived -->
<p class="nhsuk-body"><a href="/v1/homepage">V1: Full journey from homepage - Used in Sprint 4 UR</a></p>
<p class="nhsuk-body"><a href="/v2/volunteering/index">V2: Full journey from homepage - Used in Sprint 5
    UR</a></p>
<p class="nhsuk-body"><a href="/v3/volunteering/index">V3: Full journey from homepage - What has been
    handed over to devs</a></p>
<p class="nhsuk-body"><a href="/v4/volunteering/index">V4: Full journey from homepage - Accessibility
    testing</a></p>
<p class="nhsuk-body"><a href="/v5/edi/check">V5: EDI, banners and policy pages</a></p>
<p class="nhsuk-body"><a href="/v6/volunteering/index">V6: NHS login journey</a></p>
<p class="nhsuk-body"><a href="/v7/volunteering/index">V7: Opportunity tags and content updates</a></p>
<p class="nhsuk-body"><a href="/v8/volunteering/index">V8: July 2025 updates: parity with live</a></p>
<p class="nhsuk-body"><a href="/v9/volunteering/index">V9: Changes to 'role categories': Aug 2025</a></p>

<hr>

<h3>Recruiter</h3>
<p class="nhsuk-body"><a href="/r1/start-page">R1: Create an opportunity</a></p>
<p class="nhsuk-body"><a href="/r2/index">R2: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r3/index">R3: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r4/index">R4: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r5/index">R5: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r6/index">R6: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r7/index">R7: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r8/index">R8: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r9/index">R9: Full recruiter journey</a></p>
<p class="nhsuk-body"><a href="/r17/index">R17: V1 Multi factor authentication - content & usability testing
    [H7]</a>
</p>

</div>
</div>





<!-- End of content -->


{% endblock %}