<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Volunteering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <!-- Change the page title here -->
    <h1>
      Sandbox space
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      A place to explore concepts
    </p>
  </div>
</div>

<h3>Volunteer</h3>

<!-- Archived -->
<p class="nhsuk-body"><a href="../sandbox/email-duplicate-v1">H10: Duplicate applications v1</a></p>
<p class="nhsuk-body"><a href="../sandbox/email-duplicate-v2">H10: Duplicate applications v2</a></p>
<p class="nhsuk-body"><a href="../sandbox/email-duplicate-v3">H10: Duplicate applications v3</a></p>
<p class="nhsuk-body"><a href="../sandbox/results-all">H8: All results</a></p>
<p class="nhsuk-body"><a href="../sandbox/results-other-opps">H8: Other opportunities</a></p>
<p class="nhsuk-body"><a href="../sandbox/results-remote">H8: Remote results</a></p>
<p class="nhsuk-body"><a href="../sandbox/results-no-results">H8: No results</a></p>


<hr>

<h3>Recruiter</h3>


</div>
</div>





<!-- End of content -->


{% endblock %}