{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <!-- Volunteer: In-research -->

    <h1>In research</h1>
    <p class="nhsuk-lede-text">
      Prototypes which are being used for testing purposes.
    </p>

    <h3>Volunteer</h3>

    <!-- In research -->

    <p class="nhsuk-body"><a href="/v20/index">V20: Zero closest results - content testing
        [H8]</a>
    </p>
    <p class="nhsuk-body"><a href="/v21/email">V21: Duplicate email - content testing
        [H10]</a>
    </p>
    <p class="nhsuk-body"><a href="/v21/email-2">V21: Duplicate email - content testing 2
        [H10]</a>
    </p>
    <p class="nhsuk-body"><a href="/v21/email-2">V22: Summary content changes - content testing
        [H9]</a>
    </p>



    <hr>

    <h3>Recruiter</h3>

    <!-- In research -->
    <p class="nhsuk-body"><a href="/r17/index">R17: Multi factor authentication - content & usability testing
        [H7]</a>
    </p>
    <p class="nhsuk-body"><a href="/r10/manage-listing/print-preview-update">R10: Print preview [H12]</a></p>




  </div>
</div>



















{% endblock %}





<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $(document).ready(function () {
    $('a[href=""], button.nhsuk-search__submit').click(function (e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}