{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="manage-users-confirm">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>


    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper nhsuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot change permissions for this team member</h1>
            <p class="govuk-body">
              You cannot change the permissions for Emma Pepper. This is because they are the only superuser on this
              account.
            </p>
            <p>Before you can change these permissions you to need to add at least one superuser to this account.</p>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>Superusers can manage listings and other team members. There can be up to 5 superusers on any account.
                Recruiters can only manage listings.</p>
            </div>
          </div>
        </div>
        <form action="/r12/user-management/manage-users-confirm">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Manage team members
          </button>

        </form>
      </main>
    </div>




    {% endblock %}


    <!-- NHS.UK footer -->



    <!-- JavaScript hack to do nothing if search button or link href="" clicked -->
    {% block pageScripts %}
    <script>
      $(document).ready(function () {
        $('a[href=""], button.nhsuk-search__submit').click(function (e) {
          e.preventDefault();
        });
      });
    </script>
    {% endblock %}