{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-width-container nhsuk-main-wrapper nhsuk-u-margin-bottom-7" id="maincontent">
    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper nhsuk-main-wrapper--l" id="main-content" role="main">
        <div class="nhsuk-grid-row">


          <h1 class="govuk-heading-l">There is a problem</h1>
          <p class="nhsuk-body">
            You can not de-active this account as there needs to be at least one super user.</p>
          <a href="/r12/user-management/manage-users-deleted">Go back to manage users</a>.
        </div>
    </div>
  </main>
</div>

</div>
</div>

<script>
  // The script now finds the form because it has the class 'form'
  document.querySelector('.form').addEventListener('submit', function (e) {

    // Updated to match the name 'deactivate-user' used in the HTML above
    const selected = document.querySelector('input[name="deactivate-user"]:checked');

    if (selected && selected.value === 'no') {
      e.preventDefault(); // Prevents going to the 'confirmation' page
      window.location.href = "/r12/user-management/recruiter-user-2"; // Redirects back
    }
  });
</script>
{% endblock %}