{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="recruiter-user-2">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>




    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
          Account deactivated</h1>
        <p>You have deactivated Fred Lettuce's account.</p>
      </div>
    </div>


    <h2 class="nhsuk-heading-m">What happens next</h2>

    <p>Fred Lettuce will not be able to do any of the tasks they were assigned to for this organisation.</p>

    <p>You will need to assign other team members to those tasks.</p>


    <form action="/r12/user-management/manage-users-confirm">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Manage team members
      </button>

  </div>
</div>
</main>

</form>

{% endblock %}