{% extends 'layout_vol_header.html' %}
<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/r12/user-management/deactivate-superuser-error" method="post" class="form">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Are you sure you want to deactivate Emma Pepper's account?
            </h1>
          </legend>

          <div class="nhsuk-hint">
            If you deactivate this account, you will need to assign other team members to do their tasks.
          </div>

          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="deactivate-yes" name="r12-deactivate-user-EP" type="radio"
                value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="deactivate-yes">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="deactivate-no" name="r12-deactivate-user-EP" type="radio"
                value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="deactivate-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}