{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
NHS Volunteering
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}




<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/r12/dashboard-update-option-1-mvp/index-dashboard-update-option-1">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-u-margin-bottom-3">Manage team members</h1>

        <p class="nhsuk-body-m">
          Add, remove and assign permissions to users in the service.
        </p>

        <a class="nhsuk-button nhsuk-u-margin-bottom-8" href="new-user-details">
          Add team member
        </a>

      </div>


      <div class="nhsuk-grid-column-full">

        <h2 class="nhsuk-heading-m">Your users</h2>

        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Email address
              </th>
              <th role="columnheader" class="" scope="col">
                Role
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col">
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Emma Pepper</td>
              <td class="nhsuk-table__cell">emma.pepper@nhs.uk</td>
              <td class="nhsuk-table__cell ">Superuser</td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Active
                </strong>
              </td>
              <td class="nhsuk-table__cell"><a href="recruiter-user-1">View profile</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Fred Lettuce</td>
              <td class="nhsuk-table__cell">fred.lettuce@nhs.uk</td>
              <td class="nhsuk-table__cell ">Recruiter</td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Deactivated
                </strong>
              </td>
              <td class="nhsuk-table__cell "><a href="recruiter-user-2-deactivated">View profile</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Rickie Cabbage (You)</td>
              <td class="nhsuk-table__cell ">rickie.cabbage@nhs.uk</a></td>
              <td class="nhsuk-table__cell">Recruiter</td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Active
                </strong>
              </td>
              <td class="nhsuk-table__cell "><a href="/r12/user-management/recruiter-user-3">View profile</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sarah Onion</td>
              <td class="nhsuk-table__cell">sarah.onion@nhs.uk</td>
              <td class="nhsuk-table__cell ">Recruiter</td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Active
                </strong>
              </td>
              <td class="nhsuk-table__cell"><a href="recruiter-user-2">View profile</a></td>
            </tr>
          </tbody>
        </table>

        <p class="nhsuk-u-margin-top-6">
          <a href="/privacy-policy">View our privacy policy</a>
        </p>

      </div>
    </div>





















    {% endblock %}


    <!-- NHS.UK footer -->



    <!-- JavaScript hack to do nothing if search button or link href="" clicked -->
    {% block pageScripts %}
    <script>
      $(document).ready(function () {
        $('a[href=""], button.nhsuk-search__submit').click(function (e) {
          e.preventDefault();
        });
      });
    </script>
    {% endblock %}