<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_vol_header.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "index",
"text": "Go back to dashboard",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


{% block content %}

{% set section1Complete = data['r20-task-title-complete'] or data['r9-opportunity-name'] %}
{% set section2Complete = data['r20-task-summary-complete'] and data['r20-task-description-complete'] and
data['r20-task-looking-for-complete'] and data['r20-task-overview-complete'] and data['r20-pre-application-complete']
and data['r20-task-support-complete'] and data['r20-task-location-complete'] and
data['r20-task-availability-complete'] and data['r20-task-contact-complete'] and data['r20-task-tags-complete'] and
data['r20-task-filters-complete'] and data['r20-task-accessible-complete'] %}
{% set section3Complete = data['r20-task-receive-complete'] and data['r20-task-closing-date-complete'] and
data['r20-task-email-complete'] %}
{% set completedSections = (1 if section1Complete else 0) + (1 if section2Complete else 0) + (1 if section3Complete
else 0) %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-2 nhsuk-heading nhsuk-heading-xl">
      <span class="nhsuk-caption-l nhsuk-caption--top">Reference number 49208-AB</span>
      {% if data['r9-opportunity-name'] %}
      {{ data['r9-opportunity-name'] }}
      {% elif data['r2-opportunity-name'] %}
      {{ data['r2-opportunity-name'] }}
      {% else %}
      Walk and talk volunteer
      {% endif %}
    </h1>
    <p class="nhsuk-u-margin-bottom-5"><strong class="nhsuk-tag nhsuk-tag--yellow">Draft</strong></p>

    <p>You need to complete all tasks before you can advertise your opportunity.</p>
    <p class="nhsuk-u-margin-bottom-7">You can save your progress and return to it later.</p>

    <p class="nhsuk-body">You have completed {{ completedSections }} of 4 sections.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Setting up a listing
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/new-name" aria-describedby="practice-details-not-started">
                Add a title
              </a>
            </span>
            {% if data['r20-task-title-complete'] or data['r9-opportunity-name'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-title-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Create an opportunity advert
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/summary" aria-describedby="company-information-completed">
                Add a summary
              </a>
            </span>
            {% if data['r20-task-summary-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-summary-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/opportunity-description" aria-describedby="company-information-completed">
                Add a description of the opportunity
              </a>
            </span>
            {% if data['r20-task-description-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-description-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/looking-for" aria-describedby="company-information-completed">
                What type of person you are looking for
              </a>
            </span>
            {% if data['r20-task-looking-for-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-looking-for-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/overview-process" aria-describedby="contact-details-completed">
                Add an overview of the application process
              </a>
            </span>
            {% if data['r20-task-overview-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-overview-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/pre-application-questions">
                Add pre-application questions
              </a>
            </span>
            {% if data['r20-pre-application-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-pre-application-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/support-volunteers">
                Add who will support the volunteer
              </a>
            </span>
            {% if data['r20-task-support-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-support-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/location">
                Add locations
              </a>
            </span>
            {% if data['r20-task-location-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-location-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/availability">
                Add availability requirements
              </a>
            </span>
            {% if data['r20-task-availability-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-availability-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/contact-details">
                Set the contact details
              </a>
            </span>
            {% if data['r20-task-contact-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-contact-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/tags">
                Add opportunity tags
              </a>
            </span>
            {% if data['r20-task-tags-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-tags-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/choose-search-filters">
                Choose search filters
              </a>
            </span>
            {% if data['r20-task-filters-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-filters-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/choose-accessible-filters">
                Choose accessible features and facilities
              </a>
            </span>
            {% if data['r20-task-accessible-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-accessible-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Select application settings
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/recieve-applications">
                Decide how you want to receive applications
              </a>
            </span>
            {% if data['r20-task-receive-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-receive-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="questions/alt-closing-date">
                Set a closing date
              </a>
            </span>
            {% if data['r20-task-closing-date-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-closing-date-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/r20/questions/email-updates">
                Set up email notifications
              </a>
            </span>
            {% if data['r20-task-email-complete'] %}
            <strong class="nhsuk-tag app-task-list__task-tag" id="company-information-completed">Completed</strong>
            {% elif data['r20-task-email-in-progress'] %}
            <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__task-tag" id="company-information-completed">In
              progress</strong>
            {% else %}
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="company-information-completed">Not
              started</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Publish the listing
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {% if section1Complete and section2Complete and section3Complete %}
            <span class="app-task-list__task-name">
              <a href="./questions/check-listing">
                Check your answers and publish the listing
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="practice-staff-started">Not
              started</strong>
            {% else %}
            <span class="app-task-list__task-name">
              Check your answers and publish the listing
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__task-tag" id="practice-staff-started">Cannot start
              yet</strong>
            {% endif %}
          </li>
        </ul>
      </li>
    </ol>
    <form action="are-you-sure-delete">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit"
        style="background-color:	#d5281b;  box-shadow: 0 4px 0 #212b32">
        Delete listing
      </button>
    </form>

  </div>

</div>
{% endblock %}
