{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "trust-about",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--top">Submit changes to 'About'</span>
        Check your answers before submitting
      </h1>

      <h2 class="nhsuk-heading nhsuk-heading-m">Mid and South Essex NHS Foundation Trust</h2>

      {{ summaryList({
        rows: [
        {
          key: {
            text: "About"
          },
          value: {
            html: "At Mid and South Essex NHS Foundation Trust, we have a team of brilliant and valued volunteers who give their time to make a difference for patients and medical staff.<br>
            We have a dedicated team of staff who supports our volunteers from the start. We provide comprehensive induction and ongoing training. We can ensure you feel welcome and part of the team. We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.
            "
          },
          actions: {
            items: [
              {
                href: "trust-about",
                text: "Change",
                visuallyHiddenText: "Location 1"
              }
            ]
          }
        }
        ]
      }) }}

      <form action="recruiter-trust-details">
        <button class="nhsuk-button nhsuk-u-margin-right-4" data-module="nhsuk-button" type="submit">
          Submit
        </button>
      </form> 

    </div>
  </div>
{% endblock %}
