{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../results/results-v2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to results</a>
  </div>

  <span class=""></span>
  <h1 class="nhsuk-u-margin-bottom-3">  <span class="nhsuk-caption-xl nhsuk-caption--top">Yorkshire Ambulance Service NHS Trust</span>
  Volunteer with Yorkshire Ambulance Trust</h1>
   




  <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
    <span class="nhsuk-u-visually-hidden">Information: </span>
  
    <p>The organisation may close this opportunity at any time based on their needs.</p>
  </div>

  <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v11/application/start">
    Apply for this opportunity
  </a>
  

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Summary
  
      </h2>
     <p>There are many ways you can volunteer with us. We'll discuss with you which opportunities are available after you register with us.</p>
     
    </div>
  </div>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Am I the right person for this?
  
      </h2>
<p>This opportunity will suit someone friendly, approachable and enthusiastic.
</p>
<p>You don't need any previous experience, qualifications or training. All you need is to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>have good conversational and listening skills</li>
  <li>be comfortable approaching people to offer help</li>
  <li>be able to stay calm in difficult situations</li>
  <li>be 18 or over</li>
</ul>

</div>
</div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3>Useful information about the opportunity</h3> <dl class="nhsuk-summary-list">
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Date posted:</dt>
      <dd class="nhsuk-summary-list__value">24 July 2023</dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Shifts available:</dt>
      <dd class="nhsuk-summary-list__value">Three hours a week on a Tuesday or Thursday</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Reference Number:</dt>
      <dd class="nhsuk-summary-list__value">763618H-YAS</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Role locations:</dt>
      <dd class="nhsuk-summary-list__value">
        Yorkshire Ambulance Trust Headquarters<br>
        Wakefield Business Park<br>
        Wakefield<br>
        WF2 1JH<br>
        <div class="nhsuk-u-visually-hidden">or</div><br>
        Leeds Ambulance Station<br>
        Hunslet<br>
        Leeds<br>
        LS10 7TY<br>
      </dd>
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Who will support you</dt>
      <dd class="nhsuk-summary-list__value">Volunteer Ambulance Dispatcher</dd> 
    </div>
  
    </dd> 
    </div>
  </div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
  
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption"> Useful information about the opportunity</caption>
 
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Date posted:</td>
          <td class="nhsuk-table__cell ">24 July 2023</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Shifts available:</td>
          <td class="nhsuk-table__cell ">Three hours a week on a Tuesday or Thursday</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Reference number:</td>
          <td class="nhsuk-table__cell ">763618H-YAS</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Role locations:</td>
          <td class="nhsuk-table__cell ">Yorkshire Ambulance Trust Headquarters<br>
            Wakefield Business Park<br>
           Wakefield<br>
           WF2 1JH<br>

         
           <div class="nhsuk-u-visually-hidden">or</div><br>
            Leeds Ambulance Station
           <br>
            Hunslet<br>
            Leeds<br>
            LS10 7TY <br>
            </td>
            
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Who will support you</td>
          <td class="nhsuk-table__cell ">Volunteer Ambulance Dispatcher
          
            </td>
        </tr>
      </tbody>
    </table>
   
  </div>
</div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-s">
      What happens after you apply for this opportunity

    </h2>
   <p>We'll get in touch with you when we review your request. This might take a few weeks.
  </p>
  <p>After that, we may book in a chat to get to know you a bit more and walk you through the process.</p>
  <p>To become a volunteer, you may need to:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>provide proof of identity and some utility bills </li>
    <li>go through a standard or enhanced Disclosure and Barring Service (DBS) and occupational health checks</li>
    <li>prove your right to work in the UK</li>
    <li>provide details of your work history</li>
    <li>give the details of two referees</li>
  </ul>
  </div>
</div>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     About Yorkshire Ambulance Service NHS Trust
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>At Leeds Teaching Hospitals NHS Foundation Trust, we have a team of brilliant and valued volunteers who give their time to make a difference for patients and medical staff.</p>
 <p>We have a dedicated team of staff who supports our volunteers from the start. We provide comprehensive induction and ongoing training. We can ensure you feel welcome and part of the team. We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.</p>
 <img class="nhsuk-card__img" style="width:50% !important; "src="/images/leeds-trust.png" alt=""  height="200">
</div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     Who to contact if you have questions
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p class="nhsuk-card__description">Contact: Emma Recruiter, Walk and Talk Team Leader</p>
    <p class="nhsuk-card__description">Telephone: 01824 24895</p>
    <p class="nhsuk-card__description">Email: emmarecruiter@nhs.net</p>
</div>
</details>

<a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v11/application/start">
  Apply for this opportunity
</a>


</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
