{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



<!-- Homepage content -->
{% block content %}

<div class="nhsuk-back-link">

  <a class="nhsuk-back-link__link" href="../dashboard-update-option-1-mvp/manage-live">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <h1 class="nhsuk-u-margin-bottom-3"> <span class="nhsuk-caption-l">Reference number: V-5r4-2WB</span style="text-align: center;"> Walk and talk volunteer application <span class="nhsuk-tag nhsuk-tag--green">New</span></h1>
  <p class="nhsuk-body"><strong>Date received:</strong> 24 February 2025</p>

  <div class="govuk-warning-text nhsuk-u-margin-bottom-5">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      This page includes the applicant's personal<br> information.
      
     
       
    </strong>
  </div>

  <h2>Application details</h2>
  <dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Name
      </dt>
      <dd class="nhsuk-summary-list__value">
       Robert Smith
      </dd>
  
  
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Age
      </dt>
      <dd class="nhsuk-summary-list__value">
       21 years and over
      </dd>
  
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Address
      </dt>
      <dd class="nhsuk-summary-list__value">
        73 Roman Road<br>Leeds<br> LS2 5ZN
      </dd>
  
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Email address
      </dt>
      <dd class="nhsuk-summary-list__value">
     
        <p>robert.smith@gmail.com</p>
      </dd>
  
  
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Phone number
      </dt>
      <dd class="nhsuk-summary-list__value">
     
        <p>Not provided</p>
      </dd>
  
  
    </div>
  

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Your availability
      </dt>
      <dd class="nhsuk-summary-list__value">
        <p>I can volunteer from 10am to 12pm on a Tuesday and from 11am to 1pm on Thursday.</p>
      </dd>
  
  
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
      Support needed
      </dt>
      <dd class="nhsuk-summary-list__value">
        <p>I prefer to talk on the phone instead of writing things down</p>
        
      </dd>
  
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        About you
      </dt>
      <dd class="nhsuk-summary-list__value">
       <p>I have volunteered as a patient companion at Newham University Hospital for the past 5 years. I have recently moved home and I would like to continue volunteering in my new area. I consider myself a compassionate person and I enjoy spending time with people who need some warmth in their lives. In my previous role, I very much enjoyed meeting new people and helping brighten up their days. I also love the outdoors. My family and I usually go for long Sunday walks exploring our local woodland. I would like to use my skills and friendly disposition to support medical staff and patients at your hospital. </p>
      </dd>
  
  
    </div>
  
   
 
  
  </dl>


<a href="#" class="nhsuk-button">Mark as reviewed</a>

<a href="#" class="nhsuk-button nhsuk-button--secondary">Mark as shortlisted</a>

<button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Print this page
</button>


</div>
</div>




















{% endblock %}


<!-- NHS.UK footer -->



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
