{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
  NHS Volunteering - Homepage
{% endblock %}


{%block main %}
<div class="nhsuk-width-container app-width-container--full">
<main class="nhsuk-main-wrapper app-main-wrapper--no-padding app-homepage top nhsuk-u-margin-bottom-0" id="maincontent" role="main" >


<!-- Homepage content -->
{% block content %}

<!-- hero image and "We're here for you" content -->
<section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description">
    <script>
      function randomImage() {
          var images =[
            "/images/hero_image.jpg"
          ];
          var size = images.length;
          var x = Math.floor(size * Math.random());
          var element = document.getElementsByClassName('nhsuk-hero--image');
          if (element.length > 0) {
              element[0].style["background-image"] = "url(" + images[x] + ")";
          }
      }
      document.addEventListener("DOMContentLoaded", randomImage);
  </script>
   <div class="nhsuk-hero__overlay">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero-content">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Become an NHS volunteer</h1>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-0">Discover how you can make an impact on the experience of patients, their families and the NHS.</p>
            <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- Calls to action -->
<section class="nhsuk-section container-white">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row nhsuk-u-margin-top-3 ">
        <div class="nhsuk-grid-column-full app-section__content">
          <h2>Search for an opportunity</h2>
          <p>Use a postcode and other criteria to find organisations offering volunteering opportunities.</p>
          <div class="nhsuk-action-link nhsuk-u-margin-bottom-0">
            <a class="nhsuk-action-link__link" href="../volunteering/postcode-search">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Go to search</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>


<!-- Being a volunteer -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>What it is like to be an NHS volunteer</h2>
          <p>There are many reasons why you may decide to volunteer within the NHS.</p>
          <p>As an NHS volunteer, you can:</p>
          <ul>
            <li>make a positive contribution to the experience of patients and their families</li>
            <li>do something for the benefit of your local community</li>
            <li>get a sense of accomplishment and a positive outlook on life</li>
            <li>do something worthwhile and meaningful to you.</li>
          </ul>

        <p>Whether you are studying or reconsidering your career, volunteering can help you decide your future goals.</p>

        <p>You will get support from dedicated teams who welcome volunteers from all walks of life and backgrounds.</p>

          

        </div>
     
      </div>

      <div class="nhsuk-grid-column-one-half app-section__content">
        
        <h2>How you can help</h2>
          <p>Find out about different types of volunteering.</p>
          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="/V9/role-categories/view-types">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">View types of volunteering</span>
            </a>
          </div>
          <div class="nhsuk-card  nhsuk-card--clickable  ">
            <img class="nhsuk-card__img" src="/images/What_it_is_like_to_be_an_NHS_volunteer.jpg" alt="">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading"><a class="nhsuk-link--no-visited-state" href="../volunteering/what-our-volunteers-say">
                What our volunteers say</a></h3>
               
              <p class="nhsuk-card__description">We have asked some of our volunteers what they think about volunteering with the NHS<br><br></p>
  
              
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
</div>
</main>
{%endblock%}

















{% endblock %}

<!-- NHS.UK footer -->
{% block footer %}

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">

        <ul class="nhsuk-footer__list">

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Help and support</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Privacy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
          </li>
        </ul>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a href="https://nhsvb2cprod.b2clogin.com/nhsvb2cprod.onmicrosoft.com/b2c_1_nhs_volunteering_recruiter_sign-in/oauth2/v2.0/authorize?client_id=3b81f491-9500-40bc-ae67-6fed77530485&scope=openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Fvolunteering.england.nhs.uk%2Frecruiter%2Fredirect&client-request-id=87cb715d-704b-4637-b6a8-6f016462537b&response_mode=query&response_type=code&x-client-SKU=msal.js.node&x-client-VER=2.1.0&x-client-OS=linux&x-client-CPU=x64&client_info=1&state=eyJhcHBTdGFnZSI6ImxvZ2luIn0%3D" class="nhsuk-footer__list-item-link">Sign in to advertise NHS Volunteer opportunities</a></li>
        </ul>

      </div>
      <div>
        <p class="nhsuk-footer__copyright">© Crown copyright</p>
      </div>

    </div>
  </div>
</footer>
{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
