{% extends 'layout_vol_header.html' %}

<!-- some custom css for the home page only -->


{% block pageTitle %}
  NHS Volunteering
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->


<!-- Homepage content -->
{% block content %}


<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

  <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../results/results">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to results</a>
  </div>

  <span class=""></span>
  <h1 class="nhsuk-u-margin-bottom-3">  <span class="nhsuk-caption-xl nhsuk-caption--top">Airedale NHS Foundation Trust</span>
  Volunteer at Airedale Hospital</h1>



  <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4">
    <span class="nhsuk-u-visually-hidden">Information: </span>
  
    <p>The organisation may close this opportunity at any time based on their needs.</p>
  </div>

  <a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v9/application/start">
    Apply for this opportunity
  </a>
  

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Summary
    
      </h2>
     <p>There are many ways you can volunteer with us. We'll discuss with you which opportunities are available after you register with us.</p>
     
  
    </div>
    </div>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Am I the right person for this?
  
      </h2>
<p>These opportunities will suit someone friendly, approachable and caring.
</p>
<p>You don't need any previous experience, qualifications or training. All you need is to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>have good conversational and listening skills</li>
  <li>be comfortable approaching people to offer help</li>
  <li>be comfortable approaching people to offer help</li>
  <li>be 16 or over</li>
</ul>

</div>
</div>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3>Useful information about the opportunity</h3> <dl class="nhsuk-summary-list">
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Date posted:</dt>
      <dd class="nhsuk-summary-list__value">7 April 2023</dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Shifts available:</dt>
      <dd class="nhsuk-summary-list__value">A variety of shifts are available</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Reference Number:</dt>
      <dd class="nhsuk-summary-list__value">R455115-AIR</dd> 
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Role locations:</dt>
      <dd class="nhsuk-summary-list__value">
        Airedale Hospital<br>
        Steeton Road<br>
        Steeton<br>
        BD23 2LP<br>
      </dd> 
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Who will support you</dt>
      <dd class="nhsuk-summary-list__value">Volunteer Coordinator</dd> 
    </div>
  
    </dd> 
    </div>
  </div>


<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-s">
      What happens after you apply for this opportunity

    </h2>
   <p>We welcome new volunteers at certain times during the year.
  </p>
  <p>We'll get in touch with you when we review the registration list.</p>
  <p>We'll then discuss which roles are available and how you can support us.</p>
  <p>To become a volunteer, you may need to:</p>
 <ul class="nhsuk-list nhsuk-list--bullet">
    <li>provide proof of identity and some utility bills </li>
    <li>go through a standard or enhanced Disclosure and Barring Service (DBS) and occupational health checks</li>
    <li>prove your right to work in the UK</li>
    <li>provide details of your work history</li>
    <li>give the details of two referees</li>
  </ul>
  </div>
</div>



<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     About Airdale NHS Foundation Trust
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>At Airdale NHS Foundation Trust, we have a team of brilliant and valued volunteers who give their time to make a difference for patients and medical staff.</p>
 <p>We have a dedicated team of staff who supports our volunteers from the start. We provide comprehensive induction and ongoing training. We can ensure you feel welcome and part of the team. We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.</p>

</div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     Who to contact if you have questions
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p class="nhsuk-card__description">Contact: Emma Recruiter, Walk and Talk Team Leader</p>
    <p class="nhsuk-card__description">Telephone: 01824 24895</p>
    <p class="nhsuk-card__description">Email: emmarecruiter@nhs.net</p>
</div>
</details>

<a class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button" type="submit" href="/v9/application/start">
  Apply for this opportunity
</a>


</div>
</div>




















{% endblock %}

 

<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
